<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="quickcall-user-server" owner="len.song" organization="xiaoniu"/>

    <!-- registry address, used for service to register itself-->
    <dubbo:protocol name="dubbo" port="21353" serialization="kryo"/>

    <!-- 注册服务端 -->
    <dubbo:service group="userCenter" interface="com.honglu.quickcall.user.facade.business.UserDubboBusiness"
                   ref="User.UserDubboBusiness" timeout="30000" retries="0" version="0.0.1"/>

    <!-- 注册服务端 - 发送APP消息服务 -->
    <dubbo:service group="userCenter" interface="com.honglu.quickcall.user.facade.business.UserPushAppMsgBusiness"
                   ref="User.UserPushAppMsgBusiness" timeout="30000" retries="0" version="0.0.1" async="true"/>
</beans>