<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费者 -->
    <dubbo:reference group="accountCenter" id="accountDubboBusiness" interface="com.honglu.quickcall.account.facade.business.AccountDubboBusiness" check="false" version="0.0.1"/>

    <!-- account中 - 订单服务 -->
    <dubbo:reference group="accountCenter" id="accountOrderService" interface="com.honglu.quickcall.account.facade.business.IAccountOrderService" check="false" version="0.0.1"/>

    <dubbo:reference group="activityCenter" id="activityDubboBusiness" interface="com.honglu.quickcall.activity.facade.business.ActivityDubboBusiness" check="false" version="0.0.1"/>

    <!-- 神策埋点服务 -->
    <dubbo:reference group="buryDataCenter" id="dataDuriedPointBusiness" interface="com.honglu.quickcall.producer.facade.business.DataDuriedPointBusiness" check="false" version="1.0.0"/>
    
    
</beans>