<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductExt">

	<resultMap type="com.calf.module.bussiness.entity.ProductExt" id="productExtMap">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="prodId" column="prod_id" javaType="java.lang.String"></result>
		<result property="spreadType" column="spread_type" javaType="java.lang.String"></result>
		<result property="offlineReason" column="offline_reason" javaType="java.lang.String"></result>
		<result property="onlineTime" column="online_time" javaType="java.util.Date"></result>
		<result property="offlineTime" column="offline_time" javaType="java.util.Date"></result>
		<result property="officialWebset" column="official_webset" javaType="java.lang.String"></result>
		<result property="servicePhone" column="service_phone" javaType="java.lang.String"></result>
		<result property="productStatus" column="product_status" javaType="java.lang.Integer"></result>
		<result property="auditStatus" column="audit_status" javaType="java.lang.Integer"></result>
		<result property="auditFlag" column="audit_flag" javaType="java.lang.Integer"></result>
		<result property="auditDate" column="audit_Date" javaType="java.util.Date"></result>
		<result property="auditReason" column="audit_reason" javaType="java.lang.String"></result>
		<result property="auditType" column="audit_type" javaType="java.lang.Integer"></result>
		
		<result property="backFlag" column="back_flag" javaType="java.lang.Integer"></result>
		<result property="backUrl" column="back_url" javaType="java.lang.String"></result>
		<result property="backAccount" column="back_account" javaType="java.lang.String"></result>
		<result property="backPwd" column="back_pwd" javaType="java.lang.String"></result>
		<!-- <result property="expectCount" column="expect_count" javaType="java.lang.Integer"></result> -->
		
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.util.Date"></result>
		<result property="modifyTime" column="modify_time" javaType="java.util.Date"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
id,	prod_id,spread_type,	offline_reason,	online_time,offline_time,	official_webset,	service_phone,product_status,	audit_status,audit_flag,	audit_Date ,audit_reason,	audit_type,back_flag,back_url,back_account,back_pwd<!-- ,expect_count -->,create_man,	modify_man,	create_time,	modify_time
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="productExtMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_ext
		 WHERE id = #{id}
	</select>
	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityByProductId" resultMap="productExtMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_ext
		 WHERE prod_id = #{productId}
	</select>


	<!-- 查询（根据主键ID查询） -->
	<select id="getById" resultMap="productExtMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_ext
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.String">
		 DELETE FROM product_ext
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.calf.module.bussiness.entity.ProductExt">
		 INSERT INTO product_ext
 		(id,prod_id,spread_type,offline_reason,online_time ,offline_time,official_webset,service_phone,product_status,audit_status,audit_flag,audit_Date,audit_reason,audit_type,back_flag,back_url,back_account,back_pwd<!-- ,expect_count -->,create_man,modify_man,create_time,modify_time) 
		 VALUES 
 		(#{id},#{prodId},#{spreadType},#{offlineReason},#{onlineTime},#{offlineTime},#{officialWebset},#{servicePhone},#{productStatus},#{auditStatus},#{auditFlag},#{auditDate},#{auditReason},#{auditType},#{backFlag},#{backUrl},#{backAccount},#{backPwd}<!-- ,#{expectCount} -->,#{createMan},#{modifyMan},#{createTime},#{modifyTime}) 
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.calf.module.bussiness.entity.ProductExt">
		 UPDATE product_ext
 		  <set> 
			<if test="prodId != null">
				 prod_id = #{prodId},
			</if>
			<if test="spreadType != null">
				 spread_type = #{spreadType},
			</if>
			<if test="offlineReason == null">
				 offline_reason = NULL,
			</if>
			<if test="offlineReason != null">
				 offline_reason = #{offlineReason},
			</if>
			<if test="onlineTime != null">
				 online_time = #{onlineTime},
			</if>
			<if test="onlineTime == null">
				 online_time = NULL,
			</if>
			
			<if test="offlineTime != null">
				 offline_time = #{offlineTime},
			</if>
			<if test="offlineTime == null">
				 offline_time  = NULL,
			</if>
			<if test="officialWebset != null">
				 official_webset = #{officialWebset},
			</if>
			<if test="servicePhone != null">
				 service_phone = #{servicePhone},
			</if>
			<if test="productStatus != null">
				 product_status = #{productStatus},
			</if>
			<if test="auditStatus != null">
				 audit_status = #{auditStatus},
			</if>
			<if test="auditFlag != null">
				 audit_flag = #{auditFlag},
			</if>
			<if test="auditDate != null">
				 audit_date = #{auditDate},
			</if>
			<if test="auditReason != null">
				 audit_reason = #{auditReason},
			</if>
			<if test="auditReason == null">
				 audit_reason  = NULL,
			</if>
			<if test="auditType != null"> 
				 audit_type = #{auditType},
			</if>
			
			
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			back_flag = #{backFlag},
			back_url = #{backUrl},
			back_account = #{backAccount},
			back_pwd = #{backPwd}
			<!-- ,
			expect_count = #{expectCount} -->
			
 		 </set>
		 WHERE prod_id = #{prodId}
	</update>
	
	
	<!-- 修 改-->
	<update id="updateExtAudit" parameterType="com.calf.module.bussiness.entity.ProductExt">
		 UPDATE product_ext
 		  <set> 
			<if test="prodId != null">
				 prod_id = #{prodId},
			</if>
			<if test="spreadType != null">
				 spread_type = #{spreadType},
			</if>
			<if test="offlineReason != null">
				 offline_reason = #{offlineReason},
			</if>
			<if test="productStatus != null">
				 product_status = #{productStatus},
			</if>
			<if test="auditStatus != null">
				 audit_status = #{auditStatus},
			</if>
			<if test="auditFlag != null">
				 audit_flag = #{auditFlag},
			</if>
			<if test="auditDate != null">
				 audit_date = #{auditDate},
			</if>
			<if test="auditReason != null">
				 audit_reason = #{auditReason},
			</if>
			<if test="auditType != null"> 
				 audit_type = #{auditType},
			</if>
			
			
<!-- 			<if test="backFlag != null"> 
				 back_flag = #{backFlag},
			</if>
			<if test="backUrl != null"> 
				 back_url = #{backUrl},
			</if>
			<if test="backAccount != null"> 
				 back_account = #{backAccount},
			</if>
			<if test="backPwd != null"> 
				 back_pwd = #{backPwd},
			</if>
 -->			
			
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
 		 </set>
		 WHERE prod_id = #{prodId}
	</update>
	<!-- 修 改-->
	<update id="updateExtAuditExt" parameterType="com.calf.module.bussiness.entity.ProductExt">
		 UPDATE product_ext
 		  <set> 
			<if test="prodId != null">
				 prod_id = #{prodId},
			</if>
			<if test="spreadType != null">
				 spread_type = #{spreadType},
			</if>
			<if test="offlineReason != null">
				 offline_reason = #{offlineReason},
			</if>
			<if test="productStatus != null">
				 product_status = #{productStatus},
			</if>
			<if test="auditStatus != null">
				 audit_status = #{auditStatus},
			</if>
			<if test="auditFlag != null">
				 audit_flag = #{auditFlag},
			</if>
			<if test="auditDate != null">
				 audit_date = #{auditDate},
			</if>
			<if test="auditReason != null">
				 audit_reason = #{auditReason},
			</if>
			<if test="auditReason == null">
				 audit_reason = NULL,
			</if>
			<if test="auditType != null"> 
				 audit_type = #{auditType},
			</if>
					
			
			<!-- <if test="backFlag != null"> 
				 back_flag = #{backFlag},
			</if>
			<if test="backUrl != null"> 
				 back_url = #{backUrl},
			</if>
			<if test="backAccount != null"> 
				 back_account = #{backAccount},
			</if>
			<if test="backPwd != null"> 
				 back_pwd = #{backPwd},
			</if> -->
			
			
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
 		 </set>
		 WHERE prod_id = #{prodId}
	</update>
	
	
		<!-- 查询（根据产品ID查询） -->
	<select id="getEntityByProdId" resultType="com.calf.module.bussiness.vo.ProductExtCopyVO" parameterType="java.lang.String">
		 SELECT
		 ext.id  AS  id,
		 ext.official_webset  as  officialWebset,	
		 ext.service_phone as  servicePhone,
		 ext.offline_reason  as offlineReason,
		 ext.online_time  AS  shangxianTime,	
		 ext.offline_time  AS  xiaxianTime,	
		 ext.product_status as productStatus,
		 ext.spread_type  as  spreadType,
		 ext.audit_status  as  auditStatus,
		 ext.back_flag as  backFlag ,
		 ext.back_url  as  backUrl,
		 ext.back_account  as backAccount,
		 ext.back_pwd  as  backPwd
		<!--  ,
		 ext.expect_count as expectCount -->
		 FROM product_ext  ext 
		 WHERE  ext.prod_id = #{productId}
	</select>
 
 


	
	<select id="getOfflineInfo" resultType="com.calf.module.bussiness.vo.ProductOfflineVO" parameterType="java.lang.String">
			SELECT
			  	  bp.company_name  AS  companyName,
				  bp.product_name  AS  productName,
				  DATE_FORMAT(pl.online_time, '%Y-%m-%d %H:%m:%d')  AS  onlineTime,
				  pe.offline_reason  AS  offlineReason,
				  DATE_FORMAT(pe.offline_time, '%Y-%m-%d %H:%m:%d')  AS  orderOfflineTime
			FROM
				buss_product bp
			LEFT JOIN product_lifecycle pl ON bp.product_id = pl.prod_id
			LEFT JOIN product_ext   pe   ON  bp.product_id =  pe.prod_id
			WHERE  bp.product_id = #{productId}
	</select>
	
	
		<!-- 查询（根据状态查询） -->
	<select id="queryByStatus" resultMap="productExtMap" parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM
			product_ext
		WHERE
			audit_flag in (#{auditFlag},#{auditCommonFlag})
		AND audit_status = #{auditStatus}
		AND product_status = #{productStatus}  
		
		<if test="productStatusExt != null">
		    OR product_status = #{productStatusExt}
		</if>
		<if test="onlineTime != null">
		    AND  online_time  IS NOT NULL 
			AND  online_time <![CDATA[ < ]]> #{onlineTime}
		</if>
		<if test="offlineTime != null">
		    AND  offline_time  IS NOT NULL
			AND  offline_time <![CDATA[ < ]]> #{offlineTime}
		</if>
		
	</select>
		<!-- 查询（根据状态查询） -->
	<select id="queryByStatusExt" resultMap="productExtMap" parameterType="map">
		(SELECT
			<include refid="Base_Column_List" />
		FROM
			product_ext
		WHERE
			audit_flag IN (#{auditFlag_6} , #{auditFlag_14})
		AND product_status = #{productStatus_1}
		AND audit_status = #{auditStatus}
		AND offline_time  IS  NOT  NULL
		AND offline_time  <![CDATA[ < ]]> #{offlineTime} )
		UNION 
		(SELECT
			<include refid="Base_Column_List" />
		FROM
			product_ext
		WHERE
			audit_flag IN (#{auditFlag_4})
		AND product_status = #{productStatus_5}
		AND audit_status =  #{auditStatus}
		AND offline_time  IS  NOT  NULL
		AND offline_time  <![CDATA[ < ]]> #{offlineTime} )
		
	</select>
	
		<!-- 查询审核通过且符合条件的上线-->
	<select id="queryAppointByStatus" resultType="com.calf.module.bussiness.vo.ProductAppointVO" parameterType="map">
		SELECT
			pext.prod_id AS  productId,
			pao.id  AS  id
		FROM
			product_ext pext
		LEFT JOIN product_appoint_online pao ON pext.prod_id = pao.product_id
		WHERE
			pao.order_time <![CDATA[ < ]]> #{currTime}
		AND pao.status = 1
		AND pext.audit_flag = #{auditFlag}
		AND pext.audit_status = #{auditStatus}
		AND pext.product_status = #{productStatus}
	</select>
	
	
	<!-- 修改部分 -->
	<update id="updatePoductExtPart" parameterType="map">
		 UPDATE 
		 	product_ext
		 SET 
		 	online_time = #{onlineTime},
			offline_time = #{offlineTime},
			modify_time = NOW(),
			modify_man =#{modifyMan}
		 WHERE  
		 	id = #{id}
	</update>
	
	
	<!-- 下线操作修改 -->
	<update id="updatePoductExtOffLine" parameterType="map">
	
	UPDATE 
		product_ext
    SET 
		audit_status = #{auditStatus},
		<if test="productStatus != null">
			product_status = #{productStatus},
		</if>
		audit_reason = #{refuseReason},
		<if test="offlineReason != null">
			offline_reason = #{offlineReason},
		</if>
		<if test="auditFlag != null">
			audit_flag = #{auditFlag},
		</if>
		offline_time = #{offlineTime},
		modify_time = NOW(),
		modify_man =#{modifyMan}
	WHERE  
		id = #{id}
	
<!-- 		 UPDATE 
		 	product_ext
		 SET 
		 	online_time = #{onlineTime},
			offline_time = #{offlineTime},
			modify_time = NOW(),
			modify_man =#{modifyMan}
		 WHERE  
		 	id = #{id} -->
	</update>
	
	
	
	
</mapper>