<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductLifecycle">

<resultMap type="com.calf.module.bussiness.entity.ProductLifecycle" id="productLifecycleMap">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="prodId" column="prod_id" javaType="java.lang.String"></result>
		<result property="onlineTime" column="online_time" javaType="java.util.Date"></result>
		<result property="onlineReason" column="online_reason" javaType="java.lang.String"></result>
		<result property="offlineTime" column="offline_time" javaType="java.util.Date"></result>
		<result property="offlineReason" column="offline_reason" javaType="java.lang.String"></result>
		<result property="status" column="status" javaType="java.lang.Integer"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.util.Date"></result>
		<result property="modifyTime" column="modify_time" javaType="java.util.Date"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
id,	prod_id,	online_time,	online_reason,	offline_time,	offline_reason,	status,	remark,	create_man,	modify_man,	create_time,	modify_time
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="productLifecycleMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_lifecycle
		 WHERE id = #{id}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="productLifecycleMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_lifecycle
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.String">
		 DELETE FROM product_lifecycle
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.calf.module.bussiness.entity.ProductLifecycle">
		 INSERT INTO product_lifecycle
 		(id,prod_id,online_time,online_reason,offline_time,offline_reason,status,remark,create_man,modify_man,create_time,modify_time) 
		 VALUES 
 		(#{id},#{prodId},#{onlineTime},#{onlineReason},#{offlineTime},#{offlineReason},#{status},#{remark},#{createMan},#{modifyMan},#{createTime},#{modifyTime}) 
	</insert>
	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.calf.module.bussiness.entity.ProductLifecycle">
		 INSERT INTO product_lifecycle
 		(id,prod_id,online_time,online_reason,offline_time,offline_reason,status,remark,create_man,modify_man,create_time,modify_time) 
		 VALUES 
 		(#{id},#{prodId},#{onlineTime},#{onlineReason},#{offlineTime},#{offlineReason},#{status},#{remark},#{createMan},#{modifyMan},#{createTime},#{modifyTime}) 
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.calf.module.bussiness.entity.ProductLifecycle">
		 UPDATE product_lifecycle
 		 <set> 
			<if test="prodId != null">
				 prod_id = #{prodId},
			</if>
			<if test="onlineTime != null">
				 online_time = #{onlineTime},
			</if>
			<if test="onlineReason != null">
				 online_reason = #{onlineReason},
			</if>
			<if test="offlineTime != null">
				 offline_time = #{offlineTime},
			</if>
			<if test="offlineReason != null">
				 offline_reason = #{offlineReason},
			</if>
			<if test="status != null">
				 status = #{status},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>
	<select id="getFirstOnlineTime" parameterType="map" resultType="string">
		  SELECT online_time
		   FROM product_lifecycle
		   WHERE prod_id = #{arg0}
		   ORDER BY
		   online_time
		   limit 1
	</select>
	<select id="getLastOnlineTime" parameterType="map" resultType="string">
		SELECT online_time
		FROM product_lifecycle
		WHERE prod_id = #{arg0}
		ORDER BY
		online_time DESC
		limit 1
	</select>
	<select id="getLastDownlineTime" parameterType="map" resultType="string">
		  SELECT offline_time
		   FROM product_lifecycle
		   WHERE prod_id = #{arg0}
		   ORDER BY
		   offline_time DESC
		   limit 1
	</select>
	<select id="queryByProductId" parameterType="map" resultMap="productLifecycleMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_lifecycle
		WHERE prod_id = #{productId}
	</select>
	
	
	<select id="queryByProductIdExt" parameterType="map" resultMap="productLifecycleMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_lifecycle
		WHERE prod_id = #{productId}
		and  status = 1
		order  by  create_time  DESC
		limit 1
	</select>
	
	
</mapper>