<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LayLevel">

	<resultMap type="com.calf.module.laylevel.entity.LayLevel" id="BaseResultMap">
		<id property="layLevelId" column="lay_level_id" javaType="java.lang.String"></id>
		<result property="layImg" column="lay_img" javaType="java.lang.String"></result>
		<result property="layUrl" column="lay_url" javaType="java.lang.String"></result>
		<result property="layTopic" column="lay_topic" javaType="java.lang.String"></result>
		<result property="deviceType" column="device_type" javaType="java.lang.String"></result>
		<result property="version" column="version" javaType="java.lang.String"></result>
		<result property="versionRule" column="version_rule" javaType="java.lang.Integer"></result>
		<result property="state" column="state" javaType="java.lang.Integer"></result>
		<result property="startTime" column="start_time" javaType="java.lang.String"></result>
		<result property="endTime" column="end_time" javaType="java.lang.String"></result>
		<result property="startType" column="start_type" javaType="java.lang.Integer"></result>
		<result property="sort" column="sort" javaType="java.lang.Integer"></result>
		<result property="layLocation" column="lay_location" javaType="java.lang.Integer"></result>
		<result property="oparationMan" column="oparation_man" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
lay_level_id,	lay_img,	lay_url,	lay_topic,	device_type,	version,	version_rule,	state,	start_time,	end_time,	start_type,	sort,	lay_location,	oparation_man,	create_time,	create_man,	modify_time,	modify_man,	remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM lay_level
		 WHERE lay_level_id = #{arg0}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM lay_level
		 WHERE lay_level_id = #{layLevelId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="delete" parameterType="java.lang.String">
		 DELETE FROM lay_level
		 WHERE lay_level_id = #{arg0}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.calf.module.laylevel.entity.LayLevel">
		 INSERT INTO lay_level
 		(lay_level_id,lay_img,lay_url,lay_topic,device_type,version,version_rule,state,start_time,end_time,start_type,sort,lay_location,oparation_man,create_time,create_man,modify_time,modify_man,remark)
		 VALUES 
 		(#{layLevelId},#{layImg},#{layUrl},#{layTopic},#{deviceType},#{version},#{versionRule},#{state},#{startTime},#{endTime},#{startType},#{sort},#{layLocation},#{oparationMan},#{createTime},#{createMan},#{modifyTime},#{modifyMan},#{remark})
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.calf.module.laylevel.entity.LayLevel">
		 UPDATE lay_level
 		 <set> 
			<if test="layImg != null">
				 lay_img = #{layImg},
			</if>
			<if test="layUrl != null">
				 lay_url = #{layUrl},
			</if>
			<if test="layTopic != null">
				 lay_topic = #{layTopic},
			</if>
			<if test="deviceType != null">
				 device_type = #{deviceType},
			</if>
			<if test="version != null">
				 version = #{version},
			</if>
			 <if test="versionRule != null">
				 version_rule = #{versionRule},
			 </if>
			<if test="state != null">
				 state = #{state},
			</if>
			<if test="startTime != null">
				 start_time = #{startTime},
			</if>
			<if test="endTime != null">
				 end_time = #{endTime},
			</if>
			<if test="startType != null">
				 start_type = #{startType},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="layLocation != null">
				 lay_location = #{layLocation},
			</if>
			<if test="oparationMan != null">
				 oparation_man = #{oparationMan},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE lay_level_id = #{layLevelId}
	</update>
	<select id="query" resultMap="BaseResultMap" parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM lay_level
		WHERE 1 = 1
		<if test="layTopic != null and layTopic != ''">
			AND lay_topic = #{layTopic}
		</if>
		<if test="state != null and state != ''">
			AND state = #{state}
		</if>
	</select>
	<select id="queryLayLevelCount" resultType="int" parameterType="map">
		SELECT
		count(1)
		FROM lay_level
		WHERE 1 = 1
		<if test="layTopic != null and layTopic != ''">
			AND lay_topic = #{layTopic}
		</if>
		<if test="state != null and state != ''">
			AND state = #{state}
		</if>
	</select>
</mapper>