<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppType">

	<resultMap type="AppType" id="appTypeinfoMap">
		<id property="appTypeId" column="app_type_id"></id>
		<result property="appTypeCode" column="app_type_code"></result>
		<result property="appTypeName" column="app_type_name"></result>
		<result property="state" column="state"></result>
		<result property="createTime" column="create_time"></result>
		<result property="createMan" column="create_man"></result>
		<result property="modifyTime" column="modify_time"></result>
		<result property="modifyMan" column="modify_man"></result>
		<result property="remark" column="remark"></result>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		app_type_id, app_type_code, app_type_name, state,
		create_time, create_man,
		modify_time, modify_man, remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getAppTypeById" parameterType="map" resultMap="appTypeinfoMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM app_type
		WHERE app_type_id = #{arg0}
	</select>
	
	
	<select id="getAppTypeByCode" parameterType="map" resultMap="appTypeinfoMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM app_type
		WHERE app_type_code = #{appTypeCode}
	</select>
	
	<select id="get" parameterType="map" resultMap="appTypeinfoMap">
		select
		<include refid="Base_Column_List" />
		from app_type
	</select>
	
	
	<delete id="delete" parameterType="map">
		DELETE FROM app_type
		WHERE
		app_type_id =
		#{arg0}
	</delete>
	
	<select id="queryCount" parameterType="map" resultType="int">
		select count(app_type_id) from app_type where 1=1
		<if test="appTypeCode !=null"> and app_type_code = #{appTypeCode}</if>
		<if test="appTypeName !=null"> and app_type_name like concat('%',#{appTypeName},'%')</if>
		<if test="state !=null"> and state = #{state}</if>
	</select>
	<select id="query" parameterType="map" resultMap="appTypeinfoMap">
		select
		<include refid="Base_Column_List" />
		from
		app_type where 1=1
		<if test="appTypeCode !=null"> and app_type_code  = #{appTypeCode}</if>
		<if test="appTypeName !=null"> and app_type_name like concat('%',#{popup},'%')</if>
		<if test="state !=null"> and state = #{state}</if>
		order by create_time desc
		limit ${iDisplayStart},${iDisplayLength}
	</select>
	
	
	
	<insert id="insert" parameterType="map">
		 INSERT INTO app_type
 		(app_type_id,app_type_code,app_type_name,create_time,create_man,modify_time,modify_man,remark,state)
		 VALUES 
 		(#{appTypeId},#{appTypeCode},#{appTypeName},#{createTime},#{createMan},current_timestamp(),#{modifyMan},
 		#{remark},#{state})
	</insert>
	
	
	<!-- 修 改 -->
	<update id="update" parameterType="map">
		UPDATE app_type
		<set>
			<if test="appTypeCode != null">
				app_type_code = #{appTypeCode},
			</if>
			<if test="appTypeName != null">
				app_type_name = #{appTypeName},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
		</set>
		WHERE app_type_id = #{appTypeId}
	</update>

</mapper>