<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ActivityRecord">
  <sql id="Base_Column_List">
    id, activity_id, task_id, user_id, ac_title, schedule, recharge_amount, award_amount, 
    record, create_time, remark,ratio_amount
  </sql>

  <!-- 查询全部信息 -->
  <select id="activityRecord_all" resultType="ActivityRecord" parameterType="Map">
    SELECT
    <include refid="Base_Column_List" />
    FROM activity_record ORDER BY create_time ASC
    <if test="begin!=null and last!=null">
      LIMIT #{begin},#{last}
    </if>
  </select>
  
  <!-- 查询全部信息 -->
  <select id="selectByUserIdAndActivityIdLimit1" resultType="ActivityRecord" parameterType="Map">
    SELECT
    <include refid="Base_Column_List" />
    FROM activity_record 
    where activity_id=#{activityId}
    and user_id= #{userId}
    ORDER BY id desc
    limit 1
  
  </select>
  
  <!-- 查询全部信息 -->
  <select id="selectByUserIdAndActivity" resultType="ActivityRecord" parameterType="Map">
    SELECT
    sum(ratio_amount) as totalRecharge,sum(award_amount) as totalAward
    FROM activity_record 
    inner join activity on activity_record.activity_id=activity.id
    where user_id=#{userId}
    and activity.ac_uuid=#{activityId}
    limit 1
  </select>
  
    <select id="selectByUserIdAndActivityId" resultType="ActivityRecord" parameterType="Map">
    SELECT
    *
    FROM activity_record 
    where user_id=#{userId}
    and activity_id=#{activityId}
    and other_id=#{otherId}
    and recharge_amount is not null
    limit 1
  </select>

  <select id="selectSchedule" resultType="int" parameterType="ActivityRecord">
    SELECT COUNT(*) from activity_record
    WHERE task_id = #{task_id,jdbcType=INTEGER} and user_id = #{user_id,jdbcType=INTEGER}
  </select>


  <select id="selectCountByUserIdAndTaskId" resultType="int" parameterType="Map">
    SELECT COUNT(*) from activity_record
    WHERE task_id = #{taskId} and user_id = #{persionId}
  </select>

  <select id="selectByTaskIdAndUserId" resultType="ActivityRecord" parameterType="Map">
    SELECT create_time,award_amount from activity_record
    WHERE task_id = #{taskId} and user_id = #{persionId}
  </select>

  <select id="selectActivityRecordByuserId" parameterType="ActivityRecord" resultType="Integer">
    SELECT sum(award_amount) from activity_record
    WHERE task_id = #{task_id,jdbcType=INTEGER} and user_id = #{user_id,jdbcType=INTEGER}
    
    <if test="type==1">
     GROUP BY record HAVING record='心动女神每日分享'
    </if>
     <if test="type==2">
      GROUP BY record HAVING record='心动女神畅聊包'
    </if>
    <if test="type==3">
     GROUP BY record HAVING record='心动女神抽奖'
    </if>
    <if test="type==4">
     GROUP BY record HAVING record='除夕活动-红包奖励'
    </if>
  </select>
  

  <!-- 查询数据总数 -->
  <select id="activityRecord_all_count" resultType="Integer">
    SELECT COUNT(ID) FROM activity_record
  </select>

  <select id="selectByKey" parameterType="ActivityRecord" resultType="ActivityRecord">
    select 
    <include refid="Base_Column_List" />
    from activity_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="ActivityRecord">
    insert into activity_record (id, activity_id, task_id, 
      user_id, ac_title, schedule, 
      recharge_amount, award_amount, record, 
      create_time, remark,ratio_amount,other_id)
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{acTitle,jdbcType=VARCHAR}, #{schedule,jdbcType=INTEGER}, 
      #{rechargeAmount,jdbcType=DECIMAL}, #{awardAmount,jdbcType=DECIMAL}, #{record,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{ratio_amount,jdbcType=DECIMAL},#{other_id,jdbcType=INTEGER})
  </insert>
  <insert id="insert" parameterType="ActivityRecord">
    insert into activity_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="activity_id != null">
        activity_id,
      </if>
      <if test="task_id != null">
        task_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="ac_title != null">
        ac_title,
      </if>
      <if test="schedule != null">
        schedule,
      </if>
      <if test="recharge_amount != null">
        recharge_amount,
      </if>
      <if test="award_amount != null">
        award_amount,
      </if>
      <if test="record != null">
        record,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="ratio_amount != null">
        ratio_amount,
      </if>
      <if test="other_id != null">
        other_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activity_id != null">
        #{activity_id,jdbcType=INTEGER},
      </if>
      <if test="task_id != null">
        #{task_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="ac_title != null">
        #{ac_title,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null">
        #{schedule,jdbcType=INTEGER},
      </if>
      <if test="recharge_amount != null">
        #{recharge_amount,jdbcType=DECIMAL},
      </if>
      <if test="award_amount != null">
        #{award_amount,jdbcType=DECIMAL},
      </if>
      <if test="record != null">
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ratio_amount != null">
        #{ratio_amount,jdbcType=VARCHAR},
      </if>
      <if test="other_id != null">
         #{other_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  
  <select id="smashingEggsMoney" resultType="Integer" parameterType="Map">
  SELECT
    sum(award_amount)
    FROM activity_record 
    where user_id=#{userId}
    and activity_id=#{activityId}
  </select>
  
  
  <select id="queryGrabHistory" resultType="ActivityRecord" parameterType="Map" >
  SELECT  *  from activity_record 
   where DATE_FORMAT(create_time,'%Y-%m-%d')=#{time} 
  
   <if test="type==1">
     and  record='充值限时抢活动-抢' 
    </if>
    <if test="type==2">
     and  record='充值优惠限时抢-充值赠送' 
    </if>
    <if test="type==3">
    and record='除夕活动-抽取红包'
    </if>
    
   and user_id=#{userId}
  
  </select>
  
  
  
</mapper>