<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Activity">

  <sql id="Base_Column_List">
    id, ac_title, ac_content, ac_begin_time, ac_end_time, ac_pic_one, ac_pic_two, ac_pic_three, 
    ac_url, ac_type, ac_sex, ac_state, create_time, create_man, remark, check_number,return_money,
    participants_amount,activity_money,ac_uuid
  </sql>

  <!-- 查询全部信息 -->
  <select id="activity_all" resultType="Activity" parameterType="Map">
    SELECT
    <include refid="Base_Column_List" />
    FROM activity ORDER BY create_time ASC
    <if test="begin!=null and last!=null">
      LIMIT #{begin},#{last}
    </if>
  </select>
  
   <!-- 查询全部信息 -->
  <select id="selectByReturnMoney" resultType="Activity">
    SELECT
    <include refid="Base_Column_List" />
    FROM activity
    where return_money=1
    and ac_state=1
    ORDER BY create_time desc
  </select>
  
  <select id="selectByActivityId" resultType="Activity" >
    SELECT
    <include refid="Base_Column_List" />
    FROM activity 
    where ac_uuid=#{activityId}
    and ac_state=1
  </select>

  <!-- 查询数据总数 -->
  <select id="activity_all_count" resultType="Integer">
    SELECT COUNT(ID) FROM activity
  </select>

  <select id="selectByKey" parameterType="Activity" resultType="Activity">
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByKey" parameterType="Activity">
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="Activity">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ac_title != null">
        ac_title,
      </if>
      <if test="ac_content != null">
        ac_content,
      </if>
      <if test="ac_begin_time != null">
        ac_begin_time,
      </if>
      <if test="ac_end_time != null">
        ac_end_time,
      </if>
      <if test="ac_pic_one != null">
        ac_pic_one,
      </if>
      <if test="ac_pic_two != null">
        ac_pic_two,
      </if>
      <if test="ac_pic_three != null">
        ac_pic_three,
      </if>
      <if test="ac_url != null">
        ac_url,
      </if>
      <if test="ac_type != null">
        ac_type,
      </if>
      <if test="ac_sex != null">
        ac_sex,
      </if>
      <if test="ac_state != null">
        ac_state,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="create_man != null">
        create_man,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ac_title != null">
        #{ac_title,jdbcType=VARCHAR},
      </if>
      <if test="ac_content != null">
        #{ac_content,jdbcType=VARCHAR},
      </if>
      <if test="ac_begin_time != null">
        #{ac_begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ac_end_time != null">
        #{ac_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ac_pic_one != null">
        #{ac_pic_one,jdbcType=VARCHAR},
      </if>
      <if test="ac_pic_two != null">
        #{ac_pic_two,jdbcType=VARCHAR},
      </if>
      <if test="ac_pic_three != null">
        #{ac_pic_three,jdbcType=VARCHAR},
      </if>
      <if test="ac_url != null">
        #{ac_url,jdbcType=VARCHAR},
      </if>
      <if test="ac_type != null">
        #{ac_type,jdbcType=INTEGER},
      </if>
      <if test="ac_sex != null">
        #{ac_sex,jdbcType=INTEGER},
      </if>
      <if test="ac_state != null">
        #{ac_state,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_man != null">
        #{create_man,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="check_number != null">
        #{check_number,jdbcType=INTEGER},
      </if>
      <if test="return_money != null">
        #{return_money,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="Activity">
    update activity
    <set>
      <if test="ac_title != null">
        ac_title = #{ac_title,jdbcType=VARCHAR},
      </if>
      <if test="ac_content != null">
        ac_content = #{ac_content,jdbcType=VARCHAR},
      </if>
      <if test="ac_begin_time != null">
        ac_begin_time = #{ac_begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ac_end_time != null">
        ac_end_time = #{ac_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ac_pic_one != null">
        ac_pic_one = #{ac_pic_one,jdbcType=VARCHAR},
      </if>
      <if test="ac_pic_two != null">
        ac_pic_two = #{ac_pic_two,jdbcType=VARCHAR},
      </if>
      <if test="ac_pic_three != null">
        ac_pic_three = #{ac_pic_three,jdbcType=VARCHAR},
      </if>
      <if test="ac_url != null">
        ac_url = #{ac_url,jdbcType=VARCHAR},
      </if>
      <if test="ac_type != null">
        ac_type = #{ac_type,jdbcType=INTEGER},
      </if>
      <if test="ac_sex != null">
        ac_sex = #{ac_sex,jdbcType=INTEGER},
      </if>
      <if test="ac_state != null">
        ac_state = #{ac_state,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_man != null">
        create_man = #{create_man,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="check_number != null">
        check_number = #{check_number,jdbcType=INTEGER},
      </if>
      <if test="return_money != null">
        return_money = #{return_money,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateActivityState" parameterType="Activity">
    update activity
    set
    ac_state = #{ac_state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>