<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Ad" >
  <select id="selectByPrimaryKey" resultType="Ad" parameterType="java.lang.Integer" >
    select *    from ad    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ad    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Ad" >
    insert into ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ad_photo != null" >
        ad_photo,
      </if>
      <if test="ad_address != null" >
        ad_address,
      </if>
      <if test="ad_place != null" >
        ad_place,
      </if>
      <if test="ad_state != null" >
        ad_state,
      </if>
      <if test="ad_content != null" >
        ad_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ad_photo != null" >
        #{ad_photo,jdbcType=VARCHAR},
      </if>
      <if test="ad_address != null" >
        #{ad_address,jdbcType=VARCHAR},
      </if>
      <if test="ad_place != null" >
        #{ad_place,jdbcType=INTEGER},
      </if>
      <if test="ad_state != null" >
        #{ad_state,jdbcType=INTEGER},
      </if>
      <if test="ad_content != null" >
        #{ad_content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="Ad" >
    update ad
    <set >
      <if test="ad_photo != null" >
        ad_photo = #{ad_photo,jdbcType=VARCHAR},
      </if>
      <if test="ad_address != null" >
        ad_address = #{ad_address,jdbcType=VARCHAR},
      </if>
      <if test="ad_place != null" >
        ad_place = #{ad_place,jdbcType=INTEGER},
      </if>
      <if test="ad_state != null" >
        ad_state = #{ad_state,jdbcType=INTEGER},
      </if>
      <if test="ad_content != null" >
        ad_content = #{ad_content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 根据广告状态和旧页面的url地址查询广告列表 -->
  <select id="adQuery" resultType="Ad" parameterType="Ad">
      SELECT * FROM AD
      WHERE AD_STATE=1
      <if test="ad_sex != null">
       AND (ad_sex = #{ad_sex} OR ad_sex = 0)
      </if>
      <![CDATA[
        AND now() <= end_date
        AND now() >= begin_date
      ]]>
    order by ad_sex desc , ad_index asc
  </select>
  
  
  
  <!-- 根据插入学习记录表中课程的id给课程表中的学习人数加一  -->
  <!-- 根据插入的广告点击率表中广告的id给广告表中的的点击次数加一 -->
	<update id="updateAdNum" parameterType="Integer">
		update ad SET
		ad_num=ad_num+1 WHERE id=#{id}
  	</update>
  	
  	<update id="updateAdByNum" parameterType="Integer">
		update ad SET
		ad_num=ad_num+1 WHERE id=#{ad_id}
  	</update>

  <select id="queryStickers" resultType="map">
    SELECT ad_photo AS stickerUrl FROM ad WHERE ad_sex = 5
  </select>
</mapper>