<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.task.dao.ActivityRecordMapper">
  
  
  <select id="queryAll" resultType="com.honglu.quickcall.task.entity.ActivityRecord">
  SELECT b.user_id user_id,sum(b.award_amount) totalAward from activity_record b INNER JOIN activity_task a ON b.task_id=a.id 
 where a.task_uuid='fde09ef8-ee8f-4e42-a29f-a1bf19a98313' and b.record='心动女神畅聊包' 
 GROUP BY b.user_id;
  </select>
  
</mapper>