<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.task.dao.BigvScoreMapper" >
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.user.facade.entity.BigvScore" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="order_total" property="orderTotal" jdbcType="INTEGER" />
    <result column="score_total" property="scoreTotal" jdbcType="DECIMAL" />
    <result column="online_status" property="onlineStatus" jdbcType="INTEGER" />
    <result column="cust_status" property="custStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, order_total, score_total, online_status, cust_status,
    create_time, modify_time, create_man, modify_man, remark
  </sql>

  <insert id="insert" parameterType="com.honglu.quickcall.user.facade.entity.BigvScore" >
    insert into bigv_score (id, customer_id, order_total,
      score_total, create_man, modify_man, remark
      )
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{orderTotal,jdbcType=INTEGER},
      #{scoreTotal,jdbcType=DECIMAL}, #{createMan,jdbcType=VARCHAR}, #{modifyMan,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}
      )
  </insert>

  <!-- 更新大V评分 -->
  <update id="updateBigvScore">
      UPDATE bigv_score SET order_total = order_total + 1, score_total = score_total + #{valueScore}
      WHERE customer_id = #{customerId}
  </update>

</mapper>