<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.task.dao.DateIntegralMapper">
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.task.entity.DateIntegral">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="personId" jdbcType="INTEGER" property="personid" />
    <result column="cretaeTime" jdbcType="TIMESTAMP" property="cretaetime" />
    <result column="presentLove" jdbcType="INTEGER" property="presentlove" />
    <result column="presentScore" jdbcType="VARCHAR" property="presentscore" />
    <result column="serveTime" jdbcType="INTEGER" property="servetime" />
    <result column="serveScore" jdbcType="VARCHAR" property="servescore" />
    <result column="creditScore" jdbcType="INTEGER" property="creditscore" />
    <result column="staus" jdbcType="INTEGER" property="staus" />
    <result column="isAdd" jdbcType="INTEGER" property="isAdd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, personId, cretaeTime, presentLove, presentScore, serveTime, serveScore, creditScore, 
    staus,isAdd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dateintegral
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dateintegral
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honglu.quickcall.task.entity.DateIntegral">
    insert into dateintegral (id, personId, cretaeTime, 
      presentLove, presentScore, serveTime, 
      serveScore, creditScore, staus,isAdd
      )
    values (#{id,jdbcType=INTEGER}, #{personid,jdbcType=INTEGER}, #{cretaetime,jdbcType=TIMESTAMP}, 
      #{presentlove,jdbcType=INTEGER}, #{presentscore,jdbcType=VARCHAR}, #{servetime,jdbcType=INTEGER}, 
      #{servescore,jdbcType=VARCHAR}, #{creditscore,jdbcType=INTEGER}, #{staus,jdbcType=INTEGER}, #{isAdd,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.task.entity.DateIntegral">
    insert into dateintegral
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="personid != null">
        personId,
      </if>
      <if test="cretaetime != null">
        cretaeTime,
      </if>
      <if test="presentlove != null">
        presentLove,
      </if>
      <if test="presentscore != null">
        presentScore,
      </if>
      <if test="servetime != null">
        serveTime,
      </if>
      <if test="servescore != null">
        serveScore,
      </if>
      <if test="creditscore != null">
        creditScore,
      </if>
      <if test="staus != null">
        staus,
      </if>
      <if test="isAdd != null">
        isAdd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="personid != null">
        #{personid,jdbcType=INTEGER},
      </if>
      <if test="cretaetime != null">
        #{cretaetime,jdbcType=TIMESTAMP},
      </if>
      <if test="presentlove != null">
        #{presentlove,jdbcType=INTEGER},
      </if>
      <if test="presentscore != null">
        #{presentscore,jdbcType=VARCHAR},
      </if>
      <if test="servetime != null">
        #{servetime,jdbcType=INTEGER},
      </if>
      <if test="servescore != null">
        #{servescore,jdbcType=VARCHAR},
      </if>
      <if test="creditscore != null">
        #{creditscore,jdbcType=INTEGER},
      </if>
      <if test="staus != null">
        #{staus,jdbcType=INTEGER},
      </if>
       <if test="isAdd != null">
        #{isAdd,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.task.entity.DateIntegral">
    update dateintegral
    <set>
      <if test="personid != null">
        personId = #{personid,jdbcType=INTEGER},
      </if>
      <if test="cretaetime != null">
        cretaeTime = #{cretaetime,jdbcType=TIMESTAMP},
      </if>
      <if test="presentlove != null">
        presentLove = #{presentlove,jdbcType=INTEGER},
      </if>
      <if test="presentscore != null">
        presentScore = #{presentscore,jdbcType=VARCHAR},
      </if>
      <if test="servetime != null">
        serveTime = #{servetime,jdbcType=INTEGER},
      </if>
      <if test="servescore != null">
        serveScore = #{servescore,jdbcType=VARCHAR},
      </if>
      <if test="creditscore != null">
        creditScore = #{creditscore,jdbcType=INTEGER},
      </if>
      <if test="staus != null">
        staus = #{staus,jdbcType=INTEGER},
      </if>
       <if test="isAdd != null">
        isAdd = #{isAdd,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.task.entity.DateIntegral">
    update dateintegral
    set personId = #{personid,jdbcType=INTEGER},
      cretaeTime = #{cretaetime,jdbcType=TIMESTAMP},
      presentLove = #{presentlove,jdbcType=INTEGER},
      presentScore = #{presentscore,jdbcType=VARCHAR},
      serveTime = #{servetime,jdbcType=INTEGER},
      serveScore = #{servescore,jdbcType=VARCHAR},
      creditScore = #{creditscore,jdbcType=INTEGER},
      staus = #{staus,jdbcType=INTEGER},
      isAdd = #{isAdd,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>