<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.task.dao.TaskCustomerSkillMapper" >


  <!-- 查询需要打开开关的技能列表-->
  <select id="queryCustomerSkill"   resultType="java.lang.Long" >
		SELECT
			customer_skill_id 
		FROM
			customer_skill
		WHERE
			receive_status = #{queryStatus}
		AND appoint_end_time <![CDATA[ < ]]>  #{queryEndTime} 
  </select>
  
  

<!-- 关闭技能开关 -->
  <update id="updateCustomerSkill"  >
		UPDATE 
			customer_skill
		SET 
			receive_status = #{updateStatus},
			modify_time = #{modifyTime}
		WHERE
			customer_skill_id   IN 
			<foreach collection="list" item="customerSkillId"    open="("  close=")"  separator=",">
				#{customerSkillId}
			</foreach>
  </update>
  
    
  <sql id="SKILL_EXIST_CONDITON">
      <if test="weekIndex == 1" >
        AND monday = 1 
      </if>
      <if test="weekIndex == 2" >
        AND  tuesday = 1 
      </if>
      <if test="weekIndex == 3" >
        AND  wednesday = 1
      </if>
      <if test="weekIndex == 4" >
        AND  thursday = 1  
      </if>
      <if test="weekIndex == 5" >
        AND  friday = 1  
      </if>
      <if test="weekIndex == 6" >
        AND  saturday = 1 
      </if>
      <if test="weekIndex == 7" >
        AND  sunday = 1  
      </if>
  </sql>
  
  

  
  
<!-- 根据周索引开启接单开关 -->
 <!--  <update id="openReceiveByWeek"  >
		UPDATE 
			customer_skill
		SET 
			receive_status = #{updateStatus}
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND start_time_str <![CDATA[ <= ]]> #{currTimeStr}
		AND end_time_str <![CDATA[ > ]]>  #{currTimeStr}
		<include refid="SKILL_EXIST_CONDITON"></include>
  </update> -->
  <select id="queryOpenReceiveByWeek"  resultType="java.lang.Long">
		SELECT
			customer_id
		FROM
			customer_skill
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND start_time_str <![CDATA[ <= ]]> #{currTimeStr}
		<include refid="SKILL_EXIST_CONDITON"></include>
  </select>
  
  
  
  
  
<!-- 根据周索引关闭接单开关 -->
<!--   <update id="closeReceiveByWeek"  >
		UPDATE 
			customer_skill
		SET 
			receive_status = #{updateStatus}
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND end_time_str  <![CDATA[ <= ]]>  #{currTimeStr}
		
		<include refid="SKILL_EXIST_CONDITON"></include>
  </update> -->
  <select id="queryCloseReceiveByWeek"  >
		SELECT
			customer_id
		FROM
			customer_skill
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND end_time_str  <![CDATA[ <= ]]>  #{currTimeStr}
		
		<include refid="SKILL_EXIST_CONDITON"></include>
  </select>
  
  
<!-- 根据当前时间开启接单开关 -->
<!--   <update id="openReceiveByCurrentTime"  >
		UPDATE 
			customer_skill
		SET 
			receive_status = #{updateStatus}
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND  appoint_start_time    <![CDATA[ <= ]]> #{currTimeStr}
  </update> -->
  <select id="queryOpenReceiveByCurrentTime"  >
		SELECT
			customer_id
		FROM
			customer_skill
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND  appoint_start_time    <![CDATA[ <= ]]> #{currTimeStr}
  </select>
<!-- 根据当前时间关闭接单开关 -->
<!--   <update id="closeReceiveByCurrentTime"  >
		UPDATE 
			customer_skill
		SET 
			receive_status = #{updateStatus}
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND appoint_end_time  <![CDATA[ <= ]]>  #{currTimeStr}
  </update> -->
  <select id="queryCloseReceiveByCurrentTime"  >
		SELECT
			customer_id
		FROM
			customer_skill
		WHERE
			auto_receive_status = #{autoReceiveStatus}
		AND receive_status = #{recevieStatus}
		AND appoint_end_time  <![CDATA[ <= ]]>  #{currTimeStr}
  </select>



  
</mapper>