<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.task.dao.TaskOrderMapper" >


<!-- 待接单订单超时 -->
  <update id="waittingReceiveOrderOverTime"  >
    
		UPDATE 
			orders
		SET 
			system_cancel_time = #{currTime},
		 	order_status = #{updateStatus},
		 	skill_type = #{skillType}
		WHERE
			order_status = #{queryStatus}
		AND order_time   <![CDATA[ < ]]> #{endTime}
  </update>
<!-- 待接单订单超时 -->
  <update id="startOrderOverTime"  >
    
		UPDATE 
			orders
		SET 
			system_cancel_time = #{currTime},
		 	order_status = #{updateStatus},
		 	skill_type = #{skillType}
		WHERE
			order_status = #{queryStatus}
		AND receive_order_time <![CDATA[ < ]]> #{endTime}
  </update>
  
  
<!-- 大V发起完成服务，客户12小时未响应超时 -->
  <update id="updateOrderStatusAfter12HourCust"  >
    
		UPDATE 
			orders
		SET 
			system_cancel_time = #{currTime},
		 	order_status = #{updateStatus},
		 	skill_type = #{skillType}
		WHERE
			order_status = #{queryStatus}
		AND start_time <![CDATA[ < ]]> #{endTime}
  </update>
  
  
<!-- 双方都没有主动结束：12小时未响应超时 -->
  <update id="updateOrderStatusAfter12HourBoth" >
    
		UPDATE 
			orders
		SET 
			system_cancel_time = #{currTime},
		 	order_status = #{updateStatus},
		 	skill_type = #{skillType}
		WHERE
			order_status = #{queryStatus}
		AND start_time <![CDATA[ < ]]> #{endTime}
  </update>
 
  
 
  
  
  
  
  
  
</mapper>