<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.task.dao.VideoMapper" >
    <select id="selectVipVideo" resultType="java.lang.Integer">
        select
          vl.vid
        from
          video_lock vl, video v
        where 1=1
        and vl.vid = v.id
        and v.status = 3
        and v.type = 3
        AND EXISTS (
		     select '' from persion m where v.pid = m.id and m.play_ident = 3
		)
        group by vl.vid
        order by sum(vl.liked) desc
        LIMIT 20
    </select>

    <update id="clearValidState">
        UPDATE video SET is_valid_vip_video = 0 WHERE is_valid_vip_video = 1
    </update>

    <update id="setNewVipList" parameterType="java.util.List">
        UPDATE video SET is_valid_vip_video = 1 WHERE id IN
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </update>


</mapper>