<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费者 - 用户中心Dubbo服务 -->
    <dubbo:reference group="userCenter" id="userDubboBusiness" interface="com.honglu.quickcall.user.facade.business.UserDubboBusiness" check="false" version="0.0.1"/>

    <!-- 消费者 - 用户中心发送MQ消息服务 -->
    <dubbo:reference group="userCenter" id="userCenterSendMqMessageService" interface="com.honglu.quickcall.user.facade.business.UserCenterSendMqMessageService" check="false" version="0.0.1"/>
    <!-- 消费者 - 用户中心发送MQ消息服务 -->
    <dubbo:reference group="buryDataCenter" id="dataDuriedPointBusiness" interface="com.honglu.quickcall.producer.facade.business.DataDuriedPointBusiness" check="false" version="1.0.0"/>
    <!-- 消费者 - 活动中心 优惠券服务 -->
    <dubbo:reference group="activityCenter" id="couponDubboBusiness" interface="com.honglu.quickcall.activity.facade.business.CouponDubboBusiness" check="false" version="0.0.1"/>
    
</beans>