<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="quickcall-account-server" owner="len.song" organization="xiaoniu"/>
    <!-- registry address, used for service to register itself-->
    <dubbo:protocol name="dubbo" port="21350" serialization="kryo"/>

    <!-- 服务提供者 - 账户相关 -->
    <dubbo:service group="accountCenter" interface="com.honglu.quickcall.account.facade.business.AccountDubboBusiness" ref="Account.AccountDubboBusiness" timeout="30000" retries="0" version="0.0.1"/>
    <dubbo:service group="accountCenter" interface="com.honglu.quickcall.account.facade.business.IAccountOrderService" ref="Account.AccountOrderService" timeout="30000" retries="0" version="0.0.1"/>
   
</beans>