<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.user.service.dao.AliacountMapper">
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.user.facade.entity.Aliacount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="persion_id" jdbcType="INTEGER" property="persion_id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="remark" jdbcType="INTEGER" property="remark" />
    <result column="face_photo" jdbcType="VARCHAR" property="facePhoto" />
    <result column="back_photo" jdbcType="VARCHAR" property="backPhoto" />
    <result column="capital" jdbcType="VARCHAR" property="capital" />
  </resultMap>
  <sql id="Base_Column_List">
    id, persion_id, account, realname, remark, face_photo, back_photo
  </sql>
  
   <select id="selectByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
    user_account.asset_value as capital
    from aliacount inner join user_account
    on aliacount.persion_id=user_account.user_id
    where persion_id = #{pid,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aliacount
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aliacount
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honglu.quickcall.user.facade.entity.Aliacount">
    insert into aliacount (id, persion_id, account, 
      realname, remark, face_photo, 
      back_photo)
    values (#{id,jdbcType=INTEGER}, #{aliAcount,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{remark,jdbcType=INTEGER}, #{facePhoto,jdbcType=VARCHAR}, 
      #{backPhoto,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.user.facade.entity.Aliacount">
    insert into aliacount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="persion_id != null">
        persion_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="facePhoto != null">
        face_photo,
      </if>
      <if test="backPhoto != null">
        back_photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="persion_id != null">
        #{persion_id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=INTEGER},
      </if>
      <if test="facePhoto != null">
        #{facePhoto,jdbcType=VARCHAR},
      </if>
      <if test="backPhoto != null">
        #{backPhoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.user.facade.entity.Aliacount">
    update aliacount
    <set>
      <if test="persion_id != null">
        persion_id = #{persion_id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=INTEGER},
      </if>
      <if test="facePhoto != null">
        face_photo = #{facePhoto,jdbcType=VARCHAR},
      </if>
      <if test="backPhoto != null">
        back_photo = #{backPhoto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.user.facade.entity.Aliacount">
    update aliacount
    set persion_id = #{persion_id,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=INTEGER},
      face_photo = #{facePhoto,jdbcType=VARCHAR},
      back_photo = #{backPhoto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>