<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.user.service.dao.AppVersionManageMapper">

	<resultMap type="com.honglu.quickcall.user.facade.entity.AppVersionManage" id="appVersioninfoMap">
		<id property="appVersionId" column="app_version_id"></id>
		<result property="appType" column="app_type"></result>
		<result property="popup" column="popup"></result>
		<result property="versionNumber" column="version_number"></result>
		<result property="downloadUrl" column="download_url"></result>
		<result property="changeDesc" column="change_desc"></result>
		<result property="changeLog" column="change_log"></result>
		<result property="changeProperties" column="change_properties"></result>
		<result property="beginTime" column="begin_time"></result>
		<result property="endTime" column="end_time"></result>
		<result property="state" column="state"></result>
		<result property="iosVersion" column="ios_version"></result>
		<result property="androidVersion" column="android_version"></result>
		<result property="createTime" column="create_time"></result>
		<result property="createMan" column="create_man"></result>
		<result property="modifyTime" column="modify_time"></result>
		<result property="modifyMan" column="modify_man"></result>
		<result property="remark" column="remark"></result>
		<result property="encryption" column="encryption"></result>
		<result property="channel" column="channel"></result>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		app_version_id, app_type, popup, version_number,
		download_url, change_desc,
		change_log, change_properties, begin_time,
		end_time, state,
		ios_version, android_version, create_time, create_man,
		modify_time,
		modify_man, remark,tag,encryption,channel
	</sql>

	
	<select id="findAppVersionInfo" resultMap="appVersioninfoMap" parameterType="Map">
	select 
	<include refid="Base_Column_List"/>
	from app_version_manage
	where app_type=#{appType} and state=#{state} and tag=#{tag}
	order by create_time desc
	
	
	</select>
	

</mapper>