<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.user.service.dao.BigvSkillScoreMapper">
    <resultMap id="BaseResultMap" type="com.honglu.quickcall.user.facade.entity.BigvSkillScore">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="skill_item_id" property="skillItemId" jdbcType="BIGINT"/>
        <result column="customer_skill_id" property="customerSkillId" jdbcType="BIGINT"/>
        <result column="order_total" property="orderTotal" jdbcType="INTEGER"/>
        <result column="score_total" property="scoreTotal" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_man" property="createMan" jdbcType="VARCHAR"/>
        <result column="modify_man" property="modifyMan" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, customer_id, skill_item_id, customer_skill_id, order_total, score_total,
        create_time, modify_time, create_man, modify_man, remark
    </sql>

    <insert id="insert" parameterType="com.honglu.quickcall.user.facade.entity.BigvSkillScore">
        insert into bigv_skill_score (id, customer_id, skill_item_id, customer_skill_id,
        order_total, score_total, create_man, modify_man, remark)
        values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=BIGINT}, #{skillItemId,jdbcType=BIGINT}, #{customerSkillId,jdbcType=BIGINT},
        #{orderTotal,jdbcType=INTEGER}, #{scoreTotal,jdbcType=DECIMAL}, #{createMan,jdbcType=VARCHAR},
        #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
    </insert>

    <!-- 查询大V技能的订单笔数 -->
    <select id="selectBigvSkillOrderTotal" resultType="java.lang.Integer">
        SELECT order_total FROM `bigv_skill_score`
        WHERE customer_skill_id = #{customerSkillId}
    </select>

    <!-- 查询大V技能的订单笔数 -->
    <select id="selectBigvScoreValue" resultType="java.math.BigDecimal">
        SELECT score_total FROM `bigv_skill_score`
        WHERE customer_skill_id = #{customerSkillId}
    </select>

    <!-- 更新默认评价得到到订单表 -->
    <update id="updateValueScoreToOrder">
        UPDATE orders SET value_score = #{valueScore} WHERE order_id = #{orderId}
    </update>

    <!-- 更新大V单项技能评分 -->
    <update id="updateBigvSkillScore">
        UPDATE bigv_skill_score SET order_total = order_total + #{addOrderTotal}, score_total = score_total + #{valueScore}
        WHERE customer_skill_id = #{customerSkillId}
    </update>

    <!-- 更新大V单项技能评分 -->
    <update id="updateBigvSkillScore2">
        UPDATE bigv_skill_score SET order_total = #{orderTotal}, score_total = #{valueScore}
        WHERE customer_skill_id = #{customerSkillId}
    </update>
    
    <!-- 根据创建时间升序，查询一条数据 -->
    <select id="selectOneData" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
      from bigv_skill_score
      <if test="lastId != null">
          where id > #{lastId}
      </if>
      order by id asc
      limit 0, 1
    </select>

    <!-- 根据客户ID删除数据 -->
    <delete id="deleteDataByCustomerId">
      DELETE FROM bigv_skill_score WHERE customer_id = #{customerId}
    </delete>

    <!-- 删除不在大V技能表的数据 -->
    <delete id="deleteNotBigvData">
      DELETE FROM bigv_skill_score WHERE customer_skill_id NOT IN (
        SELECT customer_skill_id FROM customer_skill
      )
    </delete>

    <!-- 查询大V的技能不在技能排名表中的数据 -->
    <select id="selectNeedInsertBigvData" resultMap="BaseResultMap">
        SELECT customer_id, customer_skill_id, skill_item_id FROM customer_skill
        WHERE customer_skill_id NOT IN(
            SELECT customer_skill_id FROM bigv_skill_score
        )
    </select>
</mapper>