<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CompanyMapper" >
  <resultMap id="BaseResultMap" type="Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_tel" property="companyTel" jdbcType="VARCHAR" />
    <result column="company_linkman" property="companyLinkman" jdbcType="VARCHAR" />
    <result column="goddess_rule" property="goddessRule" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate"  />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_name, company_tel, company_linkman, goddess_rule, remark
  </sql>
  <insert id="insertSelective" parameterType="Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyTel != null" >
        company_tel,
      </if>
      <if test="companyLinkman != null" >
        company_linkman,
      </if>
      <if test="goddessRule != null" >
        goddess_rule,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null" >
        #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="companyLinkman != null" >
        #{companyLinkman,jdbcType=VARCHAR},
      </if>
      <if test="goddessRule != null" >
        #{goddessRule,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>