<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.user.service.dao.MessageMapper" >

  <resultMap id="BaseResultMap" type="Message" >
    <id column="message_id" property="messageId" jdbcType="BIGINT" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="message_describe" property="messageDescribe" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="sender_id" property="senderId" jdbcType="BIGINT" />
    <result column="receiver_id" property="receiverId" jdbcType="BIGINT" />
    <result column="message_status" property="messageStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    message_id, message_content, message_describe, type, sender_id, receiver_id, message_status,
    create_time, modify_time, create_man, modify_man, remark
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from message
    where message_id = #{messageId,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="Message" >
    insert into message (message_id, message_content, message_describe,
      type, sender_id, receiver_id, 
      message_status, create_time, modify_time, 
      create_man, modify_man, remark
      )
    values (#{messageId,jdbcType=BIGINT}, #{messageContent,jdbcType=VARCHAR}, #{messageDescribe,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{senderId,jdbcType=BIGINT}, #{receiverId,jdbcType=BIGINT}, 
      #{messageStatus,jdbcType=TINYINT}, NOW(), NOW(),
      #{createMan,jdbcType=VARCHAR}, #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="Message" >
    update message
    <set >
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageDescribe != null" >
        message_describe = #{messageDescribe,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="senderId != null" >
        sender_id = #{senderId,jdbcType=BIGINT},
      </if>
      <if test="receiverId != null" >
        receiver_id = #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="messageStatus != null" >
        message_status = #{messageStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>

  <select id="queryUserUnreadMessageNum" parameterType="java.lang.Long" resultType="int">
    SELECT count(*) FROM message
    WHERE receiver_id = #{receiverId,jdbcType=BIGINT} AND message_status=0
  </select>
</mapper>