<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.user.service.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.user.facade.entity.Product" >
    <id column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="skill_id" property="skillId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="service_time" property="serviceTime" jdbcType="SMALLINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="preferential_price" property="preferentialPrice" jdbcType="DECIMAL" />
    <result column="discount_rate" property="discountRate" jdbcType="DECIMAL" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="product_status" property="productStatus" jdbcType="TINYINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="product_describe" property="productDescribe" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, skill_id, name, service_time, price, preferential_price, discount_rate, 
    discount_price, type, product_status, seller_id, product_describe, create_time, modify_time, 
    create_man, modify_man, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
<!--   <select id="selectVProductTag" resultType="com.honglu.quickcall.user.facade.entity.in.VProductTag" parameterType="java.lang.Long" >
    SELECT 
   	product_id as productId,skill_id as skillId,name,service_time as serviceTime,price,preferential_price as preferentialPrice, discount_rate as discountRate, 
    discount_price as discountPrice, type, product_status as productStatus, seller_id as sellerId, product_describe as productDescribe,remark
    FROM product WHERE seller_id=#{customerId} AND product_status=1
  </select> -->
  <select id="selectVProductTag" resultType="com.honglu.quickcall.user.facade.entity.in.VProductTag" parameterType="java.lang.Long" >
   SELECT
	p.product_id AS productId,
	p.skill_id AS skillId,
	p.name  AS  name,
	p.service_time AS serviceTime,
	p.price,
	p.preferential_price AS preferentialPrice,
	p.discount_rate AS discountRate,
	p.discount_price AS discountPrice,
	p.type  AS  type,
	p.product_status AS productStatus,
	p.seller_id AS sellerId,
	p.product_describe AS productDescribe,
	p.remark AS  remark ,
  sk.image_url  AS  imageUrl

FROM
	product  p  LEFT JOIN  skill   sk  ON  p.skill_id   = sk.id
   WHERE p.seller_id=#{customerId} AND p.product_status=1
  </select>
  <select id="queryVProductNum" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    SELECT COUNT(*) FROM product WHERE seller_id=#{customerId} AND product_status='1';
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.honglu.quickcall.user.facade.entity.Product" >
    insert into product (product_id, skill_id, name, 
      service_time, price, preferential_price, 
      discount_rate, discount_price, type, 
      product_status, seller_id, product_describe, 
      create_time, modify_time, create_man, 
      modify_man, remark)
    values (#{productId,jdbcType=BIGINT}, #{skillId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{serviceTime,jdbcType=SMALLINT}, #{price,jdbcType=DECIMAL}, #{preferentialPrice,jdbcType=DECIMAL}, 
      #{discountRate,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL}, #{type,jdbcType=TINYINT}, 
      #{productStatus,jdbcType=TINYINT}, #{sellerId,jdbcType=BIGINT}, #{productDescribe,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR}, 
      #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.user.facade.entity.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="skillId != null" >
        skill_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="serviceTime != null" >
        service_time,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="preferentialPrice != null" >
        preferential_price,
      </if>
      <if test="discountRate != null" >
        discount_rate,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="productDescribe != null" >
        product_describe,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="modifyMan != null" >
        modify_man,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="skillId != null" >
        #{skillId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="serviceTime != null" >
        #{serviceTime,jdbcType=SMALLINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="preferentialPrice != null" >
        #{preferentialPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="productDescribe != null" >
        #{productDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.user.facade.entity.Product" >
    update product
    <set >
      <if test="skillId != null" >
        skill_id = #{skillId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="serviceTime != null" >
        service_time = #{serviceTime,jdbcType=SMALLINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="preferentialPrice != null" >
        preferential_price = #{preferentialPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        discount_rate = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="productDescribe != null" >
        product_describe = #{productDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.user.facade.entity.Product" >
    update product
    set skill_id = #{skillId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      service_time = #{serviceTime,jdbcType=SMALLINT},
      price = #{price,jdbcType=DECIMAL},
      preferential_price = #{preferentialPrice,jdbcType=DECIMAL},
      discount_rate = #{discountRate,jdbcType=DECIMAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      type = #{type,jdbcType=TINYINT},
      product_status = #{productStatus,jdbcType=TINYINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      product_describe = #{productDescribe,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>