<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.user.service.dao.ResourceConfigMapper" >
    <resultMap id="BaseResultMap" type="com.honglu.quickcall.user.facade.entity.ResourceConfig" >
        <id column="resource_config_id" property="resourceConfigId" jdbcType="INTEGER" />
        <result column="config_num" property="configNum" jdbcType="TINYINT" />
        <result column="strategy" property="strategy" jdbcType="TINYINT" />
        <result column="resource_pool_id" property="resourcePoolId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="VARCHAR" />
        <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

  <sql id="Base_Column_List" >
    resource_config_id, config_num, strategy, resource_pool_id, create_time, modify_time,
    create_man, modify_man, remark
  </sql>

  <!-- 查询所有6帧资源位的配置 -->
  <select id="selectAllResourceConfig" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from resource_config
    order by config_num asc
  </select>

  <!-- 查询资源位配置启用技能 -->
  <select id="selectResourceEnableSkills" resultType="java.lang.Long">
    select skill_item_id from resource_config_skill where resource_config_id = #{resourceConfigId} and status = 1
  </select>

  <!-- 查询资源位配置启用技能 -->
  <select id="selectAllEnableSkills" resultType="string">
    select skill_item_id from resource_config_skill where status = 1
  </select>

  <!-- 查询配置位排除的customerId -->
  <select id="selectResourceExCustomerIds" resultType="java.lang.Long">
    SELECT c.customer_id
    FROM resource_config_ex_cust rc
    INNER JOIN customer c ON c.app_id = rc.app_id
    WHERE rc.resource_config_id = #{resourceConfigId}
  </select>

    <!-- 根据大V技能排名查询一个可用的大V数据 - 供前端暂时 -->
    <select id="countEnabledBigvBySkillRank" resultType="int">
        SELECT  count(*)
        FROM (
            SELECT bss.customer_id
            FROM `bigv_skill_score` bss
            INNER JOIN customer c ON c.customer_id = bss.customer_id AND c.cust_state = 2 AND c.cust_status = 1 AND c.v_status = 2
            INNER JOIN skill_item si ON si.id = bss.skill_item_id AND si.skill_status = 1
            INNER JOIN customer_skill csk ON csk.customer_skill_id = bss.customer_skill_id AND csk.skill_status = 1 AND csk.switch_status = 1 AND csk.receive_status = 1
                        <include refid="SKILL_EXIST_CONDITON"/>
            WHERE bss.skill_item_id IN
                <foreach collection="configSkills"  item="configSkill"  open="("  close=")"  separator=","  >
                    #{configSkill}
                </foreach>
                <if test="exCustomerIds != null and exCustomerIds.size > 0">
                    and bss.customer_id NOT IN
                    <foreach collection="exCustomerIds"  item="customerId"  open="("  close=")"  separator=","  >
                        #{customerId}
                    </foreach>
                </if>
                <!-- 排除下单被占用的客户技能 -->
                <if test="skillOrdered == 0">
                    AND (SELECT count(o.order_id) FROM orders o WHERE o.customer_skill_id = bss.customer_skill_id
                    AND o.skill_type = (select si.skill_type from skill_item si where si.id = bss.skill_item_id)
                    AND o.order_status IN (10, 18, 26, 28)) = 0
                </if>
            GROUP BY bss.customer_id
        ) tt
    </select>

    <!-- 根据大V技能排名查询一个可用的大V数据 - 供前端暂时 -->
    <select id="selectEnabledBigvBySkillRank" resultType="com.honglu.quickcall.user.facade.entity.CustomerSkill">
        SELECT  tt.*, csc.skill_voice_url AS skillVoiceUrl, csc.skill_voice_time AS skillVoiceTime
        FROM (
            SELECT bss.customer_id AS customerId,
                    bss.customer_skill_id AS customerSkillId,
                    bss.skill_item_id AS skillItemId,
                    c.nick_name AS customerNickName,
                    c.sex AS customerSex,
                    c.birthday AS customerBirthday,
                    si.skill_item_name AS skillName,
                    si.back_color AS skillBackColor,
                    si.home_black_color AS skillHomeBackColor,
                    si.font_color AS skillFontColor,
                    csk.discount_price AS discountPrice,
                    csk.service_unit AS serviceUnit,
                    csk.certify_id
            FROM `bigv_skill_score` bss
            INNER JOIN customer c ON c.customer_id = bss.customer_id AND c.cust_state = 2 AND c.cust_status = 1 AND c.v_status = 2
            INNER JOIN skill_item si ON si.id = bss.skill_item_id AND si.skill_status = 1
            INNER JOIN customer_skill csk ON csk.customer_skill_id = bss.customer_skill_id AND csk.skill_status = 1 AND csk.switch_status = 1 AND csk.receive_status = 1
                        <include refid="SKILL_EXIST_CONDITON"/>
            WHERE bss.skill_item_id IN
                <foreach collection="configSkills"  item="configSkill"  open="("  close=")"  separator=","  >
                    #{configSkill}
                </foreach>
                <if test="exCustomerIds != null and exCustomerIds.size > 0">
                    and bss.customer_id NOT IN
                    <foreach collection="exCustomerIds"  item="customerId"  open="("  close=")"  separator=","  >
                        #{customerId}
                    </foreach>
                </if>
                <!-- 排除下单被占用的客户技能 -->
                <if test="skillOrdered == 0">
                    AND (SELECT count(o.order_id) FROM orders o WHERE o.customer_skill_id = bss.customer_skill_id
                    AND o.skill_type = (select si.skill_type from skill_item si where si.id = bss.skill_item_id)
                    AND o.order_status IN (10, 18, 26, 28)) = 0
                </if>
                GROUP BY bss.customer_id
                ORDER BY sum(bss.score_total) DESC
                LIMIT #{beginIndex},#{endIndex}
        ) tt
        LEFT JOIN customer_skill_certify csc ON csc.certify_id = tt.certify_id
        ORDER BY RAND() LIMIT 1
    </select>

  <!-- 随机从推荐池里面查询一个大V - 返回给前端显示 -->
  <select id="selectRandomBigvFromResourcePool" resultType="com.honglu.quickcall.user.facade.entity.CustomerSkill">
      SELECT tt.*, csc.skill_voice_url AS skillVoiceUrl, csc.skill_voice_time AS skillVoiceTime
      FROM(
          SELECT pc.customer_id AS customerId,
                  c.nick_name AS customerNickName,
                  c.sex AS customerSex,
                  c.birthday AS customerBirthday,
                  csk.customer_skill_id AS customerSkillId,
                  csk.skill_item_id AS skillItemId,
                  csk.discount_price AS discountPrice,
                  csk.service_unit AS serviceUnit,
                  si.skill_item_name AS skillName,
                  si.back_color AS skillBackColor,
                  si.home_black_color AS skillHomeBackColor,
                  si.font_color AS skillFontColor,
                  csk.certify_id
          FROM resource_pool_customer pc
          INNER JOIN customer c ON c.customer_id = pc.customer_id AND c.cust_state = 2 AND c.cust_status = 1 AND c.v_status = 2
          INNER JOIN customer_skill csk ON csk.customer_id = pc.customer_id AND csk.skill_status = 1
                      AND csk.skill_item_id IN
                          <foreach collection="configSkills"  item="configSkill"  open="("  close=")"  separator=","  >
                            #{configSkill}
                          </foreach>
                      AND csk.switch_status = 1 AND csk.receive_status = 1
                          <include refid="SKILL_EXIST_CONDITON"/>
          INNER JOIN skill_item si ON si.id = csk.skill_item_id AND si.skill_status = 1
          WHERE pc.resource_pool_id = #{resourcePoolId}
              <if test="exCustomerIds != null and exCustomerIds.size > 0">
                and pc.customer_id NOT IN
                <foreach collection="exCustomerIds"  item="customerId"  open="("  close=")"  separator=","  >
                  #{customerId}
                </foreach>
              </if>
          AND pc.`status` = 1
          <!-- 排除下单被占用的客户技能 -->
          <if test="skillOrdered == 0">
              AND (SELECT count(o.order_id) FROM orders o WHERE o.customer_skill_id = csk.customer_skill_id
              AND o.skill_type = (select si.skill_type from skill_item si where si.id = csk.skill_item_id)
              AND o.order_status IN (10, 18, 26, 28)) = 0
          </if>
      ) tt
      LEFT JOIN customer_skill_certify csc ON csc.certify_id = tt.certify_id
      ORDER BY RAND() LIMIT 1
  </select>

    <!-- 根据大V排名查询大V数据 -->
    <select id="selectRankBigvListBySkillItemId" resultType="com.honglu.quickcall.user.facade.entity.CustomerSkill">
        SELECT
            bss.customer_id AS customerId,
            bss.customer_skill_id AS customerSkillId,
            bss.skill_item_id AS skillItemId,
            c.nick_name AS customerNickName,
            c.sex AS customerSex,
            c.birthday AS customerBirthday,
            si.skill_item_name AS skillName,
            si.back_color AS skillBackColor,
            si.home_black_color AS skillHomeBackColor,
            si.font_color AS skillFontColor,
            csk.discount_price AS discountPrice,
            csk.service_unit AS serviceUnit,
            csc.skill_voice_url AS skillVoiceUrl,
            csc.skill_voice_time AS skillVoiceTime
        FROM bigv_skill_score bss
        INNER JOIN customer c ON c.customer_id = bss.customer_id AND c.cust_state = 2 AND c.cust_status = 1 AND c.v_status = 2
        INNER JOIN skill_item si ON si.id = bss.skill_item_id AND si.skill_status = 1
        INNER JOIN customer_skill csk ON csk.customer_skill_id = bss.customer_skill_id AND csk.skill_status = 1
                    <include refid="SKILL_EXIST_CONDITON"/>
        LEFT JOIN customer_skill_certify csc ON csc.certify_id = csk.certify_id
        WHERE bss.skill_item_id = #{skillItemId}
        ORDER BY (SELECT count(o.order_id) FROM orders o WHERE o.customer_skill_id = bss.customer_skill_id
                    AND o.skill_type = (select si.skill_type from skill_item si where si.id = bss.skill_item_id)
                    AND o.order_status IN (10, 18, 26, 28)) ASC
                , bss.score_total DESC
        LIMIT 0, 4
    </select>

    <sql id="SKILL_EXIST_CONDITON">
        <!--<if test="weekIndex == 1" >
            AND ( csk.monday = 0  or (csk.monday = 1  and  csk.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
        </if>
        <if test="weekIndex == 2" >
            AND ( csk.tuesday = 0  or (csk.tuesday = 1  and  csk.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
        </if>
        <if test="weekIndex == 3" >
            AND ( csk.wednesday = 0  or (csk.wednesday = 1  and  csk.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
        </if>
        <if test="weekIndex == 4" >
            AND ( csk.thursday = 0  or (csk.thursday = 1  and  csk.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
        </if>
        <if test="weekIndex == 5" >
            AND ( csk.friday = 0  or (csk.friday = 1  and  csk.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
        </if>
        <if test="weekIndex == 6" >
            AND ( csk.saturday = 0  or (csk.saturday = 1  and  csk.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
        </if>
        <if test="weekIndex == 7" >
            AND ( csk.sunday = 0  or (csk.sunday = 1  and  csk.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
        </if>-->
        AND csk.appoint_end_time <![CDATA[  > ]]> NOW()
    </sql>
</mapper>