<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.user.service.dao.SensitiveWordMapper">
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.user.facade.entity.SensitiveWord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sensitiveWord" jdbcType="VARCHAR" property="sensitiveword" />
    <result column="replaceWord" jdbcType="VARCHAR" property="replaceword" />
    <result column="wordType" jdbcType="INTEGER" property="wordtype" />
    <result column="creataTime" jdbcType="TIMESTAMP" property="creatatime" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="validArea" jdbcType="INTEGER" property="validarea" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sensitiveWord, replaceWord, wordType, creataTime, operation, status, validArea
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sensitiveword
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select 
    count(id)
    from sensitiveword
    where status = 1
  </select>
  
  <select id="selectByAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sensitiveword
    where status = 1
  </select>
  
  <select id="selectBysensitiveword"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sensitiveword
    where status = 1
    and (sensitiveWord like CONCAT('%',#{word},'%')   or replaceWord like CONCAT('%',#{word},'%') )
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sensitiveword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honglu.quickcall.user.facade.entity.SensitiveWord">
    insert into sensitiveword (id, sensitiveWord, replaceWord, 
      wordType, creataTime, operation, 
      status, validArea)
    values (#{id,jdbcType=INTEGER}, #{sensitiveword,jdbcType=VARCHAR}, #{replaceword,jdbcType=VARCHAR}, 
      #{wordtype,jdbcType=INTEGER}, #{creatatime,jdbcType=TIMESTAMP}, #{operation,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{validarea,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.user.facade.entity.SensitiveWord">
    insert into sensitiveword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sensitiveword != null">
        sensitiveWord,
      </if>
      <if test="replaceword != null">
        replaceWord,
      </if>
      <if test="wordtype != null">
        wordType,
      </if>
      <if test="creatatime != null">
        creataTime,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="validarea != null">
        validArea,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sensitiveword != null">
        #{sensitiveword,jdbcType=VARCHAR},
      </if>
      <if test="replaceword != null">
        #{replaceword,jdbcType=VARCHAR},
      </if>
      <if test="wordtype != null">
        #{wordtype,jdbcType=INTEGER},
      </if>
      <if test="creatatime != null">
        #{creatatime,jdbcType=TIMESTAMP},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="validarea != null">
        #{validarea,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.user.facade.entity.SensitiveWord">
    update sensitiveword
    <set>
      <if test="sensitiveword != null">
        sensitiveWord = #{sensitiveword,jdbcType=VARCHAR},
      </if>
      <if test="replaceword != null">
        replaceWord = #{replaceword,jdbcType=VARCHAR},
      </if>
      <if test="wordtype != null">
        wordType = #{wordtype,jdbcType=INTEGER},
      </if>
      <if test="creatatime != null">
        creataTime = #{creatatime,jdbcType=TIMESTAMP},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="validarea != null">
        validArea = #{validarea,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.user.facade.entity.SensitiveWord">
    update sensitiveword
    set sensitiveWord = #{sensitiveword,jdbcType=VARCHAR},
      replaceWord = #{replaceword,jdbcType=VARCHAR},
      wordType = #{wordtype,jdbcType=INTEGER},
      creataTime = #{creatatime,jdbcType=TIMESTAMP},
      operation = #{operation,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      validArea = #{validarea,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>