<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.user.service.dao.SkillReviewMapper">

	<resultMap type="com.honglu.quickcall.user.facade.entity.SkillReview" id="skillReviewMap">
		<id property="customerId" column="customer_id" javaType="java.lang.Long"></id>
		<result property="skillId" column="skill_id" javaType="java.lang.Long"></result>
		<result property="auditStatus" column="audit_status" javaType="java.lang.Integer"></result>
		<result property="skillVoiceUrl" column="skill_voice_url" javaType="java.lang.String"></result>
		<result property="skillVoiceUrlTmp" column="skill_voice_url_tmp" javaType="java.lang.String"></result>
		<result property="isAudited" column="is_audited" javaType="java.lang.Integer"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
customer_id,	skill_id,	audit_status,	skill_voice_url,	skill_voice_url_tmp,	is_audited,	create_time,	modify_time,	create_man,	modify_man,	remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="skillReviewMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM skill_review
		 WHERE customer_id = #{customerId}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="skillReviewMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM skill_review
		 WHERE customer_id = #{customerId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.Long">
		 DELETE FROM skill_review
		 WHERE customer_id = #{customerId}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.honglu.quickcall.user.facade.entity.SkillReview">
		 INSERT INTO skill_review
 		(customer_id,skill_id,audit_status,skill_voice_url,skill_voice_url_tmp,is_audited,create_time,modify_time,create_man,modify_man,remark) 
		 VALUES 
 		(#{customerId},#{skillId},#{auditStatus},#{skillVoiceUrl},#{skillVoiceUrlTmp},#{isAudited},#{createTime},#{modifyTime},#{createMan},#{modifyMan},#{remark}) 
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" parameterType="com.honglu.quickcall.user.facade.entity.SkillReview">
		 UPDATE skill_review
 		 <set> 
			<if test="skillId != null">
				 skill_id = #{skillId},
			</if>
			<if test="auditStatus != null">
				 audit_status = #{auditStatus},
			</if>
			<if test="skillVoiceUrl != null">
				 skill_voice_url = #{skillVoiceUrl},
			</if>
			<if test="skillVoiceUrlTmp != null">
				 skill_voice_url_tmp = #{skillVoiceUrlTmp},
			</if>
			<if test="isAudited != null">
				 is_audited = #{isAudited},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE customer_id = #{customerId}
	</update>

</mapper>