<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.user.service.dao.SysParamMapper">
  <sql id="Base_Column_List">
    id, param_value, param_name, param_code, state, create_time, create_man, remark
  </sql>


  <select id="selectByParamCode" parameterType="java.lang.String" resultType="com.honglu.quickcall.user.facade.entity.SysParam">
    SELECT * from sys_param where param_code = #{paramCode}
  </select>

  <select id="selectByParamCodeAndValue"  resultType="com.honglu.quickcall.user.facade.entity.SysParam">
    SELECT
      *
    from sys_param
    where 1=1
    and param_code = #{paramCode}
    and param_value = #{paramValue}
  </select>

</mapper>