<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.quickcall.user.service.dao.VersionMapper">
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.user.facade.entity.Version">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="version_info" jdbcType="VARCHAR" property="version_info" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="must" jdbcType="INTEGER" property="must" />
    <result column="the_title" jdbcType="VARCHAR" property="theTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version_info, address, create_date, title, type, must,the_title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from version
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from version
    where type = #{type,jdbcType=INTEGER}
    order by id desc
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from version
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honglu.quickcall.user.facade.entity.Version" useGeneratedKeys="true" keyProperty="id">
    insert into version (id, version_info, address, 
      create_date, title, type, 
      must)
    values (#{id,jdbcType=INTEGER}, #{versionInfo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{must,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.user.facade.entity.Version">
    insert into version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="versionInfo != null">
        version_info,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="must != null">
        must,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="versionInfo != null">
        #{versionInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="must != null">
        #{must,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.user.facade.entity.Version">
    update version
    <set>
      <if test="versionInfo != null">
        version_info = #{versionInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="must != null">
        must = #{must,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.user.facade.entity.Version">
    update version
    set version_info = #{versionInfo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      must = #{must,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>