<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Video" >
  
  <insert id="insert" parameterType="Video" useGeneratedKeys="true" keyProperty="id">
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null and pid != 0" >
        pid,
      </if>
      <if test="path != null and path != ''" >
        path,
      </if>
      <if test="type != null and type != 0" >
        type,
      </if>
      <if test="create_date != null and create_date != ''" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null and pid != 0" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="path != null and path != ''" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="type != null and type != 0" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="create_date != null and create_date != ''" >
        #{create_date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 删除视频 -->
	<delete id="delete" parameterType="Map">
	DELETE
		FROM
	VIDEO
		WHERE
	PID = #{pid}
		AND
	ID = #{vid} 
	</delete>
  
  <!-- 获取VIP私密视频列表 -->
  <select id="selectVipVideoList" resultType="Video" parameterType="Map">
	  SELECT
		  V.id ID,
		  V.pid PID,
		  V.path PATH,
		  V.create_date CREATE_DATE,
		  VL.liked LIKED,
		  PR.id ISLIKE,
		  P.nick_name PNICK,
		  P.photo PPHOTO,
		  P.level as pLevel ,
		  COUNT(V.id) LIKECOUNT
	  FROM
		  video V
		  LEFT JOIN video_lock VL ON V.id = VL.vid AND VL.liked = 1
		  LEFT JOIN persion P ON V.pid = P.id
		  LEFT JOIN paste_record PR ON PR.persion_id = #{self_id} AND PR.accept_id=V.pid
	  WHERE
		  1 = 1
		  AND EXISTS (
		     select '' from persion m where V.pid = m.id and m.play_ident = 3
		  )
		  AND V.type = 3
		  AND V.`status` = 3
		  AND V.is_valid_vip_video = 1
	  GROUP BY
		  V.id
	  ORDER BY
		  COUNT(VL.vid) DESC, V.id DESC
  	  LIMIT #{begin},#{last}
  </select>
  
  <!-- 根据用户编号查询视频信息 -->
  <select id="selectByPid" resultType="Video" parameterType="Video">
  	select * from video where pid=#{pid} and status in(1,3)
  	<if test="type != null and type != 0">
	AND 
		TYPE = #{type} 
	</if>
  </select>
  
  <!-- 根据用户编号查询视频信息 -->
  <select id="selectByPidWithLock" resultType="Video" parameterType="Map">
  	select *,
  	status as newStatus,
  	(SELECT L.unlocked FROM `video_lock` L WHERE L.`pid` = #{self_id} and L.`vid` = v.id) AS unlocked,
  	(SELECT L.liked FROM `video_lock` L WHERE L.`pid` = #{self_id} and L.`vid` = v.id) AS liked
  	from video v where pid=#{tgt_id} and status in(1,3)
  	<if test="type != null and type != 0">
	AND 
		TYPE = #{type} 
	</if>
	ORDER BY
		ORDERLIST
  </select>
  
    <!-- 根据用户编号查询视频信息 -->
  <select id="selectByPidWithLockOther" resultType="Video" parameterType="Map">
  	select *,
  	(SELECT L.unlocked FROM `video_lock` L WHERE L.`pid` = #{self_id} and L.`vid` = v.id) AS unlocked,
  	(SELECT L.liked FROM `video_lock` L WHERE L.`pid` = #{self_id} and L.`vid` = v.id) AS liked
  	from video v where pid=#{tgt_id} and status =3
  	<if test="type != null and type != 0">
	AND 
		TYPE = #{type} 
	</if>
	ORDER BY
		ORDERLIST
  </select>
  
  <!-- 根据视频编号查询视频信息 -->
  <select id="selectById" resultType="Video" parameterType="Video">
  	select * from video where id=#{id}
  </select>
  
  <!-- 根据视频编号查询视频信息以及视频用户相关信息 -->
  <select id="selectByVid" resultType="Video" parameterType="Map">
  	select (select is_vip from persion where id = #{self_id}) as isVip,
  	 	V.id ID,V.type TYPE,V.pid PID,V.path PATH,V.create_date CREATE_DATE,VLP.liked LIKED,PR.id ISLIKE,P.nick_name PNICK,P.photo PPHOTO
  	from video V 
  	LEFT JOIN persion P ON V.pid=P.id 
	LEFT JOIN video_lock VLP ON V.id=VLP.vid AND VLP.pid=#{self_id}
	LEFT JOIN paste_record PR ON PR.persion_id=#{self_id} AND PR.accept_id=V.pid
  	where V.id=#{vid} GROUP BY id
  </select>
  
  <!-- 根据视频编号设置排序 -->
  <update id="updateOrder" parameterType="Map">
  		UPDATE
 			VIDEO
 		SET
 			ORDERLIST = #{order}
 		WHERE
 			PID = #{pid}
 		AND
 			ID = #{vid}
  	</update>

</mapper>