<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.account.service.dao.CustomerSkillMapper" >
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.account.facade.entity.CustomerSkill" >
       <id column="customer_skill_id" property="customerSkillId" jdbcType="BIGINT" />
    <result column="certify_id" property="certifyId" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="skill_item_id" property="skillItemId" jdbcType="BIGINT" />
    <result column="skill_item_ext_id" property="skillItemExtId" jdbcType="BIGINT" />
    <result column="skill_name" property="skillName" jdbcType="VARCHAR" />
    <result column="service_unit" property="serviceUnit" jdbcType="VARCHAR" />
    <result column="skill_price" property="skillPrice" jdbcType="DECIMAL" />
    <result column="skill_status" property="skillStatus" jdbcType="TINYINT" />
    <result column="switch_status" property="switchStatus" jdbcType="TINYINT" />
    <result column="receive_status" property="receiveStatus" jdbcType="TINYINT" />
    <result column="auto_receive_status" property="autoReceiveStatus" jdbcType="TINYINT" />
    <result column="discount_rate" property="discountRate" jdbcType="DECIMAL" />
    <result column="skill_range" property="skillRange" jdbcType="TINYINT" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="monday" property="monday" jdbcType="TINYINT" />
    <result column="tuesday" property="tuesday" jdbcType="TINYINT" />
    <result column="wednesday" property="wednesday" jdbcType="TINYINT" />
    <result column="thursday" property="thursday" jdbcType="TINYINT" />
    <result column="friday" property="friday" jdbcType="TINYINT" />
    <result column="saturday" property="saturday" jdbcType="TINYINT" />
    <result column="sunday" property="sunday" jdbcType="TINYINT" />
    <result column="end_time_str" property="endTimeStr" jdbcType="VARCHAR" />
    <result column="start_time_str" property="startTimeStr" jdbcType="VARCHAR" />
    <result column="appoint_start_time" property="appointStartTime" jdbcType="TIMESTAMP" />
    <result column="appoint_end_time" property="appointEndTime" jdbcType="TIMESTAMP" />
    <result column="skill_describe" property="skillDescribe" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
   customer_skill_id, certify_id, customer_id, skill_item_id, skill_item_ext_id, skill_name, 
    service_unit, skill_price, skill_status, switch_status, receive_status,auto_receive_status, discount_rate, 
    skill_range, discount_price, monday, tuesday, wednesday, thursday, friday, saturday, 
    sunday, end_time_str,start_time_str, appoint_start_time,appoint_end_time ,skill_describe, create_time, modify_time, create_man, modify_man, 
    remark
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from customer_skill
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPrimaryKeyExt" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from customer_skill
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}  AND switch_status = 1 AND receive_status =1  AND skill_status =1 
      <!--  <include refid="SKILL_EXIST_CONDITON"></include> -->
       <!-- AND   appoint_end_time <![CDATA[  > ]]> #{endTime,jdbcType=TIMESTAMP} -->
  </select>
  
  
  
  <sql id="SKILL_EXIST_CONDITON">
      <!-- <if test="weekIndex == 1" >
        AND ( monday = 0  or (monday = 1  and  end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
      </if>
      <if test="weekIndex == 2" >
        AND ( tuesday = 0  or (tuesday = 1  and  end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
      </if>
      <if test="weekIndex == 3" >
        AND ( wednesday = 0  or (wednesday = 1  and  end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
      </if>
      <if test="weekIndex == 4" >
        AND ( thursday = 0  or (thursday = 1  and  end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
      </if>
      <if test="weekIndex == 5" >
        AND ( friday = 0  or (friday = 1  and  end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
      </if>
      <if test="weekIndex == 6" >
        AND ( saturday = 0  or (saturday = 1  and  end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
      </if>
      <if test="weekIndex == 7" >
        AND ( sunday = 0  or (sunday = 1  and  end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}) )
      </if> -->
      <!--  AND   appoint_end_time <![CDATA[  > ]]> #{endTime,jdbcType=TIMESTAMP} -->
  
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customer_skill
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </delete>
  
  
  <insert id="insert" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkill" >
        insert into customer_skill (customer_skill_id, certify_id, customer_id, 
      skill_item_id, skill_item_ext_id, skill_name, 
      service_unit, skill_price, skill_status, 
      switch_status, receive_status,auto_receive_status, discount_rate, 
      skill_range, discount_price, monday, 
      tuesday, wednesday, thursday, 
      friday, saturday, sunday, 
      end_time_str,start_time_str,  appoint_start_time,appoint_end_time,skill_describe, create_time, 
      modify_time, create_man, modify_man, 
      remark)
    values (#{customerSkillId,jdbcType=BIGINT}, #{certifyId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, 
      #{skillItemId,jdbcType=BIGINT}, #{skillItemExtId,jdbcType=BIGINT}, #{skillName,jdbcType=VARCHAR}, 
      #{serviceUnit,jdbcType=VARCHAR}, #{skillPrice,jdbcType=DECIMAL}, #{skillStatus,jdbcType=TINYINT}, 
      #{switchStatus,jdbcType=TINYINT}, #{receiveStatus,jdbcType=TINYINT},#{autoReceiveStatus,jdbcType=TINYINT}, #{discountRate,jdbcType=DECIMAL}, 
      #{skillRange,jdbcType=TINYINT}, #{discountPrice,jdbcType=DECIMAL}, #{monday,jdbcType=TINYINT}, 
      #{tuesday,jdbcType=TINYINT}, #{wednesday,jdbcType=TINYINT}, #{thursday,jdbcType=TINYINT}, 
      #{friday,jdbcType=TINYINT}, #{saturday,jdbcType=TINYINT}, #{sunday,jdbcType=TINYINT}, 
      #{endTimeStr,jdbcType=VARCHAR},  #{startTimeStr,jdbcType=VARCHAR}, #{appointStartTime,jdbcType=TIMESTAMP},#{appointEndTime,jdbcType=TIMESTAMP},#{skillDescribe,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR}, #{modifyMan,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkill" >
   
         insert into customer_skill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerSkillId != null" >
        customer_skill_id,
      </if>
      <if test="certifyId != null" >
        certify_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="skillItemId != null" >
        skill_item_id,
      </if>
      <if test="skillItemExtId != null" >
        skill_item_ext_id,
      </if>
      <if test="skillName != null" >
        skill_name,
      </if>
      <if test="serviceUnit != null" >
        service_unit,
      </if>
      <if test="skillPrice != null" >
        skill_price,
      </if>
      <if test="skillStatus != null" >
        skill_status,
      </if>
      <if test="switchStatus != null" >
        switch_status,
      </if>
      <if test="receiveStatus != null" >
        receive_status,
      </if>
      <if test="autoReceiveStatus != null" >
        auto_receive_status,,
      </if>
      <if test="discountRate != null" >
        discount_rate,
      </if>
      <if test="skillRange != null" >
        skill_range,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="monday != null" >
        monday,
      </if>
      <if test="tuesday != null" >
        tuesday,
      </if>
      <if test="wednesday != null" >
        wednesday,
      </if>
      <if test="thursday != null" >
        thursday,
      </if>
      <if test="friday != null" >
        friday,
      </if>
      <if test="saturday != null" >
        saturday,
      </if>
      <if test="sunday != null" >
        sunday,
      </if>
      <if test="endTimeStr != null" >
        end_time_str,
      </if>
      <if test="startTimeStr != null" >
        start_time_str,
      </if>
      <if test="appointStartTime != null" >
        appoint_start_time,
      </if>
      <if test="appoint_end_time != null" >
        appoint_end_time,
      </if>
      <if test="skillDescribe != null" >
        skill_describe,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="modifyMan != null" >
        modify_man,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerSkillId != null" >
        #{customerSkillId,jdbcType=BIGINT},
      </if>
      <if test="certifyId != null" >
        #{certifyId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="skillItemId != null" >
        #{skillItemId,jdbcType=BIGINT},
      </if>
      <if test="skillItemExtId != null" >
        #{skillItemExtId,jdbcType=BIGINT},
      </if>
      <if test="skillName != null" >
        #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="serviceUnit != null" >
        #{serviceUnit,jdbcType=VARCHAR},
      </if>
      <if test="skillPrice != null" >
        #{skillPrice,jdbcType=DECIMAL},
      </if>
      <if test="skillStatus != null" >
        #{skillStatus,jdbcType=TINYINT},
      </if>
      <if test="switchStatus != null" >
        #{switchStatus,jdbcType=TINYINT},
      </if>
      <if test="receiveStatus != null" >
        #{receiveStatus,jdbcType=TINYINT},
      </if>
      <if test="autoReceiveStatus != null" >
        #{autoReceiveStatus,jdbcType=TINYINT},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="skillRange != null" >
        #{skillRange,jdbcType=TINYINT},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="monday != null" >
        #{monday,jdbcType=TINYINT},
      </if>
      <if test="tuesday != null" >
        #{tuesday,jdbcType=TINYINT},
      </if>
      <if test="wednesday != null" >
        #{wednesday,jdbcType=TINYINT},
      </if>
      <if test="thursday != null" >
        #{thursday,jdbcType=TINYINT},
      </if>
      <if test="friday != null" >
        #{friday,jdbcType=TINYINT},
      </if>
      <if test="saturday != null" >
        #{saturday,jdbcType=TINYINT},
      </if>
      <if test="sunday != null" >
        #{sunday,jdbcType=TINYINT},
      </if>
      <if test="endTimeStr != null" >
        #{endTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="startTimeStr != null" >
        #{startTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="appointStartTime != null" >
        #{appointStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointEndTime != null" >
        #{appointEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="skillDescribe != null" >
        #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkill" >
    update customer_skill
    <set >
      <if test="certifyId != null" >
        certify_id = #{certifyId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="skillItemId != null" >
        skill_item_id = #{skillItemId,jdbcType=BIGINT},
      </if>
      <if test="skillItemExtId != null" >
        skill_item_ext_id = #{skillItemExtId,jdbcType=BIGINT},
      </if>
      <if test="skillName != null" >
        skill_name = #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="serviceUnit != null" >
        service_unit = #{serviceUnit,jdbcType=VARCHAR},
      </if>
      <if test="skillPrice != null" >
        skill_price = #{skillPrice,jdbcType=DECIMAL},
      </if>
      <if test="skillStatus != null" >
        skill_status = #{skillStatus,jdbcType=TINYINT},
      </if>
      <if test="switchStatus != null" >
        switch_status = #{switchStatus,jdbcType=TINYINT},
      </if>
      <if test="receiveStatus != null" >
        receive_status = #{receiveStatus,jdbcType=TINYINT},
      </if>
      <if test="autoReceiveStatus != null" >
        auto_receive_status, = #{autoReceiveStatus,jdbcType=TINYINT},
      </if>
      <if test="discountRate != null" >
        discount_rate = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="skillRange != null" >
        skill_range = #{skillRange,jdbcType=TINYINT},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="monday != null" >
        monday = #{monday,jdbcType=TINYINT},
      </if>
      <if test="tuesday != null" >
        tuesday = #{tuesday,jdbcType=TINYINT},
      </if>
      <if test="wednesday != null" >
        wednesday = #{wednesday,jdbcType=TINYINT},
      </if>
      <if test="thursday != null" >
        thursday = #{thursday,jdbcType=TINYINT},
      </if>
      <if test="friday != null" >
        friday = #{friday,jdbcType=TINYINT},
      </if>
      <if test="saturday != null" >
        saturday = #{saturday,jdbcType=TINYINT},
      </if>
      <if test="sunday != null" >
        sunday = #{sunday,jdbcType=TINYINT},
      </if>
      <if test="endTimeStr != null" >
        end_time_str = #{endTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="startTimeStr != null" >
        start_time_str = #{startTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="appointStartTime != null" >
        appoint_start_time = #{appointStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointEndTime != null" >
        appoint_end_time = #{appointEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="skillDescribe != null" >
        skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkill" >
    update customer_skill
    set certify_id = #{certifyId,jdbcType=BIGINT},
      customer_id = #{customerId,jdbcType=BIGINT},
      skill_item_id = #{skillItemId,jdbcType=BIGINT},
      skill_item_ext_id = #{skillItemExtId,jdbcType=BIGINT},
      skill_name = #{skillName,jdbcType=VARCHAR},
      service_unit = #{serviceUnit,jdbcType=VARCHAR},
      skill_price = #{skillPrice,jdbcType=DECIMAL},
      skill_status = #{skillStatus,jdbcType=TINYINT},
      switch_status = #{switchStatus,jdbcType=TINYINT},
      receive_status = #{receiveStatus,jdbcType=TINYINT},
      auto_receive_status, = #{autoReceiveStatus,jdbcType=TINYINT},
      discount_rate = #{discountRate,jdbcType=DECIMAL},
      skill_range = #{skillRange,jdbcType=TINYINT},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      monday = #{monday,jdbcType=TINYINT},
      tuesday = #{tuesday,jdbcType=TINYINT},
      wednesday = #{wednesday,jdbcType=TINYINT},
      thursday = #{thursday,jdbcType=TINYINT},
      friday = #{friday,jdbcType=TINYINT},
      saturday = #{saturday,jdbcType=TINYINT},
      sunday = #{sunday,jdbcType=TINYINT},
      end_time_str = #{endTimeStr,jdbcType=VARCHAR},
      start_time_str = #{startTimeStr,jdbcType=VARCHAR},
      appoint_start_time = #{appointStartTime,jdbcType=TIMESTAMP},
      appoint_end_time = #{appointEndTime,jdbcType=TIMESTAMP},
      skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </update>
  
  
  <select id="querySkillInfoPersonal" resultType="com.honglu.quickcall.account.facade.entity.CustomerSkill" parameterType="java.lang.Long" >
    SELECT 
     cs.customer_skill_id  AS customerSkillId, cs.customer_id  AS customerId, cs.skill_item_id AS skillItemId, cs.skill_item_ext_id AS skillItemExtId, st.skill_item_name   AS  skillName, 
     cs.service_unit  AS serviceUnit, cs.skill_price  AS skillPrice, cs.skill_status  AS skillStatus, cs.switch_status AS switchStatus, cs.receive_status AS receiveStatus, cs.auto_receive_status AS autoReceiveStatus, cs.discount_rate AS discountRate, 
     cs.skill_range AS skillRange, cs.discount_price AS discountPrice, cs.monday, cs.tuesday, cs.wednesday, cs.thursday, cs.friday, cs.saturday, 
     cs.sunday, cs.end_time_str  AS endTimeStr,cs.start_time_str  AS  startTimeStr,cs.appoint_start_time  AS  appointStartTime,cs.appoint_end_time  AS  appointEndTime,st.skill_type  AS  skillType
    FROM customer_skill  cs  LEFT JOIN  skill_item   st  ON  cs.skill_item_id  = st.id
    where customer_id = #{customerId,jdbcType=BIGINT}
    AND  st.skill_status = 1  
  </select>
  <select id="querySkillInfoPersonalExt" resultType="com.honglu.quickcall.account.facade.entity.CustomerSkill" parameterType="java.lang.Long" >
    SELECT 
     cs.customer_skill_id  AS customerSkillId, cs.customer_id  AS customerId, cs.skill_item_id AS skillItemId, cs.skill_item_ext_id AS skillItemExtId, st.skill_item_name   AS  skillName, 
     cs.service_unit  AS serviceUnit, cs.skill_price  AS skillPrice, cs.skill_status  AS skillStatus, cs.switch_status AS switchStatus, cs.receive_status AS receiveStatus, cs.auto_receive_status AS autoReceiveStatus, cs.discount_rate AS discountRate, 
     cs.skill_range AS skillRange, cs.discount_price AS discountPrice, cs.monday, cs.tuesday, cs.wednesday, cs.thursday, cs.friday, cs.saturday, 
     cs.sunday, cs.end_time_str  AS endTimeStr,cs.start_time_str  AS  startTimeStr,cs.appoint_start_time  AS  appointStartTime,cs.appoint_end_time  AS  appointEndTime,st.skill_type  AS  skillType
    FROM customer_skill  cs  LEFT JOIN  skill_item   st  ON  cs.skill_item_id  = st.id
    where customer_id = #{customerId,jdbcType=BIGINT}
    AND  st.skill_status = 1  AND   switch_status  = 1 
  </select>

  
  
  	<update id="batchUpdate" >
		<foreach collection="list" item="skill" >
	update 
		customer_skill
    set 
      skill_item_id = #{skill.skillItemId,jdbcType=BIGINT},
      skill_item_ext_id = #{skill.skillItemExtId,jdbcType=BIGINT},
      service_unit = #{skill.serviceUnit,jdbcType=VARCHAR},
      skill_price = #{skill.skillPrice,jdbcType=DECIMAL},
      switch_status = #{skill.switchStatus,jdbcType=TINYINT},
      receive_status = #{skill.receiveStatus,jdbcType=TINYINT},
      auto_receive_status = #{skill.autoReceiveStatus,jdbcType=TINYINT},
      discount_rate = #{skill.discountRate,jdbcType=DECIMAL},
      skill_range = #{skill.skillRange,jdbcType=TINYINT},
      discount_price = #{skill.discountPrice,jdbcType=DECIMAL},
      monday = #{skill.monday,jdbcType=TINYINT},
      tuesday = #{skill.tuesday,jdbcType=TINYINT},
      wednesday = #{skill.wednesday,jdbcType=TINYINT},
      thursday = #{skill.thursday,jdbcType=TINYINT},
      friday = #{skill.friday,jdbcType=TINYINT},
      saturday = #{skill.saturday,jdbcType=TINYINT},
      sunday = #{skill.sunday,jdbcType=TINYINT},
      end_time_str = #{skill.endTimeStr,jdbcType=VARCHAR},
      start_time_str = #{skill.startTimeStr,jdbcType=VARCHAR},
      appoint_start_time = #{skill.appointStartTime,jdbcType=TIMESTAMP},
      appoint_end_time = #{skill.appointEndTime,jdbcType=TIMESTAMP},
      modify_time = #{skill.modifyTime,jdbcType=TIMESTAMP}
    where 
    	customer_skill_id = #{skill.customerSkillId,jdbcType=BIGINT};
		</foreach>
	</update>

	
	  <select id="selectCustSkillItem" resultType="com.honglu.quickcall.account.facade.vo.OrderIMVO" parameterType="java.lang.Long" >
			SELECT
			  cs.service_unit  AS  serviceUnit,
			  cs.discount_price  AS  servicePrice,
			  st.skill_item_name  AS  skillItemName,
			  st.unlock_icon  AS  icon
			FROM
				customer_skill cs
			LEFT JOIN skill_item st ON cs.skill_item_id = st.id
			WHERE
				cs.customer_skill_id = #{customerSkillId}
  </select>
  
    <!-- 获取全部技能分类 -->
  <select id="selectPartSkill" resultType="com.honglu.quickcall.account.facade.vo.FirstPageSkillIteminfoVO" >

		SELECT
			id  as  skillItemId,
			skill_item_name as  skillItemName,
			unlock_icon   as  imageUrl
		FROM
			skill_item   
		where skill_status = 1
		ORDER BY
			sort DESC ,create_time  DESC
  </select>

  
  
  
  <!-- 查询用户当天可用技能 -->
    <select id="selectCustomerSkillByCustomerId" resultType="com.honglu.quickcall.account.facade.vo.CustomerSkillIMVO" >
		SELECT
			cs.service_unit  AS serviceUnit,
		  cs.skill_price  AS  servicePrice,
		  cs.skill_name  AS  skillItemName,
		  st.unlock_icon  AS  icon,
		  cs.customer_skill_id  AS  customerSkillId
		FROM
			customer_skill cs
		LEFT JOIN skill_item st ON cs.skill_item_id = st.id
    where cs.customer_id = #{customerId,jdbcType=BIGINT}  AND cs.switch_status = 1 AND cs.receive_status =1    AND cs.skill_status =1 
<!--        <if test="weekIndex == 1" >
        AND  cs.monday = #{skillSwitch,jdbcType=TINYINT}
      </if>
      <if test="weekIndex == 2" >
        AND  cs.tuesday = #{skillSwitch,jdbcType=TINYINT}
      </if>
      <if test="weekIndex == 3" >
        AND  cs.wednesday = #{skillSwitch,jdbcType=TINYINT}
      </if>
      <if test="weekIndex == 4" >
        AND  cs.thursday = #{skillSwitch,jdbcType=TINYINT}
      </if>
      <if test="weekIndex == 5" >
       AND   cs.friday = #{skillSwitch,jdbcType=TINYINT}
      </if>
      <if test="weekIndex == 6" >
       AND   cs.saturday = #{skillSwitch,jdbcType=TINYINT}
      </if>
      <if test="weekIndex == 7" >
        AND  cs.sunday = #{skillSwitch,jdbcType=TINYINT}
      </if>
      <if test="endTimeStr != null" >
        AND  cs.end_time_str <![CDATA[  > ]]> #{endTimeStr,jdbcType=VARCHAR}
      </if> -->
      <!-- <include refid="SKILL_EXIST_CONDITON"></include> -->
      <!-- AND   cs.appoint_end_time <![CDATA[  > ]]> #{endTime,jdbcType=TIMESTAMP} -->
      order by  cs.modify_time desc
      limit 1
  </select>
  
  
    <!-- 更新客户在线状态 -->
    <update id="updateBigvScore" >
	UPDATE 
		bigv_score
	SET 
		cust_status = #{receiveStatus}
	WHERE
		customer_id =#{customerId}
	</update>

	
	    <!-- 获取技能开关-->
  <select id="queryReceiveStatusByCustomerId" resultType="java.lang.Integer" >

		SELECT
			receive_status
		FROM
			customer_skill
		WHERE
			customer_id = #{customerId}
			and  skill_status = 1
			limit 1
  </select>
  
  
      <!-- 根据客户编号开启接单开关 -->
    <update id="openReceiveSwitch" >
	UPDATE 
		customer_skill
	SET 
		receive_status = #{receiveStatus}
	WHERE
		customer_id = #{customerId}
	</update>
	
	
	
	<select id="getSkillTypeByCustomerSkillId" resultType="java.lang.Integer" parameterType="java.lang.Long" >
			SELECT
				st.skill_type 
			FROM
				skill_item st
			LEFT JOIN customer_skill cs ON st.id = cs.skill_item_id
			WHERE
				cs.customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </select>
  

</mapper>