<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.account.facade.entity.CustomerSkillExtMapper" >
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.account.facade.entity.CustomerSkillExt" >
 
    <id column="cust_skill_ext_id" property="custSkillExtId" jdbcType="BIGINT" />
    <result column="customer_skill_id" property="customerSkillId" jdbcType="BIGINT" />
    <result column="service_unit" property="serviceUnit" jdbcType="VARCHAR" />
    <result column="skill_price" property="skillPrice" jdbcType="DECIMAL" />
    <result column="discount_rate" property="discountRate" jdbcType="DECIMAL" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    cust_skill_ext_id, customer_skill_id, service_unit, skill_price, discount_rate, discount_price, 
    create_time, modify_time, create_man, modify_man, remark
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from customer_skill_ext
    where cust_skill_ext_id = #{custSkillExtId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
   
    delete from customer_skill_ext
    where cust_skill_ext_id = #{custSkillExtId,jdbcType=BIGINT}
  </delete>


  <insert id="insert" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkillExt" >
    insert into customer_skill_ext (cust_skill_ext_id, customer_skill_id, service_unit, 
      skill_price, discount_rate, discount_price, 
      create_time, modify_time, create_man, 
      modify_man, remark)
    values (#{custSkillExtId,jdbcType=BIGINT}, #{customerSkillId,jdbcType=BIGINT}, #{serviceUnit,jdbcType=VARCHAR}, 
      #{skillPrice,jdbcType=DECIMAL}, #{discountRate,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR}, 
      #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkillExt" >
    insert into customer_skill_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custSkillExtId != null" >
        cust_skill_ext_id,
      </if>
      <if test="customerSkillId != null" >
        customer_skill_id,
      </if>
      <if test="serviceUnit != null" >
        service_unit,
      </if>
      <if test="skillPrice != null" >
        skill_price,
      </if>
      <if test="discountRate != null" >
        discount_rate,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="modifyMan != null" >
        modify_man,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custSkillExtId != null" >
        #{custSkillExtId,jdbcType=BIGINT},
      </if>
      <if test="customerSkillId != null" >
        #{customerSkillId,jdbcType=BIGINT},
      </if>
      <if test="serviceUnit != null" >
        #{serviceUnit,jdbcType=VARCHAR},
      </if>
      <if test="skillPrice != null" >
        #{skillPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkillExt" >
    update customer_skill_ext
    <set >
      <if test="customerSkillId != null" >
        customer_skill_id = #{customerSkillId,jdbcType=BIGINT},
      </if>
      <if test="serviceUnit != null" >
        service_unit = #{serviceUnit,jdbcType=VARCHAR},
      </if>
      <if test="skillPrice != null" >
        skill_price = #{skillPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        discount_rate = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where cust_skill_ext_id = #{custSkillExtId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.account.facade.entity.CustomerSkillExt" >
    update customer_skill_ext
    set customer_skill_id = #{customerSkillId,jdbcType=BIGINT},
      service_unit = #{serviceUnit,jdbcType=VARCHAR},
      skill_price = #{skillPrice,jdbcType=DECIMAL},
      discount_rate = #{discountRate,jdbcType=DECIMAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where cust_skill_ext_id = #{custSkillExtId,jdbcType=BIGINT}
  </update>
</mapper>