<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.account.service.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.account.facade.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="trade_id" property="tradeId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="order_describe" property="orderDescribe" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="order_amounts" property="orderAmounts" jdbcType="DECIMAL" />
    <result column="payment_type" property="paymentType" jdbcType="TINYINT" />
    <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="refund_reason" property="refundReason" jdbcType="VARCHAR" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="consign_time" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="buyer_is_evaluate" property="buyerIsEvaluate" jdbcType="TINYINT" />
    <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="buyer_evaluate" property="buyerEvaluate" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  
  <sql id="Base_Column_List" >
    order_id, trade_id, product_id, buyer_id, seller_id, order_describe, order_num, order_amounts, 
    payment_type, confirm_time, start_time, end_time, order_time, finish_time, order_status, 
    refund_reason, payment_time, consign_time, buyer_is_evaluate, buyer_message, buyer_evaluate, 
    create_time, modify_time, create_man, modify_man, remark
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orders
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>


  <insert id="insert" parameterType="com.honglu.quickcall.account.facade.entity.Order" >
    insert into orders (order_id, trade_id, product_id, 
      buyer_id, seller_id, order_describe, 
      order_num, order_amounts, payment_type, 
      confirm_time, start_time, end_time, 
      order_time, finish_time, order_status, 
      refund_reason, payment_time, consign_time, 
      buyer_is_evaluate, buyer_message, buyer_evaluate, 
      create_time, modify_time, create_man, 
      modify_man, remark)
    values (#{orderId,jdbcType=BIGINT}, #{tradeId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{buyerId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{orderDescribe,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{orderAmounts,jdbcType=DECIMAL}, #{paymentType,jdbcType=TINYINT}, 
      #{confirmTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=TINYINT}, 
      #{refundReason,jdbcType=VARCHAR}, #{paymentTime,jdbcType=TIMESTAMP}, #{consignTime,jdbcType=TIMESTAMP}, 
      #{buyerIsEvaluate,jdbcType=TINYINT}, #{buyerMessage,jdbcType=VARCHAR}, #{buyerEvaluate,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR}, 
      #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.honglu.quickcall.account.facade.entity.Order" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="orderDescribe != null" >
        order_describe,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderAmounts != null" >
        order_amounts,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="refundReason != null" >
        refund_reason,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="consignTime != null" >
        consign_time,
      </if>
      <if test="buyerIsEvaluate != null" >
        buyer_is_evaluate,
      </if>
      <if test="buyerMessage != null" >
        buyer_message,
      </if>
      <if test="buyerEvaluate != null" >
        buyer_evaluate,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="modifyMan != null" >
        modify_man,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="orderDescribe != null" >
        #{orderDescribe,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderAmounts != null" >
        #{orderAmounts,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="refundReason != null" >
        #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerIsEvaluate != null" >
        #{buyerIsEvaluate,jdbcType=TINYINT},
      </if>
      <if test="buyerMessage != null" >
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="buyerEvaluate != null" >
        #{buyerEvaluate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  



  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.account.facade.entity.Order" >
    update orders
    <set >
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="orderDescribe != null" >
        order_describe = #{orderDescribe,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderAmounts != null" >
        order_amounts = #{orderAmounts,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="confirmTime != null" >
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="refundReason != null" >
        refund_reason = #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerIsEvaluate != null" >
        buyer_is_evaluate = #{buyerIsEvaluate,jdbcType=TINYINT},
      </if>
      <if test="buyerMessage != null" >
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="buyerEvaluate != null" >
        buyer_evaluate = #{buyerEvaluate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.account.facade.entity.Order" >
    update orders
    set trade_id = #{tradeId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      buyer_id = #{buyerId,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      order_describe = #{orderDescribe,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      order_amounts = #{orderAmounts,jdbcType=DECIMAL},
      payment_type = #{paymentType,jdbcType=TINYINT},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=TINYINT},
      refund_reason = #{refundReason,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      buyer_is_evaluate = #{buyerIsEvaluate,jdbcType=TINYINT},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      buyer_evaluate = #{buyerEvaluate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  
  
  
  
   <!-- 查询发出的订单 -->
  <select id="querySendOrderList" resultType="com.honglu.quickcall.account.facade.vo.OrderSendOrderListVO"  >
	SELECT
	  od.order_id AS  orderId,
	  od.seller_id  AS sellerId,
	  od.order_time AS orderTime,
	  od.payment_time AS paymentTime,
	  cu.nick_name  AS  nickName,
	  cu.head_portrait_url  AS  headPortraitUrl,
	  p.`name` AS  productName,
	  p.price  AS  price,
	  p.product_id  AS  productId,
	  od.order_num  AS  orderNum,
	  od.order_amounts  AS  orderAmounts,
	  od.order_status  AS  orderStatus,
	  DATE_FORMAT(od.start_time,'%Y-%m-%d %H:%i:%s') AS startTimeStr
	FROM
		orders od
	LEFT JOIN customer cu ON od.seller_id = cu.customer_id
	LEFT JOIN product  p  ON  od.product_id  =  p.product_id
	WHERE
		od.buyer_id = #{customerId}
		order  by  od.order_time  desc
  </select>
  
  
  <!-- 查询收到的订单 -->
  <select id="queryReceiveOrderList" resultType="com.honglu.quickcall.account.facade.vo.OrderReceiveOrderListVO"  >
	SELECT
	  od.order_id AS  orderId,
	  od.payment_time AS paymentTime,
	  cu.nick_name  AS  nickName,
	  cu.head_portrait_url  AS  headPortraitUrl,
	  p.`name` AS  productName,
	  p.price  AS  price,
	  p.product_id  AS  productId,
	  od.order_num  AS  orderNum,
	  od.order_amounts  AS  orderAmounts,
	  od.order_status  AS  orderStatus,
	  DATE_FORMAT(od.start_time,'%Y-%m-%d %H:%i:%s') AS startTimeStr
	   
	FROM
		orders od
	LEFT JOIN customer cu ON od.buyer_id = cu.customer_id
	LEFT JOIN product  p  ON  od.product_id  =  p.product_id
	WHERE
		od.seller_id =  #{customerId}
		<!-- 大V端不能看到未支付的订单 -->
		AND  od.order_status <![CDATA[ >  ]]> 3
		order  by  od.order_time  desc
  </select>
  
  
  <!-- 查询大V订单详情 -->
  <select id="queryDvOrderDetail" resultType="com.honglu.quickcall.account.facade.vo.OrderDetailVO"  >
	SELECT
	  od.order_id AS  orderId,
	  od.refund_reason  AS refundReason,
	  od.payment_time AS paymentTime,
	  cu.sex  AS  sex ,
	  (YEAR(NOW()) -  YEAR(cu.birthday))  AS age ,
	  cu.v_status  AS dvStatus,
	  cu.nick_name  AS  anotherNickName,
	  cu.head_portrait_url  AS  anotherHeadPortraitUrl,
	  p.`name` AS  productName,
	  p.price  AS  price,
	  p.product_id  AS  productId,
	  od.order_num  AS  orderNum,
	  od.order_amounts  AS  orderAmounts,
	  od.order_status  AS  orderStatus,
	  od.order_time AS orderTime,
	  DATE_FORMAT(od.start_time,'%Y-%m-%d %H:%i:%s') AS startTimeStr
	FROM
		orders od
	LEFT JOIN customer cu ON od.buyer_id = cu.customer_id
	LEFT JOIN product  p  ON  od.product_id  =  p.product_id
	WHERE
		od.order_id =  #{orderId}
  </select>
  <!-- 查询消费端订单详情 -->
  <select id="queryCustOrderDetail" resultType="com.honglu.quickcall.account.facade.vo.OrderDetailVO"  >
	SELECT
	  od.order_id AS  orderId,
	  od.refund_reason  AS refundReason,
	  od.payment_time AS paymentTime,
	  cu.sex  AS  sex ,
	  (YEAR(NOW()) -  YEAR(cu.birthday))  AS age ,
	  cu.v_status  AS dvStatus,
	  cu.nick_name  AS  anotherNickName,
	  cu.head_portrait_url  AS  anotherHeadPortraitUrl,
	  p.`name` AS  productName,
	  p.price  AS  price,
	  p.product_id  AS  productId,
	  od.order_num  AS  orderNum,
	  od.order_amounts  AS  orderAmounts,
	  od.order_status  AS  orderStatus,
	  od.order_time AS orderTime,
	  DATE_FORMAT(od.start_time,'%Y-%m-%d %H:%i:%s') AS startTimeStr
	FROM
		orders od
	LEFT JOIN customer cu ON od.seller_id = cu.customer_id
	LEFT JOIN product  p  ON  od.product_id  =  p.product_id
	WHERE
		od.order_id =  #{orderId}
  </select>
  
  
  
  <!-- 查询消费端订单详情 -->
  <select id="queryIngOrderCount" resultType="java.lang.Integer"  >
	SELECT
	  count(1)
	FROM
		orders 
	WHERE  order_status = #{orderStatus}  and
		buyer_id = #{buyerId}  and  seller_id =  #{sellerId}  
  </select>
  
  
</mapper>