<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honglu.quickcall.account.service.dao.SkillMapper" >
  <resultMap id="BaseResultMap" type="com.honglu.quickcall.account.facade.entity.Skill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="skill_describe" property="skillDescribe" jdbcType="VARCHAR" />
    <result column="min_price" property="minPrice" jdbcType="DECIMAL" />
    <result column="max_price" property="maxPrice" jdbcType="DECIMAL" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="title_url" property="titleUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="price_step" property="priceStep" jdbcType="SMALLINT" />
    <result column="skill_status" property="skillStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <sql id="Base_Column_List" >
    id, name, skill_describe, min_price, max_price, image_url, title_url,sort, price_step, skill_status, 
    create_time, modify_time, create_man, modify_man, remark
  </sql>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from skill
    where id = #{id,jdbcType=BIGINT}
  </select>

  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from skill
    where id = #{id,jdbcType=BIGINT}
  </delete>


  <insert id="insert" parameterType="com.honglu.quickcall.account.facade.entity.Skill" >
    insert into skill (id, name, skill_describe, 
      min_price, max_price, image_url, title_url,
      sort, price_step, skill_status, 
      create_time, modify_time, create_man, 
      modify_man, remark)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{skillDescribe,jdbcType=VARCHAR}, 
      #{minPrice,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL}, #{imageUrl,jdbcType=VARCHAR}, #{titleUrl,jdbcType=VARCHAR}, 
      #{sort,jdbcType=SMALLINT}, #{priceStep,jdbcType=SMALLINT}, #{skillStatus,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR}, 
      #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.honglu.quickcall.account.facade.entity.Skill" >
    insert into skill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="skillDescribe != null" >
        skill_describe,
      </if>
      <if test="minPrice != null" >
        min_price,
      </if>
      <if test="maxPrice != null" >
        max_price,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="titleUrl != null" >
        title_url,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="priceStep != null" >
        price_step,
      </if>
      <if test="skillStatus != null" >
        skill_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="modifyMan != null" >
        modify_man,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="skillDescribe != null" >
        #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="minPrice != null" >
        #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="titleUrl != null" >
        #{titleUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="priceStep != null" >
        #{priceStep,jdbcType=SMALLINT},
      </if>
      <if test="skillStatus != null" >
        #{skillStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  


  <update id="updateByPrimaryKeySelective" parameterType="com.honglu.quickcall.account.facade.entity.Skill" >
    update skill
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="skillDescribe != null" >
        skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="minPrice != null" >
        min_price = #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        max_price = #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="titleUrl != null" >
        title_url = #{titleUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="priceStep != null" >
        price_step = #{priceStep,jdbcType=SMALLINT},
      </if>
      <if test="skillStatus != null" >
        skill_status = #{skillStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.honglu.quickcall.account.facade.entity.Skill" >
    update skill
    set name = #{name,jdbcType=VARCHAR},
      skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      min_price = #{minPrice,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      title_url = #{titleUrl,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      price_step = #{priceStep,jdbcType=SMALLINT},
      skill_status = #{skillStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 获取全部可用的技能 -->
  <select id="selectTotalSkill" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from skill
    where skill_status = 0
  </select>
  
  
  <!-- 获取全部技能分类 -->
  <select id="selectPartSkill" resultType="com.honglu.quickcall.account.facade.vo.FirstPageSkillinfoVO" >
		SELECT
			sk.id  as  skillId,
			sk.name as  name,
			sk.title_url  as  titleUrl
		FROM
			(
				SELECT
					count(1) AS count,
					skill_id
				FROM
					product
				WHERE
					product_status = 1
				GROUP BY
					skill_id
			) tmp
		LEFT JOIN skill sk ON sk.id = tmp.skill_id
		ORDER BY
			tmp.count DESC 
  </select>
  <!-- 根据客户编号查询大V声音信息 -->
  <select id="getVoiceInfo" resultType="com.honglu.quickcall.account.facade.vo.VoiceVO" >
		SELECT
			v_voice_status AS voiceStatus,
			v_voice_time AS voiceTime,
			v_voice_url AS voiceUrl
		FROM
			customer
		WHERE
			customer_id =#{customerId}
  </select>
  
  
  
  
</mapper>