<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<property name="LOG_HOME" value="." />
	<property name="appName" value="quickcallTask"></property>

	
	<springProfile name="dev">
		<logger name="dao" level="DEBUG"/>  

	    <root level="DEBUG">
	        <appender-ref ref="CONSOLE"/>
	    </root>
	</springProfile>

</configuration>