<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ResourcePool" >
  <resultMap id="BaseResultMap" type="com.calf.module.resource.entity.ResourcePool" >
    <id column="id" property="id" jdbcType="BIGINT" javaType="STRING" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="sound_total" property="soundTotal" jdbcType="INTEGER" />

    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />

<!--    <association property="" >

    </association>-->
  </resultMap>


  <sql id="Base_Column_List" >
    id, resource_name, sound_total, status,remark,
    create_time,modify_time, create_man, modify_man
  </sql>
  <sql id="vo_Column_List" >
    id, resource_name as resourceName, sound_total as soundTotal, soundTotalUIDStr
    ,status

  </sql>
  <select id="selectPageList" resultType="com.calf.module.resource.vo.ResourcePoolVo" parameterType="map" >
    select
    id, resource_name as resourceName, sound_total as soundTotal
    , (select count(1) from resource_config rc where rc.resource_pool_id=rp.id and rc.strategy !=1) as activeStatus
    from resource_pool rp
    where 1 = 1
    <if test="status != null" >
      and  rp.status = #{status}
    </if>
    <if test="resourceName != null" >
      and  resource_name like  concat( '%',#{resourceName},'%')
    </if>
    LIMIT ${iDisplayStart},${iDisplayLength}
  </select>

  <select id="selectCount" resultType="java.lang.Integer" parameterType="map" >
    select
    count(1)
    from resource_pool
    where 1 = 1
    <if test="status != null" >
      and  status = #{status}
    </if>
    <if test="resourceName != null" >
      and  resource_name like  concat( '%',#{resourceName},'%')
    </if>
  </select>

  <insert id="insert" parameterType="com.calf.module.resource.entity.ResourcePool" >
    insert into resource_pool (id, resource_name, sound_total,status,
    create_time,modify_time, create_man, modify_man
      )
    values (#{id,jdbcType=BIGINT},
            #{resourceName,jdbcType=VARCHAR},
            #{soundTotal,jdbcType=INTEGER},
            #{status,jdbcType=TINYINT},
            #{createTime,jdbcType=TIMESTAMP},
            #{modifyTime,jdbcType=TIMESTAMP},
            #{createMan,jdbcType=VARCHAR},
            #{modifyMan,jdbcType=VARCHAR}
      )

  </insert>

  <select id="selectByPrimaryKey" resultType="com.calf.module.resource.vo.ResourcePoolVo" parameterType="java.lang.String" >
    select
      id, resource_name as resourceName
    from resource_pool
    where id = #{id,jdbcType=BIGINT}
  </select>

  <update id="updateByPrimaryKey" parameterType="com.calf.module.resource.entity.ResourcePool" >
    update resource_pool
    <set >
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="soundTotal != null" >
        sound_total = #{soundTotal,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateStatusDel" parameterType="Map" >
    update resource_pool
     set status = #{status,jdbcType=TINYINT},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        modify_man = #{modifyMan,jdbcType=VARCHAR}
     where id = #{resource_pool_id,jdbcType=BIGINT}
  </update>

  <select id="getExistCustomerId" parameterType="Map" resultType="String">
    select customer_id from customer where app_id=#{app_id,jdbcType=BIGINT}
  </select>

  <select id="queryOnlineCount" resultType="java.lang.Integer" parameterType="Map">
    select count(1) from customer c
    where c.cust_state = 2
    and c.v_status = 2
    and c.customer_id in
    <foreach collection="clist" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="queryInOrderCount" resultType="java.lang.Integer" parameterType="Map">
    select count(1) from orders where
     order_status in
    <foreach collection="statusList" index="index" item="status" open="(" separator="," close=")">
      #{status}
    </foreach>
     and service_id in
    <foreach collection="clist" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAllValidData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource_pool
    where status=1
    order by create_time desc
  </select>
</mapper>