<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
            http://www.springframework.org/schema/task
                http://www.springframework.org/schema/task/spring-task-4.1.xsd">
    <!-- 连接服务配置  -->
    <rabbit:connection-factory id="RCconnectionFactory"
                               host="${mq.host}"
                               username="${mq.username}"
                               password="${mq.password}"
                               port="${mq.port}"
                               virtual-host="/voice"/>

    <rabbit:admin connection-factory="RCconnectionFactory"/>

    <!-- queue 队列声明-->
    <rabbit:queue id="queue_admin_customer_message" durable="true" auto-delete="false" exclusive="false" name="queue_admin_customer_message"/>

    <!-- exchange queue binging key 绑定 -->
    <rabbit:direct-exchange name="admin-mq-exchange" durable="true" auto-delete="false" id="admin-mq-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="queue_admin_customer_message" key="queue_admin_customer_message_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- 异步的线程池 -->
    <task:executor id="taskExecutor" pool-size="4-256" queue-capacity="128" />
    <!-- queue litener  观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象-->
    <rabbit:listener-container connection-factory="RCconnectionFactory" acknowledge="auto" task-executor="taskExecutor">
        <rabbit:listener queues="queue_admin_customer_message" ref="customerMessageListener"/>
    </rabbit:listener-container>

    <bean id="customerMessageListener"  class="com.calf.module.mq.pull.CustomerMessageListener" />

</beans>