<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArrondiStatistics">
    <resultMap id="resultMap" type="ArrondiStatistics">
        <result property="users" column="users"/>
        <result property="clickCount" column="click_count"/>
        <result property="arrondiCount" column="arrondi_count"/>
        <result property="arrondiId" column="arrondi_id"/>
        <result property="date" column="date"/>
        <result property="name" column="name"/>
        <result property="position" column="position"/>
        <result property="phoneNum" column="phoneNum"/>
    </resultMap>

    <select id="queryCount" parameterType="map" resultType="Integer">
        SELECT
        COUNT(0)
        FROM
        (
        SELECT
        a.page_id AS arrdodi_id
        FROM
        stat_tracker_his a
        INNER JOIN zone_product b ON (
        a.page_id = b.zone_id
        AND a.area_id = 1
        )
        WHERE 1=1
        AND a.area_id = 1
        <if test="sDate != null">
            and DATE_FORMAT(a.track_time , '%Y-%m-%d') &gt;= #{sDate}
        </if>
        <if test="eDate != null">
            and DATE_FORMAT(a.track_time , '%Y-%m-%d') &lt;= #{eDate}
        </if>
        <if test="name != null">
            and b.zone_name like concat('%', #{name},'%')
        </if>
        GROUP BY a.page_id, DATE_FORMAT(a.track_time, '%Y-%m-%d')
        ) AS c
    </select>
    
    <select id="query" parameterType="map" resultMap="resultMap">
        SELECT
            a.page_id AS arrondi_id,
            COUNT(0) AS click_count,
            COUNT(DISTINCT a.uid) AS users,
            DATE_FORMAT(a.track_time, '%Y-%m-%d') AS date,
            b.zone_name AS NAME,
            b.zone_type AS position
        FROM
            stat_tracker_his a
        INNER JOIN zone_product b ON (
            a.page_id = b.zone_id
        AND a.area_id = 1
        )
        WHERE 1=1
        AND a.area_id = 1
        <if test="sDate != null">
            and DATE_FORMAT(a.track_time , '%Y-%m-%d') &gt;= #{sDate}
        </if>
        <if test="eDate != null">
            and DATE_FORMAT(a.track_time , '%Y-%m-%d') &lt;= #{eDate}
        </if>
        <if test="name != null">
            and b.zone_name like concat('%', #{name},'%')
        </if>
        GROUP BY
        a.page_id,
        DATE_FORMAT(a.track_time, '%Y-%m-%d')
        ORDER BY
        a.track_time DESC
        LIMIT ${iDisplayStart}, ${iDisplayLength}
    </select>
    
    <!-- 查询原始数据 -->
    <!-- <select id="queryOut" parameterType="map" resultMap="resultMap">
        SELECT
            a.page_id AS arrondi_id,
            COUNT(0) AS click_count,
            a.uid AS phoneNum,
            DATE_FORMAT(a.track_time, '%Y-%m-%d %H:%i:%s') AS date,
            b.zone_name AS NAME,
            b.zone_type AS position
        FROM
            stat_tracker_his a
        INNER JOIN zone_product b ON (
            a.page_id = b.zone_id
        AND a.area_id = 1
        )
        WHERE 1=1
        AND a.area_id = 1
        AND TO_DAYS( NOW( ) ) - TO_DAYS(track_time) = 1
        GROUP BY
        a.page_id,
        DATE_FORMAT(a.track_time, '%Y-%m-%d')
        ORDER BY
        a.track_time DESC
    </select> -->
    
    <!-- 查询需求结果 -->
    <select id="queryOut" parameterType="map" resultMap="resultMap">
        SELECT
            a.page_id AS arrondi_id,
            COUNT(0) AS click_count,
            COUNT(DISTINCT a.uid) AS users,
            DATE_FORMAT(a.track_time, '%Y-%m-%d') AS date,
            b.zone_name AS NAME,
            b.zone_type AS position
        FROM
            stat_tracker_his a
        INNER JOIN zone_product b ON (
            a.page_id = b.zone_id
        AND a.area_id = 1
        )
        WHERE 1=1
        AND a.area_id = 1
        AND TO_DAYS( NOW( ) ) - TO_DAYS(track_time) = 1
        GROUP BY
        a.page_id,
        DATE_FORMAT(a.track_time, '%Y-%m-%d')
<!--         ORDER BY a.track_time DESC -->
    </select>
    
    <select id="queryArrondiOut" parameterType="java.util.Map" resultMap="resultMap">
        SELECT
            a.page_id AS arrondi_id,
            COUNT(0) AS click_count,
            COUNT(DISTINCT a.uid) AS users,
            #{track_time} AS date,
            b.zone_name AS NAME,
            b.zone_type AS position
        FROM stat_tracker_his a
        INNER JOIN zone_product b ON (a.page_id = b.zone_id AND a.area_id = 1)
        WHERE a.area_id = 1 AND date(track_time) = #{track_time}
        GROUP BY a.page_id, date(a.track_time)
    </select>

    <select id="queryAll" parameterType="map" resultMap="resultMap">
        SELECT
        a.page_id AS arrondi_id,
        COUNT(0) AS click_count,
        COUNT(DISTINCT a.uid) AS users,
        DATE_FORMAT(a.track_time, '%Y-%m-%d') AS date,
        b.zone_name AS NAME,
        b.zone_type AS position
        FROM
        stat_tracker_his a
        INNER JOIN zone_product b ON (
        a.page_id = b.zone_id
        AND a.area_id = 1
        )
        WHERE 1=1
        AND a.area_id = 1
        <if test="sDate != null">
            and DATE_FORMAT(a.track_time , '%Y-%m-%d') &gt;= #{sDate}
        </if>
        <if test="eDate != null">
            and DATE_FORMAT(a.track_time , '%Y-%m-%d') &lt;= #{eDate}
        </if>
        <if test="name != null">
            and b.zone_name like concat('%', #{name},'%')
        </if>
        GROUP BY a.page_id, DATE_FORMAT(a.track_time, '%Y-%m-%d')
<!--         ORDER BY a.track_time DESC -->
    </select>
    
    <!-- 查询需求数据 -->
   <!--  <select id="queryAllOut" parameterType="map" resultMap="resultMap">
         SELECT
            a.page_id AS arrondi_id,
            a.uid AS phoneNum,
            DATE_FORMAT(a.track_time, '%Y-%m-%d %H:%i:%s') AS date,
            b.zone_name AS NAME,
            b.zone_type AS position
        FROM
            stat_tracker_his a
        INNER JOIN zone_product b ON (
            a.page_id = b.zone_id
        AND a.area_id = 1
        )
        WHERE 1=1
        AND a.area_id = 1
        ORDER BY
        a.track_time DESC
    </select> -->
    
    <!-- 查询需求结果 -->
     <select id="queryAllOut" parameterType="map" resultMap="resultMap">
         SELECT
            a.page_id AS arrondi_id,
            COUNT(0) AS click_count,
            COUNT(DISTINCT a.uid) AS users,
            DATE_FORMAT(a.track_time, '%Y-%m-%d') AS date,
            b.zone_name AS NAME,
            b.zone_type AS position
        FROM
            stat_tracker_his a
        INNER JOIN zone_product b ON (
            a.page_id = b.zone_id
        AND a.area_id = 1
        )
        WHERE 1=1
        AND a.area_id = 1
        GROUP BY a.page_id, DATE_FORMAT(a.track_time, '%Y-%m-%d')
		<!--  ORDER BY a.track_time DESC -->
    </select>

</mapper>
