<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChannelStatistics">
    <resultMap id="resultMap" type="ChannelStatistics">
        <result property="statisticalTime" column="createTimeAc"/>
        <result property="channelName" column="channelName"/>
        <result property="activateNum" column="countAc"/>
        <result property="registerNum" column="countA"/>
    </resultMap>

    <select id="queryCount" parameterType="map" resultType="Integer">
        SELECT
			count(1)
		FROM
			(
				SELECT
					count(a.account_id) AS countA,
					DATE_FORMAT(a.create_time, '%Y-%m-%d') AS createTimeA,
					a.app_channel_name as channelName
				FROM
					account a
				WHERE
					1 = 1
				<if test="sDate != null">
				AND a.create_time  &gt;= #{sDate}
				</if>
      			<if test="eDate != null">
				AND a.create_time &lt;= #{eDate}
				</if>
				<if test="channelName != null">
				and  a.app_channel_name LIKE CONCAT('%', #{channelName}, '%')
				</if>
				GROUP BY
					DATE_FORMAT(a.create_time, '%Y-%m-%d')
			) a1
		RIGHT JOIN  (
			SELECT
				count(ac.app_channel_id) AS countAc,
				DATE_FORMAT(ac.create_time, '%Y-%m-%d') AS createTimeAc,
					ac.app_channel_name as channelName2
			FROM
				app_channel ac
			WHERE
				1 = 1
			<if test="sDate != null">	 
			AND ac.create_time &gt;= #{sDate}
			</if>
 			<if test="eDate != null">
			AND ac.create_time &lt;= #{eDate}
			</if>
			<if test="channelName != null">
			and  ac.app_channel_name LIKE CONCAT('%', #{channelName}, '%')
			</if>
			GROUP BY
				DATE_FORMAT(ac.create_time, '%Y-%m-%d')
		) a2 ON a1.createTimeA = a2.createTimeAc
			where 1=1 
				<if test="channelName != null">
				and a1.channelName = a2.channelName2
			</if>
		        ORDER BY a2.createTimeAc DESC
    </select>
    <select id="query" parameterType="map" resultMap="resultMap">
       SELECT
			*
		FROM
			(
				SELECT
					count(a.account_id) AS countA,
					DATE_FORMAT(a.create_time, '%Y-%m-%d') AS createTimeA,
					a.app_channel_name as channelName
				FROM
					account a
				WHERE
					1 = 1
				<if test="sDate != null">
				AND a.create_time  &gt;= #{sDate}
				</if>
      			<if test="eDate != null">
				AND a.create_time &lt;= #{eDate}
				</if>
				<if test="channelName != null">
				and  a.app_channel_name LIKE CONCAT('%', #{channelName}, '%')
				</if>
				GROUP BY
					DATE_FORMAT(a.create_time, '%Y-%m-%d')
			) a1
		RIGHT JOIN  (
			SELECT
				count(ac.app_channel_id) AS countAc,
				DATE_FORMAT(ac.create_time, '%Y-%m-%d') AS createTimeAc,
					ac.app_channel_name as channelName2
			FROM
				app_channel ac
			WHERE
				1 = 1
			<if test="sDate != null">	 
			AND ac.create_time &gt;= #{sDate}
			</if>
 			<if test="eDate != null">
			AND ac.create_time &lt;= #{eDate}
			</if>
			<if test="channelName != null">
			and  ac.app_channel_name LIKE CONCAT('%', #{channelName}, '%')
			</if>
			GROUP BY
				DATE_FORMAT(ac.create_time, '%Y-%m-%d')
		) a2 ON a1.createTimeA = a2.createTimeAc
			where 1=1 
				<if test="channelName != null">
				and a1.channelName = a2.channelName2
			</if>
		
		        ORDER BY a2.createTimeAc DESC
        LIMIT ${iDisplayStart}, ${iDisplayLength}
    </select>
    
    
      <select id="queryAll" parameterType="map" resultMap="resultMap">
       SELECT
			*
		FROM
			(
				SELECT
					count(a.account_id) AS countA,
					DATE_FORMAT(a.create_time, '%Y-%m-%d') AS createTimeA,
					a.app_channel_name as channelName
				FROM
					account a
				WHERE
					1 = 1
				<if test="sDate != null">
				AND DATE_FORMAT(a.create_time, '%Y-%m-%d')  &gt;= #{sDate}
				</if>
      			<if test="eDate != null">
				AND DATE_FORMAT(a.create_time, '%Y-%m-%d') &lt;= #{eDate}
				</if>
				<if test="channelName != null">
				and  a.app_channel_name LIKE CONCAT('%', #{channelName}, '%')
				</if>
				GROUP BY
					DATE_FORMAT(a.create_time, '%Y-%m-%d')
			) a1
		RIGHT JOIN  (
			SELECT
				count(ac.app_channel_id) AS countAc,
				DATE_FORMAT(ac.create_time, '%Y-%m-%d') AS createTimeAc,
					ac.app_channel_name as channelName2
			FROM
				app_channel ac
			WHERE
				1 = 1
			<if test="sDate != null">	 
			AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &gt;= #{sDate}
			</if>
 			<if test="eDate != null">
			AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &lt;= #{eDate}
			</if>
			<if test="channelName != null">
			and  ac.app_channel_name LIKE CONCAT('%', #{channelName}, '%')
			</if>
			GROUP BY
				DATE_FORMAT(ac.create_time, '%Y-%m-%d')
		) a2 ON a1.createTimeA = a2.createTimeAc
			where 1=1 
				<if test="channelName != null">
				and a1.channelName = a2.channelName2
			</if>
		
		        ORDER BY a2.createTimeAc DESC
    </select>
</mapper>
