<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChannelSummary">
     <resultMap id="resultMap" type="ChannelSummary">
        <result property="statisticalTime" column="createTime"/>
        <result property="channelName" column="channelName"/>
        <result property="registerNum" column="registerNum"/>
        <result property="activateNum" column="activateNum"/>
    </resultMap>

    
    
     <select id="queryCount" parameterType="map" resultType="Integer">
       select count(1) from (
    SELECT SUM(tt.registerNum) as registerNum,SUM(tt.appRe) as activateNum ,tt.channelName,tt.createTime,tt.phoneType from (
					SELECT
			b.registerNum,
			b.phoneType,
									CASE
				WHEN (b.source = 1 OR b.source = 2) THEN
					'ios'
				WHEN (b.source = 3) THEN
					'android'
				WHEN (b.source = 5) THEN
					'H5'
				ELSE
					'未知'
				END AS channelName,
			b.createTime,
					IFNULL(h.appRe, 0) AS appRe
		FROM
			(
				SELECT
					COUNT(*) AS registerNum,
					a.phone_type AS phoneType,
					a.source,
					DATE_FORMAT(a.create_time, '%Y-%m-%d') AS createTime
				FROM
					account a
					where 1=1 
			<if test="sDate != null">	 
			AND a.create_time &gt;= #{sDate}
			</if>
 			<if test="eDate != null">
			AND a.create_time &lt;= #{eDate}
			</if>
				GROUP BY
					a.source,
					a.create_time
			) b
		LEFT JOIN (
			SELECT
				COUNT(*) AS appRe,
				d.device_type AS deviceType
			FROM
				app_channel d
			GROUP BY
				d.device_type
		) h ON h.deviceType = b.phoneType)  tt 
		
		WHERE 1=1 
		
			<if test="channelName != null">
			and tt.channelName = #{channelName}
			</if>
		 GROUP BY tt.channelName,
tt.createTime )  ts
    </select>


	<select id="newQueryCount" parameterType="map" resultType="Integer">
		select count(1) from (
		SELECT activateNum,a.app_channel_name as channelName,a.create_time as createTime,registerNum FROM
		(
		SELECT COUNT(app_channel_id) AS activateNum ,app_channel_name,DATE_FORMAT(create_time, '%Y-%m-%d') as create_time
		FROM app_channel WHERE 1=1
		<if test="sDate != null">
			AND create_time &gt;= #{sDate}
		</if>
		<if test="eDate != null">
			AND create_time &lt;= #{eDate}
		</if>
		<if test="channelName != null">
			and app_channel_name = #{channelName}
		</if>
		GROUP BY app_channel_name,DATE_FORMAT(create_time, '%Y-%m-%d')) a
		LEFT JOIN
		(
		SELECT  COUNT(account_id) AS registerNum,app_channel_name, DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time FROM account
		WHERE 1=1
		<if test="sDate != null">
			AND create_time &gt;= #{sDate}
		</if>
		<if test="eDate != null">
			AND create_time &lt;= #{eDate}
		</if>
		<if test="channelName != null">
			and app_channel_name = #{channelName}
		</if>
		GROUP BY app_channel_name,DATE_FORMAT(create_time, '%Y-%m-%d') ) b
		ON a.create_time=b.create_time and a.app_channel_name=b.app_channel_name  )  ts
	</select>
    
    
    <select id="query" parameterType="map" resultMap="resultMap">
    
   SELECT SUM(tt.registerNum) as registerNum,SUM(tt.appRe) as activateNum ,tt.channelName,tt.createTime,tt.phoneType from (
					SELECT
			b.registerNum,
			b.phoneType,
									CASE
				WHEN (b.source = 1 OR b.source = 2) THEN
					'ios'
				WHEN (b.source = 3) THEN
					'android'
				WHEN (b.source = 5) THEN
					'H5'
				ELSE
					'未知'
				END AS channelName,
			b.createTime,
					IFNULL(h.appRe, 0) AS appRe
		FROM
			(
				SELECT
					COUNT(*) AS registerNum,
					a.phone_type AS phoneType,
					a.source,
					DATE_FORMAT(a.create_time, '%Y-%m-%d') AS createTime
				FROM
					account a
					where 1=1 
			<if test="sDate != null">	 
			AND a.create_time &gt;= #{sDate}
			</if>
 			<if test="eDate != null">
			AND a.create_time &lt;= #{eDate}
			</if>
				GROUP BY
					a.source,
					a.create_time
			) b
		LEFT JOIN (
			SELECT
				COUNT(*) AS appRe,
				d.device_type AS deviceType
			FROM
				app_channel d
			GROUP BY
				d.device_type
		) h ON h.deviceType = b.phoneType)  tt 
		
		WHERE 1=1 
		
			<if test="channelName != null">
			and tt.channelName = #{channelName}
			</if>
		 GROUP BY tt.channelName,
tt.createTime 
        LIMIT ${iDisplayStart}, ${iDisplayLength}
    </select>


	<select id="newQuery" parameterType="map" resultMap="resultMap">

		SELECT activateNum,a.app_channel_name as channelName,a.create_time as createTime,registerNum FROM
		(
		SELECT COUNT(app_channel_id) AS activateNum ,app_channel_name,DATE_FORMAT(create_time, '%Y-%m-%d') as create_time
			FROM app_channel WHERE 1=1
		<if test="sDate != null">
			AND create_time &gt;= #{sDate}
		</if>
		<if test="eDate != null">
			AND create_time &lt;= #{eDate}
		</if>
		<if test="channelName != null">
			and app_channel_name = #{channelName}
		</if>
		GROUP BY app_channel_name,DATE_FORMAT(create_time, '%Y-%m-%d')) a
		LEFT JOIN
		(
			SELECT  COUNT(account_id) AS registerNum,app_channel_name, DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time FROM account
		WHERE 1=1
		<if test="sDate != null">
			AND create_time &gt;= #{sDate}
		</if>
		<if test="eDate != null">
			AND create_time &lt;= #{eDate}
		</if>
		<if test="channelName != null">
			and app_channel_name = #{channelName}
		</if>
		  GROUP BY app_channel_name,DATE_FORMAT(create_time, '%Y-%m-%d') ) b
		ON a.create_time=b.create_time and a.app_channel_name=b.app_channel_name ORDER BY a.create_time DESC
		LIMIT ${iDisplayStart}, ${iDisplayLength}
	</select>
    
    
    
    
        <select id="queryAll" parameterType="map" resultMap="resultMap">
    
   SELECT SUM(tt.registerNum) as registerNum,SUM(tt.appRe) as activateNum ,tt.channelName,tt.createTime,tt.phoneType from (
					SELECT
			b.registerNum,
			b.phoneType,
									CASE
				WHEN (b.source = 1 OR b.source = 2) THEN
					'ios'
				WHEN (b.source = 3) THEN
					'android'
				WHEN (b.source = 5) THEN
					'H5'
				ELSE
					'未知'
				END AS channelName,
			b.createTime,
					IFNULL(h.appRe, 0) AS appRe
		FROM
			(
				SELECT
					COUNT(*) AS registerNum,
					a.phone_type AS phoneType,
					a.source,
					DATE_FORMAT(a.create_time, '%Y-%m-%d') AS createTime
				FROM
					account a
					where 1=1 
			<if test="sDate != null">	 
			AND DATE_FORMAT(a.create_time, '%Y-%m-%d') &gt;= #{sDate}
			</if>
 			<if test="eDate != null">
			AND DATE_FORMAT(a.create_time, '%Y-%m-%d') &lt;= #{eDate}
			</if>
				GROUP BY
					a.source,
					a.create_time
			) b
		LEFT JOIN (
			SELECT
				COUNT(*) AS appRe,
				d.device_type AS deviceType
			FROM
				app_channel d
			GROUP BY
				d.device_type
		) h ON h.deviceType = b.phoneType)  tt 
		
		WHERE 1=1 
		
			<if test="channelName != null">
			and tt.channelName = #{channelName}
			</if>
		 GROUP BY tt.channelName,
tt.createTime 
    </select>

</mapper>
