<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StatTrackerCommunity">
    <resultMap id="resultMap" type="com.calf.module.statistics.entity.StatTrackerCommunity">
    	<id column="id" property="id" />
        <result property="actualPraiseNum" column="actual_praise_num"/>
        <result property="actualCommentNum" column="actual_comment_num"/>
        <result property="actualSeeNum" column="actual_see_num"/>
        <result property="realSeeNum" column="real_see_num"/>
        <result property="realPraiseNum" column="real_praise_num"/>
        <result property="realCommentNum" column="real_comment_num"/>
        <result property="date" column="date"/>
    </resultMap>

    <select id="queryCount" parameterType="map" resultType="Integer">
        SELECT
        COUNT(0)
        FROM
        (
        SELECT
        DATE_FORMAT(track_time, '%Y-%m-%d') AS date
        FROM
        stat_tracker_community 
        WHERE 1=1
        <if test="sDate != null">
            and track_time &gt;= #{sDate}
        </if>
        <if test="eDate != null">
            and track_time &lt;= #{eDate}
        </if>
        GROUP BY
        DATE_FORMAT(track_time, '%Y-%m-%d')
        )AS c
    </select>
    <select id="query" parameterType="map" resultType="map">
        SELECT
            actual_see_num actualSeeNum,
            actual_comment_num actualCommentNum,
            actual_praise_num actualPraiseNum,
            DATE_FORMAT(track_time, '%Y-%m-%d') AS date,
            real_praise_num realPraiseNum,
            real_comment_num realCommentNum,
            real_see_num realSeeNum,
            t.postIdCount,
            t.acountIdCount
        FROM
            stat_tracker_community stc
        LEFT JOIN (
        SELECT
        DATE_FORMAT(create_time, '%Y-%m-%d') AS date,
        count(article_post_id) postIdCount,
        count(DISTINCT account_id) acountIdCount
        FROM
        article_post ap
        WHERE ap.state = 1
        <if test="sDate != null">
            and create_time &gt;= #{sDate}
        </if>
        <if test="eDate != null">
            and create_time &lt;= #{eDate}
        </if>
        GROUP BY
        DATE_FORMAT(create_time, '%Y-%m-%d')
        ) t ON DATE_FORMAT(t.date, '%Y-%m-%d') = DATE_FORMAT(stc.track_time, '%Y-%m-%d')
        WHERE 1=1
        <if test="sDate != null">
            and track_time &gt;= #{sDate}
        </if>
        <if test="eDate != null">
            and track_time &lt;= #{eDate}
        </if>
        GROUP BY
            DATE_FORMAT(track_time, '%Y-%m-%d')
        ORDER BY
            track_time DESC           
            <if test="iDisplayStart != null and iDisplayLength!=null">
            LIMIT ${iDisplayStart}, ${iDisplayLength}
        </if>
       
    </select>

    <select id="queryAll" parameterType="map" resultMap="resultMap">
         SELECT
            actual_see_num,
            actual_comment_num,
            actual_praise_num,
            DATE_FORMAT(track_time, '%Y-%m-%d') AS date
        FROM
            stat_tracker_community 
        WHERE 1=1
        <if test="sDate != null">
            and track_time &gt;= #{sDate}
        </if>
        <if test="eDate != null">
            and track_time &lt;= #{eDate}
        </if>
        GROUP BY
            DATE_FORMAT(track_time, '%Y-%m-%d')
        ORDER BY
            track_time DESC
    </select> 
    
    <select id="queryOne" parameterType="map" resultType="Integer">
         SELECT
            1
        FROM
            stat_tracker_community 
        WHERE 1=1
       	limit 1
    </select> 
    
    <insert id="insert" parameterType="com.calf.module.statistics.entity.StatTrackerCommunity" >
    insert into stat_tracker_community (id, actual_praise_num, actual_comment_num, 
      actual_see_num, track_time,real_praise_num,real_comment_num,real_see_num)
    values (#{id,jdbcType=INTEGER}, #{actualPraiseNum,jdbcType=INTEGER}, #{actualCommentNum,jdbcType=INTEGER}, 
      #{actualSeeNum,jdbcType=INTEGER}, #{date,jdbcType=DATE},#{realPraiseNum,jdbcType=INTEGER}
      ,#{realCommentNum,jdbcType=INTEGER},#{realSeeNum,jdbcType=INTEGER})
  </insert>
    
    <insert id="importData" parameterType="com.calf.module.statistics.entity.StatTrackerCommunity" >
  		INSERT INTO `stat_tracker_community` SELECT
            COUNT(
                CASE
                WHEN a.area_index = 2 THEN
                    0
                END
            ) AS actual_see_num,
            COUNT(
                CASE
                WHEN a.area_index = 3 THEN
                    0
                END
            ) AS actual_comment_num,
            COUNT(
                CASE
                WHEN a.area_index = 4 THEN
                    0
                END
            ) AS actual_praise_num,
            DATE_FORMAT(a.track_time, '%Y-%m-%d') AS track_time
        FROM
            stat_tracker_his a
        WHERE 1=1
        AND a.area_id = 3
        AND TO_DAYS( NOW( ) ) - TO_DAYS(track_time) = 1
        GROUP BY
            DATE_FORMAT(a.track_time, '%Y-%m-%d')
        ORDER BY
            a.track_time DESC;
  </insert>

</mapper>
