<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WhiteList">

	<resultMap type="WhiteList" id="whiteListMap">
		<id property="id" column="id" ></id>
		<result property="phoneNum" column="phoneNum" ></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="nickName" column="nick_name" javaType="java.lang.String"></result>
		<result property="type" column="type" ></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
id,	phoneNum,create_man,	modify_man,	create_time,modify_time,nick_name,type
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="whiteListMap" parameterType="Map">
		 SELECT
		 <include refid="Base_Column_List"/>
		 FROM white_list
		 WHERE id = #{id}
	</select>

	

	
	<!-- 修 改-->
	<update id="update" parameterType="WhiteList">
		 UPDATE white_list
 		  set phoneNum=#{phoneNum},
 		  nick_name=#{nickName},
 		  modify_time=now(),
 		  modify_man=#{modifyMan},
 		  type=#{type}
		 WHERE id = #{id}
	</update>
	
	
	<insert id="insert" parameterType="WhiteList">
	insert into white_list(phoneNum,modify_time,modify_man,nick_name,type) values(#{phoneNum},now(),#{modifyMan},#{nickName},#{type})
	</insert>
	
	
	
	
	
	<select id="query" parameterType="Map" resultMap="whiteListMap">
	select * from white_list where 1=1
	<if test="phoneNum!=null and phoneNun!=''">
	and phoneNum=#{phoneNum}
	</if>
	<if test="type!=null and type!=''">
	and type=#{type}
	</if>
      LIMIT  #{iDisplayStart},#{iDisplayLength}
	</select>
	
	<select id="queryCount" parameterType="Map" resultType="int">
	select count(id) from white_list where 1=1
	<if test="phoneNum!=null and phoneNun!=''">
	and phoneNum=#{phoneNum}
	</if>
	<if test="type!=null and type!=''">
	and type=#{type}
	</if>
	</select>
	
	<delete id="delete">
	delete from white_list where id=#{arg0}
	
	</delete>
	
	
	

</mapper>