<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomerSkill" >
  <resultMap id="BaseResultMap" type="com.calf.module.order.entity.CustomerSkill" >
        <id column="customer_skill_id" property="customerSkillId" jdbcType="BIGINT" />
    <result column="certify_id" property="certifyId" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="skill_item_id" property="skillItemId" jdbcType="BIGINT" />
    <result column="skill_name" property="skillName" jdbcType="VARCHAR" />
    <result column="service_unit" property="serviceUnit" jdbcType="VARCHAR" />
    <result column="skill_price" property="skillPrice" jdbcType="DECIMAL" />
    <result column="audit_status" property="auditStatus" jdbcType="TINYINT" />
    <result column="switch_status" property="switchStatus" jdbcType="TINYINT" />
    <result column="receive_status" property="receiveStatus" jdbcType="TINYINT" />
    <result column="discount_rate" property="discountRate" jdbcType="DECIMAL" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="monday" property="monday" jdbcType="TINYINT" />
    <result column="tuesday" property="tuesday" jdbcType="TINYINT" />
    <result column="wednesday" property="wednesday" jdbcType="TINYINT" />
    <result column="thursday" property="thursday" jdbcType="TINYINT" />
    <result column="friday" property="friday" jdbcType="TINYINT" />
    <result column="saturday" property="saturday" jdbcType="TINYINT" />
    <result column="sunday" property="sunday" jdbcType="TINYINT" />
    <result column="start_service_time" property="startServiceTime" jdbcType="TIMESTAMP" />
    <result column="end_service_time" property="endServiceTime" jdbcType="TIMESTAMP" />
    <result column="skill_describe" property="skillDescribe" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    customer_skill_id, certify_id, customer_id, skill_item_id, skill_name, service_unit, 
    skill_price, audit_status, switch_status, receive_status, discount_rate, discount_price, 
    monday, tuesday, wednesday, thursday, friday, saturday, sunday, start_service_time, 
    end_service_time, skill_describe, create_time, modify_time, create_man, modify_man, 
    remark
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
     select 
    <include refid="Base_Column_List" />
    from customer_skill
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customer_skill
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </delete>
  
  
  <insert id="insert" parameterType="com.calf.module.order.entity.CustomerSkill" >
     insert into customer_skill (customer_skill_id, certify_id, customer_id, 
      skill_item_id, skill_name, service_unit, 
      skill_price, audit_status, switch_status, 
      receive_status, discount_rate, discount_price, 
      monday, tuesday, wednesday, 
      thursday, friday, saturday, 
      sunday, start_service_time, end_service_time, 
      skill_describe, create_time, modify_time, 
      create_man, modify_man, remark
      )
    values (#{customerSkillId,jdbcType=BIGINT}, #{certifyId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, 
      #{skillItemId,jdbcType=BIGINT}, #{skillName,jdbcType=VARCHAR}, #{serviceUnit,jdbcType=VARCHAR}, 
      #{skillPrice,jdbcType=DECIMAL}, #{auditStatus,jdbcType=TINYINT}, #{switchStatus,jdbcType=TINYINT}, 
      #{receiveStatus,jdbcType=TINYINT}, #{discountRate,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL}, 
      #{monday,jdbcType=TINYINT}, #{tuesday,jdbcType=TINYINT}, #{wednesday,jdbcType=TINYINT}, 
      #{thursday,jdbcType=TINYINT}, #{friday,jdbcType=TINYINT}, #{saturday,jdbcType=TINYINT}, 
      #{sunday,jdbcType=TINYINT}, #{startServiceTime,jdbcType=TIMESTAMP}, #{endServiceTime,jdbcType=TIMESTAMP}, 
      #{skillDescribe,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createMan,jdbcType=VARCHAR}, #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.calf.module.order.entity.CustomerSkill" >
   
     insert into customer_skill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerSkillId != null" >
        customer_skill_id,
      </if>
      <if test="certifyId != null" >
        certify_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="skillItemId != null" >
        skill_item_id,
      </if>
      <if test="skillName != null" >
        skill_name,
      </if>
      <if test="serviceUnit != null" >
        service_unit,
      </if>
      <if test="skillPrice != null" >
        skill_price,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="switchStatus != null" >
        switch_status,
      </if>
      <if test="receiveStatus != null" >
        receive_status,
      </if>
      <if test="discountRate != null" >
        discount_rate,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="monday != null" >
        monday,
      </if>
      <if test="tuesday != null" >
        tuesday,
      </if>
      <if test="wednesday != null" >
        wednesday,
      </if>
      <if test="thursday != null" >
        thursday,
      </if>
      <if test="friday != null" >
        friday,
      </if>
      <if test="saturday != null" >
        saturday,
      </if>
      <if test="sunday != null" >
        sunday,
      </if>
      <if test="startServiceTime != null" >
        start_service_time,
      </if>
      <if test="endServiceTime != null" >
        end_service_time,
      </if>
      <if test="skillDescribe != null" >
        skill_describe,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="modifyMan != null" >
        modify_man,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerSkillId != null" >
        #{customerSkillId,jdbcType=BIGINT},
      </if>
      <if test="certifyId != null" >
        #{certifyId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="skillItemId != null" >
        #{skillItemId,jdbcType=BIGINT},
      </if>
      <if test="skillName != null" >
        #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="serviceUnit != null" >
        #{serviceUnit,jdbcType=VARCHAR},
      </if>
      <if test="skillPrice != null" >
        #{skillPrice,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="switchStatus != null" >
        #{switchStatus,jdbcType=TINYINT},
      </if>
      <if test="receiveStatus != null" >
        #{receiveStatus,jdbcType=TINYINT},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="monday != null" >
        #{monday,jdbcType=TINYINT},
      </if>
      <if test="tuesday != null" >
        #{tuesday,jdbcType=TINYINT},
      </if>
      <if test="wednesday != null" >
        #{wednesday,jdbcType=TINYINT},
      </if>
      <if test="thursday != null" >
        #{thursday,jdbcType=TINYINT},
      </if>
      <if test="friday != null" >
        #{friday,jdbcType=TINYINT},
      </if>
      <if test="saturday != null" >
        #{saturday,jdbcType=TINYINT},
      </if>
      <if test="sunday != null" >
        #{sunday,jdbcType=TINYINT},
      </if>
      <if test="startServiceTime != null" >
        #{startServiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endServiceTime != null" >
        #{endServiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="skillDescribe != null" >
        #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.calf.module.order.entity.CustomerSkill" >
    update customer_skill
    <set >
      <if test="certifyId != null" >
        certify_id = #{certifyId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="skillItemId != null" >
        skill_item_id = #{skillItemId,jdbcType=BIGINT},
      </if>
      <if test="skillName != null" >
        skill_name = #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="serviceUnit != null" >
        service_unit = #{serviceUnit,jdbcType=VARCHAR},
      </if>
      <if test="skillPrice != null" >
        skill_price = #{skillPrice,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="switchStatus != null" >
        switch_status = #{switchStatus,jdbcType=TINYINT},
      </if>
      <if test="receiveStatus != null" >
        receive_status = #{receiveStatus,jdbcType=TINYINT},
      </if>
      <if test="discountRate != null" >
        discount_rate = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="monday != null" >
        monday = #{monday,jdbcType=TINYINT},
      </if>
      <if test="tuesday != null" >
        tuesday = #{tuesday,jdbcType=TINYINT},
      </if>
      <if test="wednesday != null" >
        wednesday = #{wednesday,jdbcType=TINYINT},
      </if>
      <if test="thursday != null" >
        thursday = #{thursday,jdbcType=TINYINT},
      </if>
      <if test="friday != null" >
        friday = #{friday,jdbcType=TINYINT},
      </if>
      <if test="saturday != null" >
        saturday = #{saturday,jdbcType=TINYINT},
      </if>
      <if test="sunday != null" >
        sunday = #{sunday,jdbcType=TINYINT},
      </if>
      <if test="startServiceTime != null" >
        start_service_time = #{startServiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endServiceTime != null" >
        end_service_time = #{endServiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="skillDescribe != null" >
        skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.calf.module.order.entity.CustomerSkill" >
   update customer_skill
    set certify_id = #{certifyId,jdbcType=BIGINT},
      customer_id = #{customerId,jdbcType=BIGINT},
      skill_item_id = #{skillItemId,jdbcType=BIGINT},
      skill_name = #{skillName,jdbcType=VARCHAR},
      service_unit = #{serviceUnit,jdbcType=VARCHAR},
      skill_price = #{skillPrice,jdbcType=DECIMAL},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      switch_status = #{switchStatus,jdbcType=TINYINT},
      receive_status = #{receiveStatus,jdbcType=TINYINT},
      discount_rate = #{discountRate,jdbcType=DECIMAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      monday = #{monday,jdbcType=TINYINT},
      tuesday = #{tuesday,jdbcType=TINYINT},
      wednesday = #{wednesday,jdbcType=TINYINT},
      thursday = #{thursday,jdbcType=TINYINT},
      friday = #{friday,jdbcType=TINYINT},
      saturday = #{saturday,jdbcType=TINYINT},
      sunday = #{sunday,jdbcType=TINYINT},
      start_service_time = #{startServiceTime,jdbcType=TIMESTAMP},
      end_service_time = #{endServiceTime,jdbcType=TIMESTAMP},
      skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where customer_skill_id = #{customerSkillId,jdbcType=BIGINT}
  </update>
</mapper>