<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SkillItem" >
 <!-- private String id;

  private String skillItemName;

  private String skillDescribe;

  private String imageUrl;

  private Integer sort;

  private Integer skillStatus;

  private String remark;

  private String lockIcon;

  private String unlockIcon;

  private String backColor;

  private String fontColor;

  private Integer skillType;

  private List<BigDecimal> discounts;-->


  <resultMap id="BaseResultMap" type="com.calf.module.order.entity.SkillItem" >
    <id column="id" property="id" jdbcType="BIGINT" javaType="string" />
    <result column="skill_item_name" property="skillItemName" jdbcType="VARCHAR" />
    <result column="skill_describe" property="skillDescribe" jdbcType="VARCHAR" />
    <result column="lock_icon" property="lockIcon" jdbcType="VARCHAR"/>
    <result column="unlock_icon" property="unlockIcon" jdbcType="VARCHAR"/>
    <result column="back_color" property="backColor" jdbcType="VARCHAR"/>
    <result column="home_black_color" property="homeBlackColor" jdbcType="VARCHAR"/>
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="skill_status" property="skillStatus" jdbcType="TINYINT" />
    <result column="skill_type" property="skillType" jdbcType="TINYINT"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="font_color" property="fontColor" jdbcType="VARCHAR"/>
  </resultMap>


  <sql id="Base_Column_List" >
    id, skill_item_name, skill_describe, lock_icon,unlock_icon,back_color,home_black_color,font_color,sort, skill_status,skill_type,create_time,
    modify_time, create_man, modify_man, remark
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from skill_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllSkillItem" resultType="map">
  	select id as skillItemId,skill_item_name as skillItemName from skill_item 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from skill_item
    where id = #{id,jdbcType=BIGINT}
  </delete>


  <insert id="insert" parameterType="com.calf.module.order.entity.SkillItem" >
    insert into skill_item (id, skill_item_name, skill_describe, 
      lock_icon,unlock_icon,back_color, font_color,sort,
      skill_status, skill_type,create_time, modify_time,
      create_man, modify_man, remark,home_black_color
      )
    values (#{id,jdbcType=BIGINT}, #{skillItemName,jdbcType=VARCHAR}, #{skillDescribe,jdbcType=VARCHAR}, 
      #{lockIcon,jdbcType=VARCHAR},#{unlockIcon,jdbcType=VARCHAR},#{backColor,jdbcType=VARCHAR},#{fontColor jdbcType=VARCHAR},#{sort,jdbcType=SMALLINT},
      #{skillStatus,jdbcType=TINYINT},#{skillType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
      #{createMan,jdbcType=VARCHAR}, #{modifyMan,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},#{homeBlackColor,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.calf.module.order.entity.SkillItem" >
    insert into skill_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skillItemName != null" >
        skill_item_name,
      </if>
      <if test="skillDescribe != null" >
        skill_describe,
      </if>
      <if test="lockIcon != null" >
        lock_icon,
      </if>
      <if test="unlockIcon != null" >
        unlock_icon,
      </if>
      <if test="backColor != null" >
        back_color,
      </if>
      <if test="fontColor != null" >
        font_color,
      </if>
      <if test="sort != null" >
        sort,
      </if>
     
      <if test="skillStatus != null" >
        skill_status,
      </if>

      <if test="skillType != null" >
        skill_type,
      </if>

      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="modifyMan != null" >
        modify_man,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="homeBlackColor != null" >
        home_black_color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skillItemName != null" >
        #{skillItemName,jdbcType=VARCHAR},
      </if>
      <if test="skillDescribe != null" >
        #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="unlockIcon != null" >
        #{unlockIcon,jdbcType=VARCHAR},
      </if>
      <if test="lockIcon != null" >
        #{lockIcon,jdbcType=VARCHAR},
      </if>
      <if test="backColor != null" >
        #{backColor,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null" >
        #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="skillStatus != null" >
        #{skillStatus,jdbcType=TINYINT},
      </if>
      <if test="skillType != null" >
        #{skillType,jdbcType=TINYINT},
      </if>

      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="homeBlackColor != null" >
        #{homeBlackColor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.calf.module.order.entity.SkillItem" >
    update skill_item
    <set >
      <if test="skillItemName != null" >
        skill_item_name = #{skillItemName,jdbcType=VARCHAR},
      </if>
      <if test="skillDescribe != null" >
        skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      </if>
      <if test="unlockIcon != null" >
        unlock_icon = #{unlockIcon,jdbcType=VARCHAR},
      </if>
      <if test="lockIcon != null" >
        lock_icon = #{lockIcon,jdbcType=VARCHAR},
      </if>
      <if test="backColor != null" >
        back_color = #{backColor,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null" >
        font_color = #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>

      <if test="skillStatus != null" >
        skill_status = #{skillStatus,jdbcType=TINYINT},
      </if>
      <if test="skillType != null" >
        skill_type = #{skillType,jdbcType=TINYINT},
      </if>

      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="modifyMan != null" >
        modify_man = #{modifyMan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="homeBlackColor != null" >
        home_black_color = #{homeBlackColor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.calf.module.order.entity.SkillItem" >
    update skill_item
    set skill_item_name = #{skillItemName,jdbcType=VARCHAR},
      skill_describe = #{skillDescribe,jdbcType=VARCHAR},
      unlock_icon = #{unlockIcon,jdbcType=VARCHAR},
      lock_icon = #{lockIcon,jdbcType=VARCHAR},
      back_color = #{backColor,jdbcType=VARCHAR},
      font_color = #{fontColor,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      skill_status = #{skillStatus,jdbcType=TINYINT},
      skill_type = #{skillType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_man = #{createMan,jdbcType=VARCHAR},
      modify_man = #{modifyMan,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      home_black_color = #{homeBlackColor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectPageList" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from skill_item
    where  1 = 1
    <if test="skillStatus != null" >
      and  skill_status = #{skillStatus}
    </if>
    <if test="name != null" >
      and  skill_item_name like  concat( '%',#{name},'%')
    </if>
    LIMIT ${iDisplayStart},${iDisplayLength}
  </select>

  <select id="slectCount" resultType="java.lang.Integer" parameterType="map" >
    select
    count(1)
    from skill_item
    where  1= 1
    <if test="skillStatus != null" >
      and  skill_status = #{skillStatus}
    </if>
    <if test="name != null" >
      and  skill_item_name like  concat( '%',#{name},'%')
    </if>
  </select>

  <delete id="delete" parameterType="map">
    delete from skill_item where id = #{arg0}
  </delete>




  <!-- 查询所有消息技能数据 -->
  <select id="selectAllValidData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from skill_item
    where skill_status=1
    order by create_time desc
  </select>
  <!-- 查询所有消息技能数据 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from skill_item
  </select>
</mapper>