<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZoneProductSort">
	<resultMap id="BannerResultMap" type="com.calf.module.zoneproduct.entity.ZoneProductSort">
		<id property="sortId" column="sort_id" />
		<id property="zoneId" column="zone_id" />
		<id property="productId" column="product_id" />
		<id property="modifyMan" column="modify_man" />
		<id property="modifyTime" column="modify_time" />
		<id property="sort" column="sort" />
		<id property="remark" column="remark" />

	</resultMap>

	<sql id="Base_Column_List">
	   sort_id,zone_id,product_id,modify_man,modify_time,sort,remark
	</sql>

	<select id="get" parameterType="map" resultMap="BannerResultMap">
		select
		<include refid="Base_Column_List" />
		from zone_product_sort where
		sortId = #{arg0}
	</select>

	<select id="queryByProductIdAndZoneId" parameterType="map" resultMap="BannerResultMap">
		select
		<include refid="Base_Column_List" />
		from zone_product_sort
		where
		zone_id = #{zoneId}
		AND product_id=#{productId}
	</select>

	
	<insert id="insert" parameterType="map">
		INSERT INTO zone_product_sort
		(sort_id,zone_id,product_id,modify_man,modify_time,sort,remark)
		VALUES
		(    #{sortId},
	         #{zoneId},
			 #{productId},
			 #{modifyMan},
			 #{modifyTime},
			 #{sort},
			 #{remark}
		)
	</insert>

	<delete id="delete" parameterType="map">
		DELETE FROM zone_product_sort
		WHERE sort_id = #{arg0}
	</delete>


	<update id="update" parameterType="map">
		UPDATE zone_product_sort
		<set>
			<if test="sortId != null and sortId!=''">
				sort_id = #{sortId},
			</if>
			
			<if test="zoneId != null and zoneId!=''">
				zone_id = #{zoneId},
			</if>
			
			<if test="productId != null and productId!=''">
				product_id = #{productId},
			</if>
			
			<if test="modifyMan != null and modifyMan!=''">
				modify_man = #{modifyMan},
			</if>
			
			<if test="sort != null and sort!=''">
				sort = #{sort},
			</if>
			
			<if test="remark != null and remark!=''">
				remark = #{remark},
			</if>
		</set>
		WHERE sort_id = #{sortId}
	</update>




</mapper>
