<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BjProduct">
 <resultMap id="BaseResultMap" type="com.calf.module.product.entity.BjProduct" >
         <id column="id" property="id"  />      
         <result column="product_name" property="productName"  />
        <result column="product_logo" property="productLogo"  />
         <result column="amount" property="amount"  />
          <result column="create_man" property="createMan"  />
           <result column="modify_man" property="modifyMan"  />
            <result column="create_time" property="createTime"  />
             <result column="modify_time" property="modifyTime"  />
             <result column="sort" property="sort"  />
  </resultMap>
 
 
  <sql id="Base_Column_List" >
   id,product_name,product_logo,amount,create_man,modify_man,create_time,modify_time,sort
  </sql>
  
  <select id="queryCount" parameterType="map" resultType="int">
		select count(id) from bj_product where 1=1
		
	</select>
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from bj_product where 1=1
		order by sort
        <if test="iDisplayStart !=null and iDisplayLength !=null">
		limit ${iDisplayStart},${iDisplayLength}
        </if>
	</select>

      <insert id="insert" parameterType="com.calf.module.product.entity.BjProduct">
      insert into bj_product(product_name,product_logo,amount,create_man,modify_man,create_time,modify_time,sort)
      values(#{productName},#{productLogo},#{amount},#{createMan},#{modifyMan},#{createTime},#{modifyTime},#{sort})
      </insert>
	
     <update id="update"  parameterType="com.calf.module.product.entity.BjProduct">
     update bj_product set
      product_name=#{productName},
      product_logo=#{productLogo},
      amount=#{amount},
      modify_time=#{modifyTime},
      sort=#{sort}
      where id=#{id}
     </update>
     <delete id="delete" parameterType="Map">
     delete from bj_product
     where id=#{arg0}
     </delete>
   
   <select id="get" parameterType="Map" resultMap="BaseResultMap">
   select <include refid="Base_Column_List" />from bj_product where id=#{arg0}
   </select>
   
   
   
   
   
   
   
   

   

  
  
  
  
  
  
  
  
  
</mapper>