<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMonitorInfo">

	<resultMap type="com.calf.module.product.entity.ProductMonitorInfo" id="BaseResultMap">
		<id property="productMonitorInfoId" column="product_monitor_info_id" javaType="java.lang.String"></id>
		<result property="productId" column="product_id" javaType="java.lang.String"></result>
		<result property="productName" column="product_name" javaType="java.lang.String"></result>
		<result property="url" column="url" javaType="java.lang.String"></result>
		<result property="key" column="key" javaType="java.lang.String"></result>
		<result property="valueM" column="value" javaType="java.lang.String"></result>
		<result property="state" column="state" javaType="java.lang.Integer"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
product_monitor_info_id,	product_id,	product_name,	url,	`key`,	`value`,	state,	create_time,	create_man,	modify_time,	modify_man,	remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="get" resultMap="BaseResultMap" parameterType="map">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_monitor_info
		 WHERE product_monitor_info_id = #{arg0}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_monitor_info
		 WHERE product_monitor_info_id = #{productMonitorInfoId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="delete" parameterType="map">
		 DELETE FROM product_monitor_info
		 WHERE product_monitor_info_id = #{arg0}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.calf.module.product.entity.ProductMonitorInfo">
		 INSERT INTO product_monitor_info
 		(product_monitor_info_id,product_id,product_name,url,`key`,`value`,state,create_time,create_man,modify_time,modify_man,remark)
		 VALUES 
 		(#{productMonitorInfoId},#{productId},#{productName},#{url},#{key},#{valueM},#{state},#{createTime},#{createMan},#{modifyTime},#{modifyMan},#{remark})
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="map">
		 UPDATE product_monitor_info
 		 <set> 
			<if test="productId != null">
				 product_id = #{productId},
			</if>
			<if test="productName != null">
				 product_name = #{productName},
			</if>
			<if test="url != null">
				 url = #{url},
			</if>
			<if test="key != null">
				 `key` = #{key},
			</if>
			<if test="valueM != null">
				 `value` = #{valueM},
			</if>
			<if test="state != null">
				 state = #{state},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE product_monitor_info_id = #{productMonitorInfoId}
	</update>
	<!-- 查询（根据主键条件查询） -->
	<select id="query" resultMap="BaseResultMap" parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_monitor_info
		where 1=1
			<if test="productId != null">
				and product_id = #{productId}
			</if>
			<if test="productName != null">
				and product_name = #{productName}
			</if>
			<if test="url != null">
				and url = #{url}
			</if>
			<if test="key != null">
				and `key` = #{key}
			</if>
			<if test="valueM != null">
				AND `value` = #{valueM}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="createMan != null">
				AND create_man = #{createMan
			</if>
			<if test="modifyTime != null">
				AND modify_time = #{modifyTime}
			</if>
			<if test="modifyMan != null">
				AND modify_man = #{modifyMan}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
		order by create_time desc
		<if test="iDisplayStart!=null and iDisplayLength!=''">
			limit ${iDisplayStart},${iDisplayLength}
		</if>
	</select>
	<!-- 统计（根据主键条件查询） -->
	<select id="queryMonitorInfoCount" resultType="int" parameterType="map">
		SELECT
		count(1)
		FROM product_monitor_info
		where 1 = 1
			<if test="productId != null">
				and product_id = #{productId}
			</if>
			<if test="productName != null">
				and product_name = #{productName}
			</if>
			<if test="url != null">
				and url = #{url}
			</if>
			<if test="key != null">
				and `key` = #{key}
			</if>
			<if test="value != null">
				and `value` = #{value}
			</if>
			<if test="state != null">
				and state = #{state}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime}
			</if>
			<if test="createMan != null">
				and create_man = #{createMan}
			</if>
			<if test="modifyTime != null">
				and modify_time = #{modifyTime}
			</if>
			<if test="modifyMan != null">
				and modify_man = #{modifyMan}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
	</select>

	<!--通过产品名称查询产品ID-->
	<select id="queryProductId" resultType="map" parameterType="map">
		SELECT t.product_id
		FROM product t
		WHERE t.product_name = #{productName}
	</select>

</mapper>