<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductRule">
    <resultMap id="BaseResultMap" type="com.calf.module.product.entity.ProductRule" >
        <id column="product_rule_id" property="productRuleId" jdbcType="VARCHAR" />
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
        <result column="identity_auth" property="identityAuth" jdbcType="VARCHAR" />
        <result column="apply_term" property="applyTerm" jdbcType="VARCHAR" />
        <result column="apply_amount" property="applyAmount" jdbcType="INTEGER" />
        <result column="max_month_amount" property="maxMonthAmount" jdbcType="DECIMAL" />
        <result column="education" property="education" jdbcType="VARCHAR" />
        <result column="sb_situation" property="sbSituation" jdbcType="VARCHAR" />
        <result column="car_situation" property="carSituation" jdbcType="VARCHAR" />
        <result column="occupation" property="occupation" jdbcType="VARCHAR" />
        <result column="monthly_income" property="monthlyIncome" jdbcType="INTEGER" />
        <result column="working_life" property="workingLife" jdbcType="VARCHAR" />
        <result column="check_phone" property="checkPhone" jdbcType="VARCHAR" />
        <result column="check_email" property="checkEmail" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="emergency_contact" property="emergencyContact" jdbcType="VARCHAR" />
        <result column="social_account" property="socialAccount" jdbcType="VARCHAR" />
        <result column="house_situation" property="houseSituation" jdbcType="VARCHAR" />
        <result column="accumulation_fund" property="accumulationFund" jdbcType="VARCHAR" />
        <result column="sesame_branch" property="sesameBranch" jdbcType="VARCHAR" />
        <result column="loan_use" property="loanUse" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_man" property="modifyMan" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        product_rule_id, rule_name, identity_auth,apply_term, apply_amount, max_month_amount, education, sb_situation,
        car_situation, occupation, monthly_income, working_life, check_phone, check_email,
        company_name, emergency_contact, social_account, house_situation, accumulation_fund,
        sesame_branch, loan_use, create_time, create_man, modify_time, modify_man, state,
        remark
    </sql>

    <select id="get" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product_rule
        WHERE product_rule_id = #{arg0}
    </select>

    <select id="queryCount" parameterType="map" resultType="int">
        select count(product_rule_id) from product_rule
        where 1=1
        <if test="state !=null"> and state = #{state}</if>
        <if test="ruleName!=null and ruleName!=''">and rule_name like concat("%",#{ruleName},"%")  </if>
    </select>

    <select id="query" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product_rule
        where 1=1
        <if test="state !=null"> and state = #{state}</if>
        <if test="ruleName!=null and ruleName!=''">and rule_name like concat("%",#{ruleName},"%")  </if>
        limit ${iDisplayStart},${iDisplayLength}
    </select>
    <select id="queryAll" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product_rule
        where 1=1
        <if test="state !=null"> and state = #{state}</if>
    </select>

    <insert id="insert" parameterType="com.calf.module.product.entity.Product" >
      insert into product_rule (product_rule_id, rule_name, identity_auth, apply_term, apply_amount,
      max_month_amount, education, sb_situation,
      car_situation, occupation, monthly_income,
      working_life, check_phone, check_email,
      company_name, emergency_contact, social_account,
      house_situation, accumulation_fund, sesame_branch,
      loan_use, create_time, create_man,
      modify_time, modify_man, state,
      remark)
      values (#{productRuleId,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, #{identityAuth,jdbcType=VARCHAR},
      #{applyTerm,jdbcType=INTEGER}, #{applyAmount,jdbcType=INTEGER},
      #{maxMonthAmount,jdbcType=DECIMAL}, #{education,jdbcType=VARCHAR}, #{sbSituation,jdbcType=VARCHAR},
      #{carSituation,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{monthlyIncome,jdbcType=INTEGER},
      #{workingLife,jdbcType=VARCHAR}, #{checkPhone,jdbcType=VARCHAR}, #{checkEmail,jdbcType=VARCHAR},
      #{companyName,jdbcType=VARCHAR}, #{emergencyContact,jdbcType=VARCHAR}, #{socialAccount,jdbcType=VARCHAR},
      #{houseSituation,jdbcType=VARCHAR}, #{accumulationFund,jdbcType=VARCHAR}, #{sesameBranch,jdbcType=VARCHAR},
      #{loanUse,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR},
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyMan,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR})
 </insert>

    <update id="update" parameterType="map" >
        update product_rule
        set
          rule_name = #{ruleName,jdbcType=VARCHAR},
          identity_auth = #{identityAuth,jdbcType=VARCHAR},
          apply_amount = #{applyAmount,jdbcType=INTEGER},
          apply_term = #{applyTerm,jdbcType=INTEGER},
          max_month_amount = #{maxMonthAmount,jdbcType=DECIMAL},
          education = #{education,jdbcType=VARCHAR},
          sb_situation = #{sbSituation,jdbcType=VARCHAR},
          car_situation = #{carSituation,jdbcType=VARCHAR},
          occupation = #{occupation,jdbcType=VARCHAR},
          monthly_income = #{monthlyIncome,jdbcType=INTEGER},
          working_life = #{workingLife,jdbcType=VARCHAR},
          check_phone = #{checkPhone,jdbcType=VARCHAR},
          check_email = #{checkEmail,jdbcType=VARCHAR},
          company_name = #{companyName,jdbcType=VARCHAR},
          emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
          social_account = #{socialAccount,jdbcType=VARCHAR},
          house_situation = #{houseSituation,jdbcType=VARCHAR},
          accumulation_fund = #{accumulationFund,jdbcType=VARCHAR},
          sesame_branch = #{sesameBranch,jdbcType=VARCHAR},
          loan_use = #{loanUse,jdbcType=VARCHAR},
          modify_man = #{modifyMan,jdbcType=VARCHAR},
          state = #{state,jdbcType=VARCHAR},
          remark = #{remark,jdbcType=VARCHAR}
        where product_rule_id = #{productRuleId,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="map">
        UPDATE product_rule SET state = 2 WHERE
        product_rule_id = #{arg0}
    </delete>

</mapper>