<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizParam">

    <resultMap type="BizParam" id="bizParamMap">
        <id column="biz_param_id" property="bizParamId"/>
        <result column="biz_param_value" property="bizParamValue"/>
        <result column="biz_param_name" property="bizParamName"/>
        <result column="biz_param_code" property="bizParamCode"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="create_man" property="createMan"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="modify_man" property="modifyMan"/>
        <result column="remark" property="remark"/>
        <result column="biz_param_type_id" property="bizParamTypeId"/>
        <result column="biz_param_type_name" property="bizParamTypeName"/>
    </resultMap>

    <sql id="Base_Column_List">
          biz_param_id,
          biz_param_value,
          biz_param_name,
          biz_param_code,
          state,
          biz_param_type_id,
          DATE_FORMAT(
            create_time,
            '%Y-%c-%d %H:%i:%s'
          ) as create_time,
          create_man,
          DATE_FORMAT(
            modify_time,
            '%Y-%c-%d %H:%i:%s'
          ) AS modify_time,
          modify_man,
          remark
    </sql>

    <select id="get" parameterType="map" resultMap="bizParamMap">
        select
        <include refid="Base_Column_List"/>
        from biz_param
        WHERE biz_param_code = #{bizParamCode}
        and state = 1
    </select>

    <insert id="insert" parameterType="map">
        insert into biz_param(biz_param_id, biz_param_value, biz_param_name,biz_param_code, state, create_time,create_man, modify_time, modify_man,remark,biz_param_type_id)
        values (#{bizParamId}, #{bizParamValue,},#{bizParamName},#{bizParamCode}, #{state}, #{createTime},#{createMan}, #{modifyTime}, #{modifyMan},#{remark}
        ,#{bizParamTypeId})
    </insert>

    <select id="queryCount" parameterType="map" resultType="int">
        select count(biz_param_id) from biz_param where 1=1
        <if test="state !=null">and state like concat('%',#{state},'%')</if>
    </select>
    <select id="query" parameterType="map" resultMap="bizParamMap">
        select
        b.*
       ,t.biz_param_type_name  bizParamTypeName
        FROM biz_param b inner join biz_param_type t on b.biz_param_type_id=t.biz_param_type_id
       <if test="state !=null">and b.state like concat('%',#{state},'%')</if> 
        <if test="bizParamTypeId !=null and bizParamTypeId !='' ">and b.biz_param_type_id =#{bizParamTypeId}</if>
        limit ${iDisplayStart},${iDisplayLength}
    </select>

    <select id="getAppParamById" parameterType="map" resultMap="bizParamMap">
        SELECT
        b.*,biz_param_type_name  bizParamTypeName
        FROM biz_param b inner join biz_param_type t on b.biz_param_type_id=t.biz_param_type_id
        WHERE biz_param_id = #{arg0}
    </select>

    <delete id="delete" parameterType="map">
        DELETE FROM biz_param
        WHERE
        biz_param_id = #{arg0}
    </delete>

    <update id="update" parameterType="map">
        update biz_param
        <set>
            <if test="bizParamValue != null">
                biz_param_value = #{bizParamValue},
            </if>
            <if test="bizParamName != null">
                biz_param_name = #{bizParamName},
            </if>
            <if test="bizParamCode != null">
                biz_param_code = #{bizParamCode},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createMan != null">
                create_man = #{createMan},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="modifyMan != null">
                modify_man = #{modifyMan},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
             <if test="bizParamTypeId != null">
                biz_param_type_id = #{bizParamTypeId},
            </if>
        </set>
        WHERE biz_param_id = #{bizParamId}
    </update>

</mapper>