<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysMenu">
	<cache-ref namespace="Home"/>

	<resultMap id="SysMenuMap" type="SysMenu">
		<id property="id" column="id" />
		<id property="names" column="names" />
		<id property="url" column="url" />
		<id property="img_icon" column="img_icon" />
		<id property="orders" column="orders" />
		<id property="parent_id" column="parent_id" />
		<id property="checked" column="checked" />
		<id property="author" column="author" />
		<id property="menu_type" column="menu_type" />
		<id property="menuState" column="menu_state" />
		
	</resultMap>
	
	<select id="queryCount" parameterType="map" resultType="int">
		select count(id) from sys_menu where 1=1
		<if test="null != parentId">and parent_id=#{parentId}</if>
		<if test="null != menu_type">and menu_type=#{menu_type}</if>
		<if test="null != names">and names like concat('%',#{names},'%')</if>
	</select>
	<select id="query" parameterType="map" resultMap="SysMenuMap">
		select id,names,url,img_icon,orders,parent_id,1 as 'checked',author,menu_type from sys_menu where 1=1
		<if test="null != parentId">and parent_id=#{parentId}</if>
		<if test="null != menu_type">and menu_type=#{menu_type}</if>
		<if test="null != names">and names like concat('%',#{names},'%')</if>
		order by parent_id,orders
		limit ${iDisplayStart},${iDisplayLength}
	</select>
	
	<insert id="insert" parameterType="map"  flushCache="true">
		insert into sys_menu(names,url,img_icon,orders,parent_id,author,menu_type,menu_state)
		values(#{names},#{url},#{img_icon},#{orders},#{parent_id},#{author},#{menu_type},#{menuState})
	</insert>
	
	<delete id="delete" parameterType="map" flushCache="true">
		delete from sys_menu where id = #{arg0}
	</delete>
	
	<select id="get" parameterType="map" resultMap="SysMenuMap">
		select id,names,url,img_icon,orders,parent_id,author,menu_type,menu_state from sys_menu where id=#{arg0}
	</select>
	<select id="getAllMenus" parameterType="map" resultMap="SysMenuMap">
		SELECT id,names from sys_menu where parent_id=0 order by orders
	</select>
	
	<update id="update" parameterType="map" flushCache="true">
		update sys_menu set names=#{names},url=#{url},img_icon=#{img_icon},
		orders=#{orders},parent_id=#{parent_id},author=#{author},menu_type=#{menu_type},menu_state=#{menuState}
		where id=#{id}
	</update>
	
	<select id="queryTree" parameterType="map" resultMap="SysMenuMap">
		select id,names,url,img_icon,orders,parent_id,menu_type, author,
		(
			CASE WHEN id in ( SELECT menu_id FROM sys_role_menu WHERE role_code=#{role_code}) THEN '1'
			ELSE '0' END
		) as 'checked'
		from sys_menu 
		order by parent_id,orders
	<if test="null !=iDisplayStart">limit ${iDisplayStart},${iDisplayLength}</if>
	</select>
	
	<delete id="Roledelete" parameterType="map" flushCache="true">
		delete from sys_menu where id = #{arg0}
	</delete>
	
	<!-- 循环插入值 -->
	<insert id="batchInsert" parameterType="map" flushCache="true">
		insert into sys_menu(names,author,menu_type,parent_id) values
		<foreach collection="list" index="index" item="menu" separator=",">
			(#{menu.names},#{menu.author},#{menu.menu_type},#{menu.parent_id})
		</foreach>
	</insert>
	
	<!-- 查询该菜单已有的权限 -->
	<select id="queryMenuAuthority" parameterType="map" resultMap="SysMenuMap">
		SELECT sm.author,sm.names FROM sys_menu sm WHERE sm.menu_type =2 AND sm.parent_id = #{parent_id}
	</select>
	
	<!-- 删除菜单 -->
	<delete id="deleteMenu1" parameterType="map" flushCache="true">
		delete from sys_menu where parent_id = #{arg0} and menu_type = 2
	</delete>
	
</mapper>
