<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysRoleMenu">
	<cache-ref namespace="Home"/>
	
	<resultMap id="SysRoleMenuMap" type="SysRoleMenu">
		<id property="id" column="id" />
		<id property="role_code" column="role_code" />
		<id property="menu_id" column="menu_id" />
	</resultMap>

</mapper>
