<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysRole">
	<resultMap id="sysRoleMap" type="SysRole">
		<id property="id" column="id" />
		<id property="codes" column="codes" />
		<id property="names" column="names" />
	</resultMap>
	
	<select id="queryCount" parameterType="map" resultType="int">
		select count(id) from sys_role where 1=1
		<if test="null !=codes">and codes = #{codes}</if>
	</select>
	<select id="query" parameterType="map" resultMap="sysRoleMap">
		select id,codes,names from sys_role where 1=1
		<if test="null !=codes">and codes = #{codes}</if>
		limit ${iDisplayStart},${iDisplayLength}
	</select>
	
	<insert id="insert" parameterType="map">
		insert into sys_role(codes,names) values(#{codes},#{names})
	</insert>
	
	<delete id="delete" parameterType="map">
		delete from sys_role where id = #{arg0}
	</delete>
	
	<select id="get" parameterType="map" resultMap="sysRoleMap">
		select id,codes,names from sys_role where id=#{arg0}
	</select>
	
	<select id="getCodes" parameterType="map" resultMap="sysRoleMap">
		select id,codes,names from sys_role where codes=#{arg0}
	</select>
	
	<update id="update" parameterType="map">
		update sys_role set names=#{names} where id=#{id}
	</update>
</mapper>
