<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlatformStatistics">
    <resultMap id="baseResultMap" type="PlatformStatistics">
        <result column="platform_name" property="platformName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="cooperation" property="cooperation" jdbcType="VARCHAR" />
        <result column="diversion_num" property="diversionNum" jdbcType="VARCHAR" />
        <result column="success_num" property="successNum" jdbcType="VARCHAR" />
        <result column="fail_num" property="failNum" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryCount" parameterType="map" resultType="Integer">
        SELECT
            COUNT(0)
        FROM
        (
            SELECT DISTINCT
                DATE_FORMAT(a.create_time, '%Y-%m-%d'),
                b.platform_name,
                b.cooperation
            FROM
                `platforms_extend_detail` a
            INNER JOIN platforms_extend b ON a.plarforms_extend_id = b.platforms_extend_id
            WHERE 1=1
            <if test="sDate != null">
                and DATE_FORMAT(a.create_time , '%Y-%m-%d') &gt;=  #{sDate}
            </if>
            <if test="eDate != null">
                and DATE_FORMAT(a.create_time , '%Y-%m-%d') &lt;=  #{eDate}
            </if>
            <if test="platformName != null">
                and b.platform_name like concat('%', #{platformName},'%')
            </if>
            <if test="cooperation != null">
                and b.cooperation like concat('%', #{cooperation},'%')
            </if>
            GROUP BY
                DATE_FORMAT(a.create_time, '%Y-%m-%d'),
                a.plarforms_extend_id
        ) AS f
    </select>
    <select id="query" parameterType="map" resultMap="baseResultMap">
        SELECT DISTINCT
            DATE_FORMAT(a.create_time, '%Y-%m-%d') AS create_time,
            b.platform_name,
            b.cooperation,
            COUNT(0) AS diversion_num,
            COUNT(
                CASE
                WHEN (a.state = 1) THEN
                    1
                END
            ) AS success_num,
            COUNT(
                CASE
                WHEN (a.state = 2) THEN
                    2
                END
            ) AS fail_num
        FROM
            `platforms_extend_detail` a
        INNER JOIN platforms_extend b ON a.plarforms_extend_id = b.platforms_extend_id
            WHERE 1=1
            <if test="sDate != null">
                and DATE_FORMAT(a.create_time , '%Y-%m-%d') &gt;=  #{sDate}
            </if>
            <if test="eDate != null">
                and DATE_FORMAT(a.create_time , '%Y-%m-%d') &lt;=  #{eDate}
            </if>
            <if test="platformName != null">
                and b.platform_name like concat('%', #{platformName},'%')
            </if>
            <if test="cooperation != null">
                and b.cooperation like concat('%', #{cooperation},'%')
            </if>
        GROUP BY
            DATE_FORMAT(a.create_time, '%Y-%m-%d'),
            a.plarforms_extend_id
        ORDER BY
            a.create_time DESC
        LIMIT ${iDisplayStart}, ${iDisplayLength}
    </select>

    <select id="queryAll" parameterType="map" resultMap="baseResultMap">
        SELECT DISTINCT
        DATE_FORMAT(a.create_time, '%Y-%m-%d') AS create_time,
        b.platform_name,
        b.cooperation,
        COUNT(0) AS diversion_num,
        COUNT(
        CASE
        WHEN (a.state = 1) THEN
        1
        END
        ) AS success_num,
        COUNT(
        CASE
        WHEN (a.state = 2) THEN
        2
        END
        ) AS fail_num
        FROM
        `platforms_extend_detail` a
        INNER JOIN platforms_extend b ON a.plarforms_extend_id = b.platforms_extend_id
        WHERE 1=1
        <if test="sDate != null">
            and DATE_FORMAT(a.create_time , '%Y-%m-%d') &gt;=  #{sDate}
        </if>
        <if test="eDate != null">
            and DATE_FORMAT(a.create_time , '%Y-%m-%d') &lt;=  #{eDate}
        </if>
        <if test="platformName != null">
            and b.platform_name like concat('%', #{platformName},'%')
        </if>
        <if test="cooperation != null">
            and b.cooperation like concat('%', #{cooperation},'%')
        </if>
        GROUP BY
        DATE_FORMAT(a.create_time, '%Y-%m-%d'),
        a.plarforms_extend_id
        ORDER BY
        a.create_time DESC
    </select>

</mapper>
