<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZTree">
	<resultMap id="zTreeResultMap" type="ZTree">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="pId" column="pId" />
		<result property="checked" column="checked" />
	</resultMap>
	
	<select id="queryAuthorTree" resultMap="zTreeResultMap">
		SELECT id,names as 'name',parent_id as 'pId' from sys_author
	</select>
	
	<!-- colum field -->
	<select id="queryViewColumnTree" resultMap="zTreeResultMap">
		SELECT id,names as 'name',parent_id as 'pId' from views_column
		where is_parent = '1'
		ORDER BY parent_id,orders
	</select>
	
	<select id="queryViewColumnsTree" resultMap="zTreeResultMap">
		SELECT id,names as 'name',parent_id as 'pId' from views_column
		ORDER BY parent_id,orders
	</select>
	
	<select id="queryViewPosterTree" resultMap="zTreeResultMap">
		SELECT DISTINCT vc.id ,vc.names as 'name',vc.parent_id as 'pId' from views_column_poster vcp
		LEFT JOIN views_column vc on vcp.parent_colum_code = vc.id
		UNION 
		SELECT DISTINCT vc.id ,vc.names as 'name',vc.parent_id as 'pId' from views_column_poster vcp
		LEFT JOIN views_column vc on vcp.colum_code = vc.id
	</select>
	<!-- colum field -->
	
	<select id="queryViewColumnDataTree" resultMap="zTreeResultMap">
		SELECT id,names as 'name',parent_id as 'pId' from views_column_data
		where 1=1
		<if test="null != is_parent">and is_parent = '1'</if>
		<if test="null != ctype"><![CDATA[and ctype<#{ctype}]]></if>
		ORDER BY parent_id,orders
	</select>
	
	<select id="queryParentColumnsTree" resultMap="zTreeResultMap">
		SELECT id,names as 'name',parent_id as 'pId' from views_column
		where 1=1
		<if test="null != is_parent">and is_parent = '1'</if>
		<if test="null != ctype"><![CDATA[and ctype<#{ctype}]]></if>
		ORDER BY parent_id,orders
	</select>
	
	<select id="queryViewColumnDataRadioTree" resultMap="zTreeResultMap">
		SELECT id,names as 'name',parent_id as 'pId',(
			SELECT count(id) from views_field_column where field_id=#{fieldid} and column_id=views_column_data.id
		) as 'checked'
		from views_column_data
		where 1=1
		ORDER BY parent_id,orders
	</select>
	
	<select id="queryMenuParent" resultMap="zTreeResultMap">
		SELECT  id,`names` 'name',parent_id 'pId' FROM sys_menu WHERE parent_id='0'
	</select>
</mapper>
