<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerDelate">

	<resultMap type="com.calf.module.customerservice.entity.CustomerDelate" id="customerDelateMap">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="customerId" column="customer_id" javaType="java.lang.Long"></result>
		<result property="delateCustId" column="delate_cust_id" javaType="java.lang.Long"></result>
		<result property="delateId" column="delate_id" javaType="java.lang.Integer"></result>
		<result property="delateContent" column="delate_content" javaType="java.lang.String"></result>
		<result property="handleStatus" column="handle_status" javaType="java.lang.Integer"></result>
		<result property="handleResult" column="handle_result" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="handleTime" column="handle_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="handleUser" column="handle_user" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>
	
	<resultMap type="com.calf.module.customerservice.vo.CustomerDelateVO" id="customerDelateVOMap">
		<id property="id" column="id" javaType="java.lang.Integer"></id>
		<result property="customerId" column="customer_id" javaType="java.lang.String"></result>
		<result property="nickName" column="nick_name" javaType="java.lang.String"></result>
		<result property="phone" column="phone" javaType="java.lang.String"></result>
		<result property="delateCustId" column="delate_cust_id" javaType="java.lang.String"></result>
		<result property="delateId" column="delate_id" javaType="java.lang.Integer"></result>
		<result property="delateName" column="delateName" javaType="java.lang.String"></result>
		<result property="delateContent" column="delate_content" javaType="java.lang.String"></result>
		<result property="handleStatus" column="handle_status" javaType="java.lang.Integer"></result>
		<result property="handleResult" column="handle_result" javaType="java.lang.String"></result>
		<result property="createTime" column="create_time" javaType="java.lang.String"></result>
		<result property="modifyTime" column="modify_time" javaType="java.lang.String"></result>
		<result property="handleTime" column="handle_time" javaType="java.lang.String"></result>
		<result property="createMan" column="create_man" javaType="java.lang.String"></result>
		<result property="modifyMan" column="modify_man" javaType="java.lang.String"></result>
		<result property="handleUser" column="handle_user" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="delateName" column="delateName" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
id,	customer_id,	delate_cust_id,	delate_id,	delate_content,	handle_status,	handle_result,	create_time,	modify_time,	handle_time,	create_man,	modify_man,	handle_user,	remark
	</sql>
	
	<select id="queryCustomerDelateList" resultMap="customerDelateVOMap">
		select 
		cus.nick_name,cus.phone,cd.id,cd.customer_id,cd.delate_cust_id,del.name as delateName,
		cd.delate_id,cd.delate_content,cd.handle_status,cd.handle_result,
		cd.create_time,cd.modify_time,cd.handle_time,cd.create_man,cd.modify_man,
		cd.handle_user,cd.remark
		from customer_delate cd
		left join customer cus on cus.customer_id = cd.customer_id
		left join delate del on del.id = cd.delate_id 
		<where>
			<if test="nickName != null">and  cus.nick_name like concat('%',#{nickName},'%')</if>
			<if test="delateName != null">and  del.name like concat('%',#{delateName},'%')</if>
			<if test="phone != null">and  cus.phone = #{phone}</if>
			<if test="startTime !=null and startTime!=''">and cd.create_time <![CDATA[  >= ]]> #{startTime}</if>
        	<if test="endTime !=null and endTime!=''">and cd.create_time <![CDATA[  <= ]]> #{endTime}</if>
		</where>
		order by cd.modify_time desc
		limit ${iDisplayStart},${iDisplayLength}
	</select>
	
	<select id="queryCustomerDelateById" resultMap="customerDelateVOMap">
	select 
		cus.nick_name,cus.phone,cd.id,cd.customer_id,cd.delate_cust_id,del.name as delateName,
		cd.delate_id,cd.delate_content,cd.handle_status,cd.handle_result,
		cd.create_time,cd.modify_time,cd.handle_time,cd.create_man,cd.modify_man,
		cd.handle_user,cd.remark
		from customer_delate cd
		left join customer cus on cus.customer_id = cd.customer_id
		left join delate del on del.id = cd.delate_id 
	where cd.id = #{id}
	</select>
	
	<select id="queryCount" resultType="java.lang.Integer">
		select count(*)
		from customer_delate cd
		left join customer cus on cus.customer_id = cd.customer_id
		<where>
			<if test="nickName != null">and  cus.nick_name like concat('%',#{nickName},'%')</if>
			<if test="phone != null">and  cus.phone = #{phone}</if>
			<if test="startTime !=null and startTime!=''">and cd.create_time <![CDATA[  >= ]]> #{startTime}</if>
        	<if test="endTime !=null and endTime!=''">and cd.create_time <![CDATA[  <= ]]> #{endTime}</if>
		</where>
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="getEntityById" resultMap="customerDelateMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM customer_delate
		 WHERE id = #{id}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findAll" resultMap="customerDelateMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM customer_delate
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteEntity" parameterType="java.lang.Integer">
		 DELETE FROM customer_delate
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="saveEntity" parameterType="com.calf.module.customerservice.entity.CustomerDelate">
		 INSERT INTO customer_delate
 		(id,customer_id,delate_cust_id,delate_id,delate_content,handle_status,handle_result,create_time,modify_time,handle_time,create_man,modify_man,handle_user,remark) 
		 VALUES 
 		(#{id},#{customerId},#{delateCustId},#{delateId},#{delateContent},#{handleStatus},#{handleResult},#{createTime},#{modifyTime},#{handleTime},#{createMan},#{modifyMan},#{handleUser},#{remark}) 
	</insert>

	<!-- 修 改-->
	<update id="updateEntity" >
		 UPDATE customer_delate
 		 <set> 
			<if test="customerId != null">
				 customer_id = #{customerId},
			</if>
			<if test="delateCustId != null">
				 delate_cust_id = #{delateCustId},
			</if>
			<if test="delateId != null">
				 delate_id = #{delateId},
			</if>
			<if test="delateContent != null">
				 delate_content = #{delateContent},
			</if>
			<if test="handleStatus != null">
				 handle_status = #{handleStatus},
			</if>
			<if test="handleResult != null">
				 handle_result = #{handleResult},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="modifyTime != null">
				 modify_time = #{modifyTime},
			</if>
			<if test="handleTime != null">
				 handle_time = #{handleTime},
			</if>
			<if test="createMan != null">
				 create_man = #{createMan},
			</if>
			<if test="modifyMan != null">
				 modify_man = #{modifyMan},
			</if>
			<if test="handleUser != null">
				 handle_user = #{handleUser},
			</if>
			<if test="remark != null">
				 remark = #{remark},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>